@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.SkipLink {
  position: absolute;

  &:focus {
    background-color: $color-background-default;
    color: $color-text-skip-link;
    height: auto;
    line-height: 40px;
    padding: 10px 20px;
    text-decoration: none;
    top: 48px;
    width: auto;
    z-index: $z-index-sticky;

    @media (min-width: breakpoint(688)) {
      top: #{(90 / $max-width) * 100vw};
    }

    @media (min-width: $mq-min-container) {
      top: 90px;
    }
  }

  &.visuallyhidden.focusable:focus {
    position: absolute;
  }
}
