@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Introduction {
  margin-bottom: 130px;
  margin-top: 90px;
  max-width: 786px;

  @media (min-width: $mq-min-468) {
    margin-top: #{(248 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-630) {
    margin-bottom: #{(266 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 266px;
    margin-top: 248px;
  }
}

.ImageBlock {
  margin-bottom: 104px;
  margin-top: 104px;

  @media (min-width: $mq-min-746) {
    margin-bottom: #{(180 / $max-width) * 100vw};
    margin-top: #{(180 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 180px;
    margin-top: 180px;
  }
}

.Testimonial {
  margin: 86px auto;

  @media (min-width: breakpoint(957)) {
    margin-bottom: #{(116 / $max-width) * 100vw};
    margin-top: #{(116 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 116px;
    margin-top: 116px;
  }
}

.Feature {
  margin-bottom: 104px;
  margin-top: 104px;

  @media (min-width: breakpoint(516)) {
    margin-bottom: #{(260 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-746) {
    margin-top: #{(180 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 260px;
    margin-top: 180px;
  }
}

.PartnershipsPage-hr {
  @media (max-width: $mq-max-544) {
    display: none;
  }
}
