<div class="Statistic">
  <div class="Statistic-icon">
    {{> @icon id=statistic.icon }}
  </div>

  <div class="Statistic-data">
    <div class="Statistic-number">
      {{ statistic.number }}
    </div>

    <div class="Statistic-label">
      {{ statistic.label }}
    </div>
  </div>
</div>
