{{> @banner className="Banner--bordered" }}

<main id="main" role="main" tabindex="0" class="InvestorsPage-news">
  {{> @sub-navigation }}

  <div class="page-content grid two-column container padded">
    <section class="grid-section">
      <h1>{{ title }}</h1>
    </section>

    <section class="grid-aside">
      {{ render "@search" }}
    </section>

    <section class="grid-section">
      {{#each newsArticles}}
        {{> @news-article--preview newsArticle=this }}
      {{/each}}
    </section>
  </div>

  <footer class="page-footer container">
    {{ render "@utility-links" }}

    <hr class="dark">

    {{> @next-page }}
  </footer>
</main>

{{ render "@contentinfo" }}
