@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.MapWidget {
  background-color: rgba($color-background-overlay, $opacity-10);
  height: #{(550 / $max-width) * 100vw};
  max-height: 550px;
  min-height: 200px;
  width: 100%;
}
