@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Sub Navigation
 * @type Molecule
 */

// $timing--fast: 200ms;
// $easing--default: ease-in-out;
$gutter: 24;
$z--bottom: 10;

@mixin marker() {
  background-color: #b5955d;
  bottom: 0;
  height: 3px;
  position: absolute;
}

.SubNavigation {
  background-color: #fff;
  // border-bottom: 1px solid #fff;
  color: $color-text-default;
  font-size: 12px;
  // height: 81px;
  height: 64px;
  overflow: hidden;
  // transition: border-color 200ms;
  position: relative;

  // @media (max-width: 599px) {
  //   border-bottom-color: rgba(#bfd0d8, .37);
  // }

  @media (min-width: 600px) {
    font-size: 16px;
    height: 90px;
  }

  // &.is-sticky {
  //   border-bottom-color: rgba(#bfd0d8, .37);
  // }

  &::after,
  &::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: #{$gutter}px;
    z-index: $z--bottom + 1;
  }

  &::before {
    background: linear-gradient(to right, #fff 20%, rgba(#fff, 0) 100%);
    left: 0;
  }

  &::after {
    background: linear-gradient(to left, #fff 20%, rgba(#fff, 0) 100%);
    right: 0;
  }
}

.SubNavigation-list {
  border-bottom: 1px solid rgba(#bfd0d8, .37);
  // color: currentColor;
  // font-family: sans-serif;
  // font-size: 16px;
  // height: calc(100% + 15px);
  line-height: 1;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;

  @media (max-width: 1006px) {
    padding-left: #{($gutter - 14)}px;
    padding-right: #{($gutter - 14)}px;
  }

  @media (min-width: 1007px) {
    margin-left: auto;
    margin-right: auto;
    max-width: #{$max-width}px;
  }

  .SubNavigation:not(.SubNavigation--scrollSpy) & {
    border-bottom-color: #fff;
  }
}

.SubNavigation-item {
  display: inline-block;
  height: 100%;
  margin-left: 14px;
  margin-right: 14px;
  padding-bottom: 22px;
  padding-top: 26px;
  position: relative;

  @media (min-width: 600px) {
    padding-bottom: 34px;
    padding-top: 39px;
  }
}

.SubNavigation-item.is-active::after {
  .SubNavigation:not(.SubNavigation--scrollSpy) & {
    @include marker();
    content: "";
    left: 0;
    opacity: 1;
    width: 100%;
  }
}

.SubNavigation-link {
  color: currentColor;
  position: relative;
  text-decoration: none;
  transition: color 200ms;

  // &::after {
  //   background-color: currentColor;
  //   bottom: -1px;
  //   content: '';
  //   height: 1px;
  //   left: 0;
  //   position: absolute;
  //   transform: scaleX(0);
  //   transition: background-color $timing--fast $easing--default,
  //     transform ($timing--fast - 50);
  //   width: 100%;
  // }

  &:hover,
  &:active {
    .SubNavigation-item:not(.is-active) & {
      color: rgba(#446975, .60);
    }

    // &::after {
    //   transform: scaleX(1);
    // }
  }

  &:active,
  &:focus {
    // color: rgba(#446975, .60);

    // &::after {
    //   background-color: currentColor;
    // }
  }
}

.SubNavigation-marker {
  @include marker();
  opacity: 0;
  transition: opacity 200ms;
  width: 0;
}
