@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Filter
 * @type Organism
 */

.Filter {
  max-width: #{960}px;
  width: 100%;

  @media (min-width: 922px) {
  }

  label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 8px;
  }

  input,
  select,
  .Button {
    height: 44px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .HelpTip {
    margin-left: 8px;
    vertical-align: text-top;
  }
}

.Filter-controls {
  align-items: flex-end;
  display: flex;
  width: 100%;

  @media (max-width: 699px) {
    flex-wrap: wrap;
  }
}

.Filter-fieldset:nth-child(1) {
  width: 100%;

  @media (max-width: 699px) {
    margin-bottom: 20px;
  }

  @media (min-width: 700px) {
    width: #{(300 / 960) * 100%};
  }
}

.Filter-fieldset:nth-child(2),
.Filter-fieldset:nth-child(3) {
  width: calc(50% - 8px);

  @media (min-width: 700px) {
    width: #{(190 / 960) * 100%};
  }
}

.Filter-fieldset:nth-child(3) {
  @media (max-width: 699px) {
    margin-left: 16px;
  }
}

.Filter-fieldset {
  input,
  select {
    display: block;
    width: 100%;

    @media (max-width: 699px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.Filter-button,
.Filter-fieldset + .Filter-fieldset {
  @media (min-width: 700px) {
    margin-left: 8px;
  }

  @media (min-width: 840px) {
    margin-left: 32px;
  }
}

.Filter-button {
  border-radius: 22px;

  @media (max-width: 699px) {
    margin-top: 40px;
  }

  @media (min-width: 700px) {
    width: #{(184 / 960) * 100%};
  }
}

.Filter-link {
  display: inline-block;
  font-size: 12px;
  margin-top: 24px;

  @media (min-width: 700px) {
    margin-top: 48px;
  }
}
