@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Filter
 * @type Organism
 */

.Filter {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  max-width: #{960}px;
  width: 100%;

  label {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 8px;
  }

  input,
  select,
  .Button {
    height: 44px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .HelpTip {
    margin-left: 8px;
    vertical-align: text-top;
  }
}

.Filter-button,
.Filter-fieldset + .Filter-fieldset {
  // margin-left: #{(32 / $max-width) * 100%};
  margin-left: 32px;
}

.Filter-button,
.Filter-fieldset {
  // flex: 1 0 auto;
}

// .Filter-button {
//   border-radius: 22px;
// }

.Filter-link {
  margin-top: 48px;
}
