@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.HelpTip {
  align-items: center;
  border: #{(1 / $font-size-help-tip) * 1em} solid currentColor;
  border-radius: 100%;
  color: $color-text-help-tip;
  display: inline-flex;
  font-size: #{$font-size-help-tip}px;
  height: #{(20 / $font-size-help-tip) * 1em};
  justify-content: center;
  text-align: center;
  transform: color $timing-fast;
  width: #{(20 / $font-size-help-tip) * 1em};

  &:hover,
  &:active,
  &:focus {
    color: $color-text-help-tip-hover;
  }
}
