@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.UtilityLinks {
  display: flex;
  font-size: #{$font-size-body-small}px;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $mq-min-560) {
    border-top: 1px solid rgba($color-border-default, $opacity-37);
    flex-wrap: wrap;
    line-height: (28 / $font-size-body-small-min);
    padding-top: 40px;
  }

  a {
    @media (max-width: $mq-min-560) {
      width: 50%;
    }
  }
}
