@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

hr {
  background-color: rgba($color-border-default, $opacity-47);
  border: 0;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;

  &.dark {
    background-color: $color-border-default;
  }
}
