// $color-text-default: #8f9aa8; // rgb(143, 154, 168) // Regent Gray
// $color-text-heading: #21365a; // rgb(33, 54, 90) // Cloud Burst
// $color-text-overlay: #fff; // rgb(255, 255, 255) // White
$color-accent-mint: #edf6f6; // rgb(237, 246, 246) // Catskill White
$color-accent-gray: #b4c2c7; // rgb(180, 194, 199) // Submarine
$color-accent-teal: #6091a1; // rgb(96, 145, 161) // Horizon
// -- #6098af rgb(96, 152, 175) // Hippie Blue
// -- #6facc1 rgb(111, 172, 193) // Glacier
// $color-button-background: #5d91a1; // rgb(93, 145, 161) // Horizon
// $color-background-footer: #152640; // rgb(21, 38, 64) // Big Stone
// $color-border-default: #bfd0d8; // rgb(191, 208, 216) // Jungle Mist
// $color-gradient-start: #b5955d; // rgb(181, 149, 93) // Muddy Waters
// $color-gradient-end: #5e91a1; // rgb(94, 145, 161) // Horizon
// $color-text-hamburger: #275e70; // rgb(39, 94, 112) // Casal
$color-home-heading: #435e6c; // rgb(67, 94, 108) // Fiord
// $color-text-introduction: #819ba3; // rgb(129, 155, 163) // Gumbo
// $color-border-introduction: #b5955d; // rgb(181, 149, 93) // Muddy Waters
$color-shadow-finder: #042435; // rgb(4, 36, 53) // Tangaroa
$color-legend-finder: #25395d; // rgb(37, 57, 93) // Cloud Burst
$color-button-finder: #406c7a; // rgb(64, 108, 122) // Bismark
$color-masthead-text-shadow: #6facc1; // rgb(111, 172, 193) // Glacier
$color-more-link: #12769f; // rgb(18, 118, 159) // Blue Chill
$color-navigation: #7d7d7d; // rgb(125, 125, 125) // Boulder
// $color-background-overlay: #000; // rgb(0, 0, 0) // Black
$color-select-text: #757675; // rgb(117, 118, 117) // Xanadu
$color-select-icon: #5e91a1; // rgb(94, 145, 161) // Horizon
$color-card-text: #77919e; // rgb(119, 145, 158) // Gothic
$color-card-shadow: #6b778c; // rgb(107, 119, 140) // Slate Gray
$color-stat-shadow: #729ba8; // rgb(114, 155, 168) // Gothic
$color-stat-text-shadow: #446975; // rgb(68, 105, 117) // Blue Bayoux
$color-text-sub-nav: #446975; // rgb(68, 105, 117) // Blue Bayoux
$color-border-sub-nav-marker: #da745b; // rgb(218, 116, 91) // Japonica
