@import "design-tokens";
@import "functions";
@import "mixins";

$mq: #{(1024 / 16) * 1em};

@keyframes expand {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@media (min-width: $mq) {
  .js:not(.disable-animations) {
    .CoverVideo,
    .Masthead .CoverPhoto {
      opacity: 0;
      transition: opacity 1s 1s;

      &.animate {
        opacity: 1;
      }
    }

    .Masthead-title {
      display: block;
      opacity: 0;
      transform: translate3d(0, 48px, 0);
      transform-style: preserve-3d;
      transition: opacity .6s cubic-bezier(.23, 1, .32, 1) 1s,
        transform .6s cubic-bezier(.175, .885, .32, 1.275) 1s;

      &.animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .Masthead .Tagline {
      div {
        overflow: hidden;
      }

      div:last-child {
        padding-bottom: 4px;
      }

      span {
        display: block;
        transform: translate3d(0, 100%, 0);
        transition: transform .6s 1s;
      }

      &.animate span {
        transform: translate3d(0, 0, 0);
      }
    }

    .Masthead .MoreLink {
      overflow: hidden;
      padding: 4px 22px 4px 16px;
      top: -4px;

      .MoreLink-text {
        opacity: 0;
        transition: opacity .4s 1.4s;
      }

      &.animate .MoreLink-text {
        opacity: 1;
      }

      .MoreLink-bar {
        background-color: $color-background-default;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(0, 0, 0);
        transform-style: preserve-3d;
        transition: transform .5s 1.6s;
        width: 100%;
      }

      &.animate .MoreLink-bar {
        animation: expand .3s 1.3s 1 backwards;
        transform: translate3d(100%, 0, 0);
      }
    }

    .LocationFinder {
      opacity: 0;
      transform: translate3d(0, 80px, 0);
      transform-style: preserve-3d;
      transition: opacity .5s 1.2s, transform 1s 1.3s;

      &.animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .Introduction {
      opacity: 0;
      transform: translate3d(0, 40px, 0);
      transform-style: preserve-3d;
      transition: opacity .25s cubic-bezier(.23, 1, .32, 1),
        transform .25s cubic-bezier(.175, .885, .32, 1.275);

      &.animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    body:not(.HomePage) .Introduction {
      transition-delay: 1.3s;
    }

    .ImageBlock {
      > a::after {
        background-color: $color-background-default;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(0, 0, 0);
        transform-style: preserve-3d;
        transition: transform .5s ease-out;
        width: 100%;
      }

      &.animate > a::after {
        transform: translate3d(100%, 0, 0);
      }

      .ImageBlock-photo {
        transform: scale3d(1.1, 1.1, 1.1);
        transition: transform 2s ease-out;
      }

      &.animate .ImageBlock-photo {
        transform: scale3d(1, 1, 1);
      }

      .ImageBlock-text {
        opacity: 0;
        transition: opacity .5s ease-out;
      }

      &.animate .ImageBlock-text {
        opacity: 1;
      }
    }

    .Testimonial {
      opacity: 0;
      transform: translate3d(0, 40px, 0);
      transform-style: preserve-3d;
      transition: opacity .5s ease-out, transform .5s ease-out;

      &.animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .Feature .CoverPhoto {
      transform: scale3d(1.1, 1.1, 1.1);
      transform-style: preserve-3d;
      transition: transform 2s ease-out;

      &.animate {
        transform: scale3d(1, 1, 1);
      }
    }

    .ServiceCards {
      .ServiceCard {
        opacity: 0;
        transform: translate3d(0, 56px, 0);
        transition: opacity .5s cubic-bezier(.23, 1, .32, 1),
          transform .5s cubic-bezier(.175, .885, .32, 1.275);

        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            transition-delay: #{.5 + ($i * .15)}s;
          }
        }
      }

      &.animate .ServiceCard {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .LeadershipTeam {
      .TeamMember {
        opacity: 0;
        transform: translate3d(0, 56px, 0);
        transition: opacity .5s cubic-bezier(.23, 1, .32, 1),
          transform .5s cubic-bezier(.175, .885, .32, 1.275);

        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            transition-delay: #{.5 + ($i * .15)}s;
          }
        }
      }

      &.animate .TeamMember {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .Highlight {
      opacity: 0;
      transform: translate3d(0, 56px, 0);
      transition: opacity .5s cubic-bezier(.23, 1, .32, 1),
        transform .5s cubic-bezier(.175, .885, .32, 1.275);

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: #{.5 + ($i * .15)}s;
        }
      }

      &.animate {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
