// ---------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------

// Background colors
$color-background-default: #fff; // rgb(255, 255, 255) // White
$color-background-footer: #152640; // rgb(21, 38, 64) // Big Stone
$color-background-cover-gradient-start: #b5955d; // rgb(181, 149, 93) // Muddy Waters
$color-background-cover-gradient-end: #5d91a1; // rgb(93, 145, 161) // Horizon
$color-background-overlay: #000; // rgb(0, 0, 0) // Black
$color-background-button-default: #5d91a1; // rgb(93, 145, 161) // Horizon
$color-background-button-dark: #152640; // rgb(21, 38, 64) // Big Stone
$color-background-pagination-hover: rgba(#619ab1, 0.06); // rgb(97, 154, 177) // Hippie Blue
$color-background-input: #fff; // rgb(255, 255, 255) // White
$color-background-input-dark: #152640; // rgb(21, 38, 64) // Big Stone
$color-sub-navigation-marker: #b5955d; // rgb(181, 149, 93) // Muddy Waters

// Border colors
$color-border-default: #bfd0d8; // rgb(191, 208, 216) // Jungle Mist
$color-border-introduction: #b5955d; // rgb(181, 149, 93) // Muddy Waters
$color-border-button-dark: rgba($color-border-default, 0.2); // rgb(191, 208, 216) // Jungle Mist
$color-border-pagination-active: #619ab1; // rgb(97, 154, 177) // Hippie Blue
$color-border-input: #bfd0d8; // rgb(191, 208, 216) // Jungle Mist
$color-border-input-dark: rgba(#bfd0d8, 0.2); // rgb(191, 208, 216) // Jungle Mist

// Text colors
$color-text-default: #646e7e; // #8f9aa8; // rgb(143, 154, 168) // Regent Gray
$color-text-heading: #25395d; // rgb(37, 57, 93) // Cloud Burst
$color-text-overlay: #fff; // rgb(255, 255, 255) // White
$color-text-introduction: #25395d; // rgb(37, 57, 93) // Cloud Burst
$color-text-hamburger: #275e70; // rgb(39, 94, 112) // Casal
$color-text-hamburger-overlay: #fff; // rgb(255, 255, 255) // White
$color-text-service-card: #77919e; // rgb(119, 145, 158) // Gothic
$color-text-more-link: #12769f; // rgb(18, 118, 159) // Blue Chill
// $color-text-more-link: #12769f; // rgb(18, 118, 159) // Blue Chill
$color-text-link-default: #619ab1; // rgb(97, 154, 177) // Hippie Blue
$color-text-link-default-hover: #819ba3; // rgb(129, 155, 163) // Gumbo
$color-text-input: #77919e; // rgb(119, 145, 158) // Gothic
$color-text-input-dark: #fff; // rgb(255, 255, 255) // White
$color-text-help-tip: #6facc1; // rgb(111, 172, 193) // Glacier
$color-text-help-tip-hover: #8f9aa8; // rgb(143, 154, 168) // Regent Gray
$color-text-search-button: #6facc1; // rgb(111, 172, 193) // Glacier
$color-text-search-button-hover: #8f9aa8; // rgb(143, 154, 168) // Regent Gray
$color-text-meta: #b5955d; // rgb(181, 149, 93) // Muddy Waters
$color-text-positive: #6fc179;
$color-text-negative: #d90a0a;
$color-text-blockquote: #25395d; // rgb(37, 57, 93) // Cloud Burst
$color-text-arrow: #bfd0d8; // rgb(191, 208, 216) // Jungle Mist

$color-accent-mint: #edf6f6; // rgb(237, 246, 246) // Catskill White
$color-accent-gray: #b4c2c7; // rgb(180, 194, 199) // Submarine
$color-accent-teal: #6091a1; // rgb(96, 145, 161) // Horizon
$color-home-heading: #435e6c; // rgb(67, 94, 108) // Fiord
$color-shadow-finder: #042435; // rgb(4, 36, 53) // Tangaroa
$color-legend-finder: #25395d; // rgb(37, 57, 93) // Cloud Burst
$color-button-finder: #406c7a; // rgb(64, 108, 122) // Bismark
$color-masthead-text-shadow: #6facc1; // rgb(111, 172, 193) // Glacier
$color-more-link: #12769f; // rgb(18, 118, 159) // Blue Chill
$color-navigation: #7d7d7d; // rgb(125, 125, 125) // Boulder
$color-select-text: #757675; // rgb(117, 118, 117) // Xanadu
$color-select-icon: #5e91a1; // rgb(94, 145, 161) // Horizon
$color-card-text: #77919e; // rgb(119, 145, 158) // Gothic
$color-card-shadow: #6b778c; // rgb(107, 119, 140) // Slate Gray
$color-stat-shadow: #729ba8; // rgb(114, 155, 168) // Gothic
$color-stat-text-shadow: #446975; // rgb(68, 105, 117) // Blue Bayoux
$color-text-sub-nav: #446975; // rgb(68, 105, 117) // Blue Bayoux
$color-border-sub-nav-marker: #da745b; // rgb(218, 116, 91) // Japonica
$color-text-skip-link: #446975; // rgb(68, 105, 117) // Blue Bayoux

// ---------------------------------------------------------------------
// Gradients
// ---------------------------------------------------------------------

// section-gradient
// background: linear-gradient(to bottom, #fcfaf7 0%, #fff 100%);
// cover-photo
// background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);

// h2
// color: #21365a;
// h3
// color: #21365a;
// p
// color: #8f9aa8;

// #b4c2c7, #6091a1 Building icon
// #b4c2c7, #6091a1 Eye icon
// #edf6f6, #6091a1 First aid icon
// #b4c2c7, #6091a1, #6facc1 Pill icon
// #b4c2c7, #6098af Stethoscope icon
// #b4c2c7, #6091a1 Syringe icon

// Button
// background-color: #5d91a1;
// color: #fff;
// Button--dark
// background-color: #152640;
// border: 1px solid rgba(#bfd0d8, 0.2);

// CoverPhoto, CoverVideo
// background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);

// Contentinfo
// background-color: #152640;
// color: rgba(#fff, 0.57);
// Contentinfo h4
// color: #fff;
// Contentinfo a:hover
// color: rgba(#fff, 0.77);
// Contentinfo-contact
// border-left: 1px solid rgba(#bfd0d8, 0.07);
// Contentinfo-navigation
// border-top: 1px solid rgba(#bfd0d8, 0.2);
// Contentinfo-link span::before
// background-color: rgba(#bfd0d8, 0.07);
// Contentinfo-copyright
// border-top: 1px solid rgba(#bfd0d8, 0.2);

// Banner
// background-color: #fff;

// Hamburger
// color: #275e70;
// Hamburger--white
// color: #fff;

// ImageBlock-text h2
// color: #435e6c;

// Introduction
// color: #819ba3;
// Introduction::after
// background-color: #b5955d;

// LocationFinder
// background-color: #fff;
// box-shadow: rgba(#000, 0.5), rgba(#042435, 0.39);
// LocationFinder legend
// color: rgba(#25395d, 0.79);
// LocationFinder select
// border-left: 1px solid rgba(#bfd0d8, 0.27);

// LocationFinderButton
// box-shadow: rgba(#406c7a, 0.22);

// Masthead-title
// color: $color-text-overlay;
// text-shadow: 0 0 54px #6facc1;

// MoreLink
// color: #12769f;
// MoreLink--white
// color: #fff;

// Navigation
// background-color: #fff;
// color: #7d7d7d;
// Navigation li:not(:first-child)
// border-top: 1px solid rgba(#7d7d7d, 0.16);
// Navigation a:hover
// color: #5d91a1;

// Overlay
// background-color: rgba(#000, 0.20);

// select
// background-color: #fff;
// color: #757675;
// svg fill: rgba(#5e91a1, 0.87)
// select.dark
// background-color: #152640;
// border-color: rgba(#bfd0d8, 0.2);
// color: #fff;
// svg fill: #bfd0d8

// ServiceCard
// color: #77919e;
// background-color: #fff;
// box-shadow: 0 22px 54px rgba(#6b778c, 0.21);

// SkipLink:focus
// background-color: #fff;
// color: #5d91a1;

// Statistic
// color: #fff;
// Statistic-icon
// background-color: #fff;
// box-shadow: 0 11px 46px rgba(#729ba8, 0.28);
// color: #25395d;
// Statistic-number
// text-shadow: 0 0 34px #446975;
// Statistic-label
// text-shadow: 0 0 34px #446975;

// SubNavigation
// background-color: #fff;
// border-bottom: 1px solid #fff;
// color: #446975;
// SubNavigation.is-sticky
// border-bottom-color: rgba(#bfd0d8, 0.37);
// SubNavigation::before
// background: linear-gradient(to right, #fff 20%, rgba(#fff, 0) 100%);
// SubNavigation::after
// background: linear-gradient(to left, #fff 20%, rgba(#fff, 0) 100%);
// SubNavigation-link:hover
// color: rgba(#446975, 0.60);
// SubNavigation-marker
// background-color: #da745b;

// Tagline--white
// color: #fff; White

// TeamMember-name
// color: #25395d; Cloud Burst
// TeamMember-title
// color: #b5955d; Muddy Waters
// TeamMember-panel
// background-color: #fff; White
// box-shadow: 0 42px 84px rgba(#000, 0.3); Black
// TeamMember-bio
// color: #8f9aa8; // Regent Gray

// Background color
$background-white: #fff;
$background-blue: #1f6b9c;
$background-plum: #973b8a;
$background-green: #00d494;
$background-peach: #db755c;
$background-yellow: #ffc83f;

// Text color
$color-text-black: #000;

// navy: #152640 #172741;
// steel: #c8d6e1;
// graphite: #686f79;
// teal: #5e91a2 #11779f;
// light gray: #c8cdd1 #f0f1f3;

// ---------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-serif: "Mate", Georgia, sans-serif;

// ---------------------------------------------------------------------
// Typography
// ---------------------------------------------------------------------

// Font size
$font-size-default: 16;
$font-size-default-min: 14;

$font-size-body-small: 14;
$font-size-body-small-min: 12;

$font-size-body-tiny: 10;

$font-size-heading-super: 72;
$font-size-heading-super-min: 32;

$font-size-heading-1: 48;
$font-size-heading-1-min: 32;

$font-size-heading-2: 32;
$font-size-heading-2-min: 24;

$font-size-heading-3: 24;
$font-size-heading-3-min: 16;

$font-size-heading-4: 20;
$font-size-heading-4-min: 16;

$font-size-heading-5: 16;
$font-size-heading-5-min: 14;

// $font-size-heading-5: 14;
// $font-size-heading-5-min: 12;

$font-size-heading-6: 12;
$font-size-heading-6-min: 10;

// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line height
$line-height-default: (28 / $font-size-default);
$line-height-default-min: (24 / $font-size-default-min);

$line-height-body-small: (19 / $font-size-body-small);
// $line-height-body-small-min: (17 / $font-size-body-small-min);

$line-height-heading-1: (58 / $font-size-heading-1);
// $line-height-heading-1-min: (43 / $font-size-heading-1-min);

$line-height-heading-2: (40 / $font-size-heading-2);
// $line-height-heading-2-min: (42 / $font-size-heading-2-min);

$line-height-heading-3: (32 / $font-size-heading-3);
// $line-height-heading-3-min: (24 / $font-size-heading-3-min);

$line-height-heading-4: (28 / $font-size-heading-4);
// $line-height-heading-4-min: (24 / $font-size-heading-4-min);

$line-height-heading-5: (24 / $font-size-heading-5);
// $line-height-heading-5-min: (20 / $font-size-heading-5-min);

$line-height-heading-6: (20 / $font-size-heading-6);
// $line-height-heading-6-min: (16 / $font-size-heading-6-min);

$line-height-reset: 1;

// ---------------------------------------------------------------------
// Opacity
// ---------------------------------------------------------------------

// ---------------------------------------------------------------------
// Spacing
// ---------------------------------------------------------------------
$spacing-gutter: 24;
$spacing-sub-navigation-gutter: 10;
$spacing-investors-page: 106;
$spacing-grid-padded: 106;

// ---------------------------------------------------------------------
// Dimensions
// ---------------------------------------------------------------------
$min-width: 320;
$max-width: 1290;
$max-width-investors-page: $max-width - ($spacing-investors-page * 2);
$max-width-investors-article: 630;
$max-width-content: 630;
$max-width-banner: 620;
$max-width-grid-padded: $max-width - ($spacing-grid-padded * 2);

// ---------------------------------------------------------------------
// Radius
// ---------------------------------------------------------------------

// ---------------------------------------------------------------------
// Sizing
// ---------------------------------------------------------------------

// ---------------------------------------------------------------------
// Shadow
// ---------------------------------------------------------------------

$shadow-location-finder: 0 2px 34px rgba(#1c2d3e, 0.09), 0 36px 84px rgba(#042435, 0.39);
$shadow-location-finder-sticky: 0 2px 34px rgba(#1c2d3e, 0.09);
$shadow-modal: 0 36px 84px rgba(#042435, 0.39);
$shadow-service-card: 0 22px 54px rgba(#6b778c, 0.21);
$shadow-team-member-panel: 0 42px 84px rgba(#1c2d3e, 0.3);

// ---------------------------------------------------------------------
// Time
// ---------------------------------------------------------------------

// ---------------------------------------------------------------------
// Media query
// ---------------------------------------------------------------------
$mq-max-480: #{((480 - 1) / $font-size-default) * 1em};
$mq-min-480: #{(480 / $font-size-default) * 1em};
$mq-max-670: #{((670 - 1) / $font-size-default) * 1em};
$mq-min-670: #{(670 / $font-size-default) * 1em};
$mq-max-720: #{((720 - 1) / $font-size-default) * 1em};
$mq-min-720: #{(720 / $font-size-default) * 1em};
$mq-max-860: #{((860 - 1) / $font-size-default) * 1em};
$mq-min-860: #{(860 / $font-size-default) * 1em};
$mq-max-container: #{((($max-width + ($spacing-gutter * 2)) - 1) / $font-size-default) * 1em};
$mq-min-container: #{(($max-width + ($spacing-gutter * 2)) / $font-size-default) * 1em};
$mq-max-banner: #{(($max-width-banner - 1) / $font-size-default) * 1em};
$mq-min-banner: #{($max-width-banner / $font-size-default) * 1em};

// ---------------------------------------------------------------------
// Z-index
// ---------------------------------------------------------------------
$z-index-toast: 10000;
$z-index-modal: 9000;
$z-index-overlay: 8000;
$z-index-dropdown: 7000;
$z-index-dialog: 6000;
$z-index-popup: 5000;
$z-index-sticky: 1000;
$z-index-default: 1;
$z-index-below: -1;
