// ---------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------

// Background colors
$color-background-default: #fff;
$color-background-footer: #152640;
$color-background-cover-gradient-start: #b5955d;
$color-background-cover-gradient-end: #5d91a1;
$color-background-section-gradient-start: #fcfaf7;
$color-background-section-gradient-end: #fff;
$color-background-overlay: #000;
$color-background-button-default: #5d91a1;
$color-background-button-dark: #152640;
$color-background-input: #fff;
$color-background-input-dark: #152640;
$color-sub-navigation-marker: #b5955d;
$color-background-pagination-hover: rgba(#619ab1, 0.06);

// Border colors
$color-border-default: #bfd0d8;
$color-border-introduction: #b5955d;
$color-border-pagination-active: #619ab1;
$color-border-button-dark: rgba($color-border-default, 0.2);
$color-border-input-dark: rgba(#bfd0d8, 0.2);

// Text colors
$color-text-default: #646e7e;
$color-text-heading: #25395d;
$color-text-overlay: #fff;
$color-text-introduction: #25395d;
$color-text-hamburger: #275e70;
$color-text-hamburger-overlay: #fff;
$color-text-service-card: #25395d;
$color-text-more-link: #12769f;
$color-text-link-default: #619ab1;
$color-text-link-default-hover: #819ba3;
$color-text-input: #77919e;
$color-text-input-dark: #fff;
$color-text-help-tip: #6facc1;
$color-text-help-tip-hover: #8f9aa8;
$color-text-search-button: #6facc1;
$color-text-search-button-hover: #8f9aa8;
$color-text-meta: #b5955d;
$color-text-positive: #6fc179;
$color-text-negative: #d90a0a;
$color-text-blockquote: #25395d;
$color-text-arrow: #bfd0d8;
$color-text-map-legend: #8f9aa8;
$color-text-table-cell-emphesis: #8f9aa8;
$color-text-logo: #717271;
$color-text-logo-arrow-left: #c0cdd5;
$color-text-logo-arrow-right: #619ab1;
$color-text-skip-link: #446975;
$color-text-sub-nav: #446975;
$color-text-select-arrow: rgba(#5e91a1, 0.87);

// ---------------------------------------------------------------------
// Gradients
// ---------------------------------------------------------------------

$gradient-cover-photo: linear-gradient(to bottom, $color-background-cover-gradient-start 0%, $color-background-cover-gradient-end 100%);
$gradient-section: linear-gradient(to bottom, $color-background-section-gradient-start 0%, $color-background-section-gradient-end 100%);
$gradient-stock-price-card: linear-gradient(to bottom, rgba(#b5955d, 0.07) 0%, rgba(#5e91a1, 0.07) 100%);

// ---------------------------------------------------------------------
// Fonts
// ---------------------------------------------------------------------

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-serif: "Mate", Georgia, sans-serif;

// ---------------------------------------------------------------------
// Typography
// ---------------------------------------------------------------------

// Font size
$font-size-default: 16;
$font-size-default-min: 14;
$font-size-body-small: 14;
$font-size-body-small-min: 12;
$font-size-body-tiny: 10;
$font-size-heading-super: 72;
$font-size-heading-super-min: 32;
$font-size-heading-1: 48;
$font-size-heading-1-min: 32;
$font-size-heading-2: 32;
$font-size-heading-2-min: 24;
$font-size-heading-3: 24;
$font-size-heading-3-min: 16;
$font-size-heading-4: 20;
$font-size-heading-4-min: 16;
$font-size-heading-5: 16;
$font-size-heading-5-min: 14;
$font-size-heading-6: 12;
$font-size-heading-6-min: 10;
$font-size-help-tip: 11;

// Font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line height
$line-height-default: (28 / $font-size-default);
$line-height-default-min: (24 / $font-size-default-min);
$line-height-body-small: (19 / $font-size-body-small);
$line-height-heading-1: (58 / $font-size-heading-1);
$line-height-heading-2: (40 / $font-size-heading-2);
$line-height-heading-3: (32 / $font-size-heading-3);
$line-height-heading-4: (28 / $font-size-heading-4);
$line-height-heading-5: (24 / $font-size-heading-5);
$line-height-heading-6: (20 / $font-size-heading-6);
$line-height-reset: 1;

// ---------------------------------------------------------------------
// Opacity
// ---------------------------------------------------------------------

$opacity-100: 1;
$opacity-80: 0.8;
$opacity-77: 0.77;
$opacity-70: 0.7;
$opacity-60: 0.6;
$opacity-57: 0.57;
$opacity-47: 0.47;
$opacity-40: 0.4;
$opacity-37: 0.37;
$opacity-27: 0.27;
$opacity-20: 0.2;
$opacity-16: 0.16;
$opacity-10: 0.1;
$opacity-07: 0.07;
$opacity-0: 0;

// ---------------------------------------------------------------------
// Spacing
// ---------------------------------------------------------------------

$spacing-gutter: 24;
$spacing-sub-navigation-gutter: 10;
$spacing-grid-padded: 106;

// ---------------------------------------------------------------------
// Dimensions
// ---------------------------------------------------------------------

$min-width: 320;
$max-width: 1290;
$max-width-content: 630;
$max-width-banner: 620;
$max-width-filter: 960;
$max-width-grid-padded: $max-width - ($spacing-grid-padded * 2);

// ---------------------------------------------------------------------
// Shadow
// ---------------------------------------------------------------------

$shadow-location-finder: 0 2px 34px rgba(#1c2d3e, 0.09), 0 36px 84px rgba(#042435, 0.39);
$shadow-location-finder-sticky: 0 2px 34px rgba(#1c2d3e, 0.09);
$shadow-location-finder-button: 0 10px 14px rgba(#406c7a, 0.22);
$shadow-modal: 0 36px 84px rgba(#042435, 0.39);
$shadow-service-card: 0 22px 54px rgba(#6b778c, 0.21);
$shadow-team-member-panel: 0 42px 84px rgba(#1c2d3e, 0.3);
$shadow-highlight-icon: 0 11px 46px rgba(#729ba8, 0.28);
$shadow-highlight-text: 0 0 34px #446975;
$shadow-masthead-title: 0 0 72px rgba(#0d3c4d, 0.4);
$shadow-table-row: 0 14px 34px rgba(#000, 0.09);
$shadow-feature-testimonial: 0 2px 24px rgba(#0d3c4d, 0.4);

// ---------------------------------------------------------------------
// Time
// ---------------------------------------------------------------------

$timing-fast: 200ms;
$timing-default: 400ms;

// ---------------------------------------------------------------------
// Media query
// ---------------------------------------------------------------------

$mq-max-320: breakpoint(320 - 1);
$mq-min-320: breakpoint(320);
$mq-max-375: breakpoint(375 - 1);
$mq-min-375: breakpoint(375);
$mq-max-420: breakpoint(420 - 1);
$mq-min-420: breakpoint(420);
$mq-max-436: breakpoint(436 - 1);
$mq-min-436: breakpoint(436);
$mq-max-468: breakpoint(468 - 1);
$mq-min-468: breakpoint(468);
$mq-max-480: breakpoint(480 - 1);
$mq-min-480: breakpoint(480);
$mq-max-520: breakpoint(520 - 1);
$mq-min-520: breakpoint(520);
$mq-max-544: breakpoint(544 - 1);
$mq-min-544: breakpoint(544);
$mq-max-500: breakpoint(500 - 1);
$mq-min-500: breakpoint(500);
$mq-max-560: breakpoint(560 - 1);
$mq-min-560: breakpoint(560);
$mq-max-600: breakpoint(600 - 1);
$mq-min-600: breakpoint(600);
$mq-max-615: breakpoint(615 - 1);
$mq-min-615: breakpoint(615);
$mq-max-620: breakpoint(620 - 1);
$mq-min-620: breakpoint(620);
$mq-max-624: breakpoint(624 - 1);
$mq-min-624: breakpoint(624);
$mq-max-630: breakpoint(630 - 1);
$mq-min-630: breakpoint(630);
$mq-max-645: breakpoint(645 - 1);
$mq-min-645: breakpoint(645);
$mq-max-650: breakpoint(650 - 1);
$mq-min-650: breakpoint(650);
$mq-max-660: breakpoint(660 - 1);
$mq-min-660: breakpoint(660);
$mq-max-670: breakpoint(670 - 1);
$mq-min-670: breakpoint(670);
$mq-max-687: breakpoint(687 - 1);
$mq-min-687: breakpoint(687);
$mq-max-700: breakpoint(700 - 1);
$mq-min-700: breakpoint(700);
$mq-max-720: breakpoint(720 - 1);
$mq-min-720: breakpoint(720);
$mq-max-746: breakpoint(746 - 1);
$mq-min-746: breakpoint(746);
$mq-max-800: breakpoint(800 - 1);
$mq-min-800: breakpoint(800);
$mq-max-808: breakpoint(808 - 1);
$mq-min-808: breakpoint(808);
$mq-max-840: breakpoint(840 - 1);
$mq-min-840: breakpoint(840);
$mq-max-860: breakpoint(860 - 1);
$mq-min-860: breakpoint(860);
$mq-max-980: breakpoint(980 - 1);
$mq-min-980: breakpoint(980);
$mq-max-1007: breakpoint(1007 - 1);
$mq-min-1007: breakpoint(1007);
$mq-max-1015: breakpoint(1015 - 1);
$mq-min-1015: breakpoint(1015);
$mq-max-1024: breakpoint(1024 - 1);
$mq-min-1024: breakpoint(1024);
$mq-max-1088: breakpoint(1088 - 1);
$mq-min-1088: breakpoint(1088);
$mq-max-1290: breakpoint(1290 - 1);
$mq-min-1290: breakpoint(1290);
$mq-max-container: breakpoint(($max-width + ($spacing-gutter * 2)));
$mq-min-container: breakpoint(($max-width + ($spacing-gutter * 2)));
$mq-max-banner: breakpoint($max-width-banner - 1);
$mq-min-banner: breakpoint($max-width-banner);

// ---------------------------------------------------------------------
// Z-index
// ---------------------------------------------------------------------

$z-index-toast: 10000;
$z-index-modal: 9000;
$z-index-overlay: 8000;
$z-index-dropdown: 7000;
$z-index-dialog: 6000;
$z-index-popup: 5000;
$z-index-sticky: 1000;
$z-index-default: 1;
$z-index-below: -1;
