@import "./design-tokens";
@import "./mixins";
@import "./functions";

/**
 * Global
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color-background-default;
  color: $color-text-default;
  font-family: $font-family-sans-serif;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  color: $color-text-link-default;
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:active,
  &:focus {
    color: $color-text-link-default-hover;
  }

  &[href^="tel:"] {
    color: inherit;
  }
}

abbr[title] {
  text-decoration: none;
}

blockquote {
  p::before {
    content: "“";
  }

  p::after {
    content: "”";
  }
}

cite {
  font-style: normal;
}

main {
  outline: none;
}
