@import "./design-tokens";
@import "./mixins";
@import "./functions";

/**
 * Styleguide
 * @note Not for production
 */

// code {
//   color: #000080; // #d14;
// }

abbr[title] {
  border-bottom: none;
  // border-bottom: 1px dotted currentColor;
  cursor: help;
  text-decoration: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

.swatch {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.swatch--light {
  color: #000;
}

.token-table {
  // border: 1px solid #d4d4d8; // rgba(#535363, .25);
  border-bottom: 1px solid #d4d4d8;
  border-collapse: collapse;
  // margin: 16px;
  // width: calc(100% - 16px - 16px);
  width: 100%;

  tr:nth-child(odd) {
    background-color: #f6f6f6;
  }

  th {
    // background-color: #eaeaeb;
    text-align: left;
  }

  th,
  td {
    // border: 1px solid #d4d4d8; // rgba(#535363, .25);
    border-bottom: 1px solid #d4d4d8;
    padding: 16px;
  }

  th:not(:first-child),
  td:not(:first-child) {
    border-left: 1px solid #d4d4d8;
  }
}

.font-family-benton-sans {
  font-family: $font-family-default;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-regular {
  font-weight: $font-weight-regular;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-preview {
  color: $color-text-heading;
  overflow: hidden;
}

.font-preview-info {
  float: left;
  // width: 14%;
  font-size: #{$font-size-default}px;
  line-height: 1.4;
  margin-left: 40px;
  margin-top: 14px;

  span {
    color: $color-text-default;
  }
}

.font-preview-characters {
  float: left;
  // width: 86%;
  overflow: hidden;
}

.font-preview-characters-aa {
  float: left;
  font-size: 120px;
  line-height: 1;
}

.font-preview-characters-az {
  float: left;
  font-size: #{$font-size-small}px;
  line-height: 1.4;
  margin-left: 40px;
  margin-top: 14px;
}
