@import "./mixins";

.hidden {
  display: none;
}

.visuallyhidden {
  @include visuallyhidden;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-tiny {
  font-size: #{$font-size-body-tiny}px;
}

.text-positive {
  color: $color-text-positive;
}

.text-negative {
  color: $color-text-negative;
}
