<div class="Pagination">
  <a href="{{ pagination.url }}">
    <div class="Pagination-label">
      {{ pagination.label }}
    </div>

    <div class="Pagination-title heading-large">
      {{ pagination.title }}
      {{> @icon id="icon-arrow" class="Pagination-icon" }}
    </div>
  </a>
</div>
