@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Pagination
 * @type Organism
 */

.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1;
  text-align: center;
}

.Pagination-link {
  &:first-child {
    margin-right: 8px;

    @media (min-width: 600px) {
      margin-right: 20px;
    }
  }

  &:last-child {
    margin-left: 8px;

    @media (min-width: 600px) {
      margin-left: 20px;
    }
  }

  @media (max-width: 599px) {
    font-size: 12px;
  }
}

.Pagination-page {
  border: 1px solid $color-border-default;
  display: inline-block;
  flex-shrink: 0;
  height: 30px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  transition: background-color 200ms;
  width: 30px;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-background-pagination-hover;
  }

  &.is-active {
    border-color: $color-border-pagination-active;
  }

  @media (max-width: 599px) {
    font-size: 14px;
  }

  .Pagination-more ~ & {
    @media (max-width: 599px) {
      &:not(:nth-last-child(2)) {
        display: none;
      }
    }
  }
}

.Pagination-more {
  align-self: flex-start;
  color: $color-text-link-default;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;

  @media (min-width: 600px) {
    display: none;
  }
}
