@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Masthead
 * @type Atom
 */

.Masthead {
  align-items: center;
  display: flex;
  height: #{(368 / 600) * 100vw};
  justify-content: center;
  max-height: 435px;
  min-height: 368px;
  position: relative;
  text-align: center;
  width: 100%;
}

.Masthead--video {
  max-height: 732px;
  min-height: 420px;
}

.Masthead .container {
  position: relative;
  z-index: $z-index-default;
}

.Masthead-title {
  color: $color-text-overlay;
  margin: 0;
  text-shadow: 0 0 54px #6facc1;
}

.Masthead .MoreLink {
  margin-top: #{(120 / $max-width) * 100vw};

  @media (min-width: 1290px) {
    margin-top: 120px;
  }
}
