<header class="Masthead Masthead--video">
  <div class="container">
    {{> @tagline--white tagline=masthead.tagline }}
    {{> @more-link--white link=masthead.link }}
  </div>

  {{> @cover-video video=masthead.video }}
</header>
