<header class="Masthead Masthead--video{{#if masthead.className}} {{masthead.className}}{{/if}}">
  <div class="container">
    {{> @tagline tagline=masthead.tagline }}
    {{> @more-link link=masthead.link }}
  </div>

  {{> @cover-video coverVideo=masthead.coverVideo }}
</header>
