@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Masthead
 * @type Atom
 */

.Masthead {
  align-items: center;
  display: flex;
  height: 55vw;
  justify-content: center;
  max-height: 466px;
  min-height: 178px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.Masthead--video {
  max-height: 80vh;
  min-height: 420px;
}

.Masthead .container {
  position: relative;
  z-index: $z-index-default;
}

.Masthead-title {
  color: $color-text-overlay;
  margin: 0;
  text-shadow: 0 0 72px rgba(#0d3c4d, .4);
}
