<header class="Masthead">
  <div class="container">
    <h1 class="Masthead-title heading-super">
      {{ masthead.title }}
    </h1>
  </div>

  {{> @cover-photo coverPhoto=masthead.coverPhoto }}
</header>
