/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Masthead
 * @type Atom
 */
.Masthead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 61.33333vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 435px;
  min-height: 368px;
  position: relative;
  text-align: center;
  width: 100%;
}

.Masthead--video {
  max-height: 732px;
  min-height: 420px;
}

.Masthead .container {
  position: relative;
  z-index: 1;
}

.Masthead-title {
  color: #fff;
  margin: 0;
  text-shadow: 0 0 54px #6facc1;
}

.Masthead .MoreLink {
  margin-top: 9.30233vw;
}

@media (min-width: 1290px) {
  .Masthead .MoreLink {
    margin-top: 120px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover photo
 * @type Atom
 */
.CoverPhoto {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.CoverPhoto::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.26;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverPhoto img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover video
 * @type Atom
 */
.CoverVideo {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.CoverVideo::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.26;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverVideo video {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Tagline
 * @type Atom
 */
.Tagline {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -.5px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 64vw;
  text-align: center;
}

@media (min-width: 37.5em) and (max-width: 80.625em) {
  .Tagline {
    font-size: calc(40px + (96 - 40) * (100vw - 600px) / (1290 - 600));
  }
}

@media (min-width: 80.625em) {
  .Tagline {
    font-size: 96px;
  }
}

@media (min-width: 600px) {
  .Tagline {
    letter-spacing: -1.2px;
    max-width: 50vw;
  }
}

.Tagline b {
  font-weight: 600;
}

@media (min-width: 600px) {
  .Tagline b {
    font-weight: 700;
  }
}

.Tagline--white {
  color: #fff;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Introduction
 * @type Atom
 */
.Introduction {
  font-size: 20px;
  color: #819ba3;
  font-weight: 300;
  letter-spacing: -.9px;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
  max-width: 924px;
  text-align: center;
}

@media (min-width: 30em) and (max-width: 57.75em) {
  .Introduction {
    font-size: calc(20px + (32 - 20) * (100vw - 480px) / (924 - 480));
  }
}

@media (min-width: 57.75em) {
  .Introduction {
    font-size: 32px;
  }
}

@media (min-width: 30em) {
  .Introduction {
    letter-spacing: -1.4px;
    line-height: 1.5;
  }
}

@media (min-width: 30em) {
  .Introduction::after {
    content: "";
    background-color: #b5955d;
    display: block;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.25em;
    max-width: 408px;
    width: 44.15584vw;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Timeline
 * @type Organism
 */
.Timeline {
  margin-top: 3em;
}

.Timeline-headline {
  font-size: 24px;
  margin-top: 1.5em;
}

@media (min-width: 20em) and (max-width: 80.625em) {
  .Timeline-headline {
    font-size: calc(24px + (32 - 24) * (100vw - 320px) / (1290 - 320));
  }
}

@media (min-width: 80.625em) {
  .Timeline-headline {
    font-size: 32px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Team member
 * @type Molecule
 */
.TeamMember {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 248px;
  position: relative;
  text-align: center;
}

.LeadershipTeam .TeamMember {
  max-width: none;
}

.TeamMember:hover {
  z-index: 2;
}

.TeamMember:hover::after {
  opacity: 1;
  visibility: visible;
}

.TeamMember-image {
  display: block;
  max-width: 100%;
}

@media (min-width: 1015px) {
  .TeamMember:hover .TeamMember-image {
    position: relative;
    z-index: 2;
  }
}

.TeamMember-name {
  color: #25395d;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71429;
  margin-bottom: 0;
  margin-top: 28px;
}

@media (min-width: 480px) {
  .TeamMember-name {
    font-size: 16px;
    line-height: 1.75;
  }
}

@media (min-width: 1015px) {
  .TeamMember:hover .TeamMember-name {
    position: relative;
    z-index: 2;
  }
}

.TeamMember-title {
  color: #b5955d;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 480px) {
  .TeamMember-title {
    font-size: 14px;
    line-height: 2;
  }
}

@media (min-width: 1015px) {
  .TeamMember:hover .TeamMember-title {
    position: relative;
    z-index: 2;
  }
}

.TeamMember-panel {
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  padding: 3.72093%;
  width: calc(100% + 7.44186%);
  top: -3.72093%;
  z-index: 1;
  padding-top: 408px;
  -webkit-box-shadow: 0 42px 84px rgba(0, 0, 0, 0.3);
          box-shadow: 0 42px 84px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  visibility: hidden;
}

@media (min-width: 1015px) {
  .TeamMember-panel {
    padding: 48px;
    width: calc(100% + 96px);
    top: -48px;
    padding-top: 408px;
  }
}

@media (min-width: 1015px) {
  .TeamMember:hover .TeamMember-panel {
    opacity: 1;
    visibility: visible;
  }
}

.TeamMember-bio {
  color: #8f9aa8;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 0;
  margin-top: 16px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Sub Navigation
 * @type Molecule
 */
.SubNavigation {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  color: #446975;
  font-size: 12px;
  height: 64px;
  overflow: hidden;
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
  position: relative;
}

@media (max-width: 599px) {
  .SubNavigation {
    border-bottom-color: rgba(191, 208, 216, 0.37);
  }
}

@media (min-width: 600px) {
  .SubNavigation {
    font-size: 16px;
    height: 90px;
  }
}

.SubNavigation.is-sticky {
  border-bottom-color: rgba(191, 208, 216, 0.37);
}

.SubNavigation::after, .SubNavigation::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 24px;
  z-index: 11;
}

.SubNavigation::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.SubNavigation::after {
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, #fff 20%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.SubNavigation-list {
  line-height: 1;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

@media (max-width: 1006px) {
  .SubNavigation-list {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1007px) {
  .SubNavigation-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 1290px;
  }
}

.SubNavigation-item {
  display: inline-block;
  height: 100%;
  margin-left: 14px;
  margin-right: 14px;
  padding-bottom: 22px;
  padding-top: 29px;
  position: relative;
}

@media (min-width: 600px) {
  .SubNavigation-item {
    padding-bottom: 34px;
    padding-top: 39px;
  }
}

.SubNavigation-link {
  color: currentColor;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.SubNavigation-link:hover, .SubNavigation-link:active, .SubNavigation-link:focus {
  color: rgba(68, 105, 117, 0.6);
}

.SubNavigation-marker {
  background-color: #da745b;
  bottom: 0;
  height: 4px;
  position: absolute;
  width: 0;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Service card
 * @type Atom
 */
.ServiceCard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #77919e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 1.35714;
  min-width: 124px;
  text-align: center;
  width: 188px;
}

@media (max-width: 479px) {
  .ServiceCard {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 480px) {
  .ServiceCard {
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: rgba(107, 119, 140, 0.21) 0 22px 54px;
            box-shadow: rgba(107, 119, 140, 0.21) 0 22px 54px;
    font-size: 16px;
    height: 188px;
    line-height: 1.375;
  }
}

.ServiceCard .icon {
  font-size: 4em;
}

@media (min-width: 480px) {
  .ServiceCard .icon {
    position: relative;
    top: 45px;
  }
}

.ServiceCard-title {
  display: inline-block;
}

@media (max-width: 479px) {
  .ServiceCard-title {
    margin-top: 12px;
  }
}

@media (min-width: 480px) {
  .ServiceCard-title {
    max-width: 40%;
    position: relative;
    top: 57px;
  }
}

@media (min-width: 624px) {
  .ServiceCard-title {
    max-width: 48%;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Service cards
 * @type Molecule
 */
.ServiceCards {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 64px;
  grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));
  max-width: 630px;
}

@media (min-width: 480px) {
  .ServiceCards {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  }
}

.ServiceCards .ServiceCard {
  width: auto;
}

@media (max-width: 479px) {
  .ServiceCards .ServiceCard {
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 14px;
    height: auto;
    line-height: 1.35714;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Leadership team
 * @type Organism
 */
.LeadershipTeam {
  display: grid;
  grid-gap: 0;
  grid-row-gap: 64px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 480px) {
  .LeadershipTeam {
    grid-column-gap: 24px;
    grid-row-gap: 56px;
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  }
}

@media (min-width: 480px) {
  .LeadershipTeam {
    margin-left: auto;
    margin-right: auto;
    max-width: 904px;
  }
}

@media (min-width: 808px) {
  .LeadershipTeam {
    grid-column-gap: 80px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Feature
 * @type Organism
 */
.Feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 996px;
  min-height: 660px;
  position: relative;
  width: 100%;
}

.Feature-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  z-index: 1;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Statistic
 * @type Molecule
 */
.Statistic {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Statistic-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 11px 46px rgba(114, 155, 168, 0.28);
          box-shadow: 0 11px 46px rgba(114, 155, 168, 0.28);
  color: #25395d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 24px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px;
  width: 60px;
}

@media (min-width: 420px) {
  .Statistic-icon {
    font-size: 32px;
    height: 80px;
    width: 80px;
  }
}

.Statistic-data {
  max-width: 180px;
  padding-top: 5px;
  width: 100%;
}

@media (min-width: 420px) {
  .Statistic-data {
    max-width: 220px;
  }
}

.Statistic-number {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
  text-shadow: 0 0 34px #446975;
}

@media (min-width: 420px) {
  .Statistic-number {
    font-size: 32px;
  }
}

.Statistic-label {
  font-size: 12px;
  line-height: 1.41667;
  font-weight: 600;
  margin-top: 7px;
  text-shadow: 0 0 34px #446975;
}

@media (min-width: 420px) {
  .Statistic-label {
    font-size: 14px;
    line-height: 1.35714;
  }
}

.Feature .Statistic {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (min-width: 660px) {
  .Feature .Statistic {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}

@media (max-width: 659px) {
  .Feature .Statistic:not(:first-child) {
    margin-top: 60px;
  }
}

@media (min-width: 660px) {
  .Feature .Statistic:nth-child(3), .Feature .Statistic:nth-child(4) {
    margin-top: 128px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Page: About
 * @type page
 */
.Introduction {
  margin-bottom: 13.02326vw;
  margin-top: 13.48837vw;
}

@media (min-width: 1290px) {
  .Introduction {
    margin-bottom: 168px;
    margin-top: 174px;
  }
}

.ServiceCards {
  margin-top: 60px;
}

.Feature {
  margin-top: 11.16279vw;
}

@media (min-width: 1290px) {
  .Feature {
    margin-top: 144px;
  }
}

.LeadershipTeam {
  margin-top: 11.78295vw;
}

@media (min-width: 1290px) {
  .LeadershipTeam {
    margin-top: 152px;
  }
}

.GlobalFooter {
  margin-top: 18.60465vw;
}

@media (min-width: 1290px) {
  .GlobalFooter {
    margin-top: 240px;
  }
}
