/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: More link
 * @type Atom
 */
.MoreLink {
  font-size: 12px;
  color: #12769f;
  display: inline-block;
  line-height: 1.35714;
  position: relative;
  text-decoration: none;
}

@media (min-width: 37.5em) and (max-width: 80.625em) {
  .MoreLink {
    font-size: calc(12px + (14 - 12) * (100vw - 600px) / (1290 - 600));
  }
}

@media (min-width: 80.625em) {
  .MoreLink {
    font-size: 14px;
  }
}

.MoreLink:hover .icon, .MoreLink:active .icon, .MoreLink:focus .icon {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.MoreLink--white {
  color: #fff;
}

.MoreLink--white:hover, .MoreLink--white:active, .MoreLink--white:focus {
  color: rgba(255, 255, 255, 0.8);
}

.MoreLink .icon {
  display: block;
  font-size: 24px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 5px;
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, transform 200ms;
  transition: color 200ms, transform 200ms, -webkit-transform 200ms;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Location finder button
 * @type Atom
 */
.LocationFinderButton {
  -webkit-box-shadow: 0 10px 14px rgba(64, 108, 122, 0.22);
          box-shadow: 0 10px 14px rgba(64, 108, 122, 0.22);
  position: relative;
}

.LocationFinderButton .Button {
  height: 44px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0;
  text-transform: none;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Location finder
 * @type Organism
 */
.LocationFinder.is-sticky {
  background-color: #fff;
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    padding-top: 24px;
  }
}

@media (min-width: 670px) {
  .LocationFinder.is-sticky {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 36px 84px rgba(4, 36, 53, 0.39);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 36px 84px rgba(4, 36, 53, 0.39);
  }
}

.LocationFinder-container {
  background-color: #fff;
  position: relative;
}

@media (min-width: 670px) {
  .LocationFinder-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6.97674vw;
    min-height: 60px;
    max-height: 90px;
  }
}

@media (min-width: 670px) {
  .LocationFinder:not(.is-sticky) .LocationFinder-container {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 36px 84px rgba(4, 36, 53, 0.39);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 36px 84px rgba(4, 36, 53, 0.39);
  }
}

.LocationFinder fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (min-width: 670px) {
  .LocationFinder fieldset {
    width: 80%;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky fieldset {
    margin-bottom: -24px;
  }
}

.LocationFinder legend {
  color: rgba(37, 57, 93, 0.79);
  display: block;
  font-size: 16px;
  font-weight: 700;
  float: left;
  height: 100%;
  line-height: 1;
  width: 22.48062%;
}

@media (max-width: 1023px) {
  .LocationFinder legend {
    display: none;
  }
}

.LocationFinder legend span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.LocationFinder label {
  display: none;
}

.LocationFinder select {
  border: 0;
  height: 100%;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  width: 100%;
}

@media (max-width: 669px) {
  .LocationFinder select {
    font-size: 12px;
  }
}

@media (max-width: 669px) {
  .LocationFinder select {
    border: 1px solid rgba(191, 208, 216, 0.27);
    margin-bottom: 6px;
  }
}

@media (min-width: 670px) {
  .LocationFinder select {
    border-left: 1px solid rgba(191, 208, 216, 0.27);
  }
}

@media (min-width: 670px) and (max-width: 1023px) {
  .LocationFinder select:first-of-type {
    border-left: 0;
  }
}

@media (max-width: 669px) {
  .LocationFinder select:not(:first-of-type) {
    float: left;
    width: calc(50% - 3px);
  }
}

@media (max-width: 669px) {
  .LocationFinder select:last-of-type {
    margin-left: 6px;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky select:not(:first-of-type) {
    opacity: 0;
  }
}

.LocationFinder-button {
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  width: 100%;
}

@media (max-width: 669px) {
  .LocationFinder-button {
    font-size: 12px;
  }
}

@media (min-width: 670px) {
  .LocationFinder-button {
    min-width: 128px;
    width: 20%;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky .LocationFinder-button {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    z-index: 1;
  }
}

@media (min-width: 670px) {
  .LocationFinder.is-sticky .LocationFinder-button {
    -ms-flex-item-align: center;
        align-self: center;
    height: 56px;
  }
}

@media (min-width: 670px) {
  .LocationFinder-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Masthead
 * @type Atom
 */
.Masthead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 466px;
  min-height: 178px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.Masthead--video {
  max-height: 732px;
  min-height: 420px;
}

.Masthead .container {
  position: relative;
  z-index: 1;
}

.Masthead-title {
  color: #fff;
  margin: 0;
  text-shadow: 0 0 54px #6facc1;
}

.Masthead .MoreLink {
  margin-top: 9.30233vw;
}

@media (min-width: 1290px) {
  .Masthead .MoreLink {
    margin-top: 120px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover photo
 * @type Atom
 */
.CoverPhoto {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverPhoto::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .26;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverPhoto img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover video
 * @type Atom
 */
.CoverVideo {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverVideo::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .26;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverVideo img,
.CoverVideo video {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Tagline
 * @type Atom
 */
.Tagline {
  font-weight: 300;
  letter-spacing: -.5px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 64vw;
  text-align: center;
}

@media (min-width: 600px) {
  .Tagline {
    letter-spacing: -1.2px;
    max-width: 50vw;
  }
}

.Tagline b {
  font-weight: 600;
}

@media (min-width: 600px) {
  .Tagline b {
    font-weight: 700;
  }
}

.Tagline--white {
  color: #fff;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Introduction
 * @type Atom
 */
.Introduction {
  font-size: 20px;
  color: #819ba3;
  font-weight: 300;
  letter-spacing: -.9px;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
  max-width: 856px;
  text-align: center;
}

@media (min-width: 30em) and (max-width: 53.5em) {
  .Introduction {
    font-size: calc(20px + (32 - 20) * (100vw - 480px) / (856 - 480));
  }
}

@media (min-width: 53.5em) {
  .Introduction {
    font-size: 32px;
  }
}

@media (min-width: 30em) {
  .Introduction {
    letter-spacing: -1.4px;
    line-height: 1.5;
  }
}

@media (min-width: 30em) {
  .Introduction::after {
    background-color: #b5955d;
    content: "";
    display: block;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.25em;
    max-width: 264px;
    width: 30.84112vw;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Home block
 * @type Organism
 */
@media (min-width: 544px) {
  .ImageBlock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ImageBlock > a {
  display: block;
  overflow: hidden;
  position: relative;
}

@media (max-width: 543px) {
  .ImageBlock > a {
    margin-left: -24px;
    width: calc(100% + 48px);
  }
}

@media (min-width: 544px) {
  .ImageBlock--alternate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.ImageBlock-photo {
  display: block;
  height: auto;
  max-width: 100%;
}

@media (min-width: 544px) {
  .ImageBlock-photo {
    max-height: 720px;
    -webkit-transition: -webkit-transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
    transition: -webkit-transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
    transition: transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
    transition: transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77), -webkit-transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
  }
  .ImageBlock > a:hover .ImageBlock-photo {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@media (prefers-reduced-motion) {
  .ImageBlock-photo {
    -webkit-transition: none;
    transition: none;
  }
  .ImageBlock > a:hover .ImageBlock-photo {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 544px) {
  .ImageBlock--alternate .ImageBlock-photo {
    max-height: 668px;
  }
}

@media (min-width: 544px) {
  .ImageBlock-text {
    margin-left: 10.54264%;
    max-width: 400px;
  }
}

.ImageBlock--alternate .ImageBlock-text {
  margin-left: 0;
}

@media (min-width: 544px) {
  .ImageBlock--alternate .ImageBlock-text {
    margin-right: 9.30233%;
  }
}

@media (min-width: 1088px) {
  .ImageBlock--alternate .ImageBlock-text {
    margin-left: 8.06202%;
  }
}

.ImageBlock-text h2 {
  color: #435e6c;
  font-weight: 300;
}

@media (max-width: 544px) {
  .ImageBlock-text h2 {
    margin-top: 32px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
@-webkit-keyframes image-scale {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes image-scale {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 64em) {
  .js .Introduction.can-animate {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: opacity 400ms, -webkit-transform 400ms;
    transition: opacity 400ms, -webkit-transform 400ms;
    transition: opacity 400ms, transform 400ms;
    transition: opacity 400ms, transform 400ms, -webkit-transform 400ms;
  }
  .js .Introduction.can-animate::after {
    -webkit-transition: width 400ms 400ms;
    transition: width 400ms 400ms;
    width: 0;
  }
}

@media (min-width: 64em) {
  .js .Introduction.will-animate {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .js .Introduction.will-animate::after {
    width: 20.46512vw;
  }
}

@media (min-width: 64em) {
  .js .ImageBlock.can-animate > a::after {
    background-color: #fff;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 2000ms;
    transition: -webkit-transform 2000ms;
    transition: transform 2000ms;
    transition: transform 2000ms, -webkit-transform 2000ms;
    width: 100%;
  }
}

@media (min-width: 64em) {
  .js .ImageBlock.will-animate > a::after {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media (min-width: 64em) {
  .js .ImageBlock.can-animate .ImageBlock-text {
    opacity: 0;
    -webkit-transition: opacity 1000ms 800ms;
    transition: opacity 1000ms 800ms;
  }
}

@media (min-width: 64em) {
  .js .ImageBlock.will-animate .ImageBlock-photo {
    -webkit-animation-name: image-scale;
            animation-name: image-scale;
    -webkit-animation-duration: 2500ms;
            animation-duration: 2500ms;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
}

@media (min-width: 64em) {
  .js .ImageBlock.will-animate .ImageBlock-text {
    opacity: 1;
  }
}

/**
 * Page: Home
 * @type page
 */
@media (max-width: 619px) {
  .Banner {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 619px) {
  .Banner:not(.is-open) {
    background-color: transparent;
  }
}

@media (max-width: 619px) {
  .Hamburger:not(.is-open) {
    color: #fff;
  }
}

@media (max-width: 619px) {
  .Banner:not(.is-open) .Logo {
    color: #fff;
  }
}

@media (max-width: 619px) {
  .Banner:not(.is-open) .Logo-arrow {
    fill: #fff;
  }
}

.LocationFinder {
  z-index: 1000;
}

@media (max-width: 669px) {
  .LocationFinder {
    display: none;
  }
}

@media (min-width: 670px) {
  .LocationFinder {
    margin-top: -3.48837vw;
  }
}

@media (min-width: 1290px) {
  .LocationFinder {
    margin-top: -45px;
  }
}

.LocationFinderButton {
  z-index: 1000;
}

@media (max-width: 669px) {
  .LocationFinderButton {
    margin-top: -22px;
  }
}

@media (min-width: 670px) {
  .LocationFinderButton {
    display: none;
  }
}

.Introduction {
  margin-bottom: 104px;
  margin-top: 104px;
}

@media (min-width: 544px) {
  .Introduction {
    margin-bottom: 12.71318vw;
    margin-top: 13.48837vw;
  }
}

@media (min-width: 1290px) {
  .Introduction {
    margin-bottom: 164px;
    margin-top: 174px;
  }
}

.ImageBlock {
  margin-top: 96px;
}

@media (min-width: 544px) {
  .ImageBlock {
    margin-top: 14.26357vw;
  }
}

@media (min-width: 1290px) {
  .ImageBlock {
    margin-top: 184px;
  }
}

.Contentinfo {
  margin-top: 136px;
}

@media (min-width: 544px) {
  .Contentinfo {
    margin-top: 35.34884vw;
  }
}

@media (min-width: 1290px) {
  .Contentinfo {
    margin-top: 456px;
  }
}
