/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Team member
 * @type Molecule
 */
.TeamMember:not(.TeamMember--small) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 248px;
  position: relative;
  text-align: center;
}

.TeamMember:not(.TeamMember--small):hover {
  z-index: 2;
}

.TeamMember:not(.TeamMember--small):hover::after {
  opacity: 1;
  visibility: visible;
}

.TeamMember-image {
  display: block;
  max-width: 100%;
}

@media (min-width: 1015px) {
  .TeamMember:hover .TeamMember-image {
    position: relative;
    z-index: 2;
  }
}

.TeamMember-name {
  margin-bottom: 0;
}

.TeamMember:not(.TeamMember--small) .TeamMember-name {
  margin-top: 28px;
}

.TeamMember--small .TeamMember-name {
  margin-top: 0;
}

@media (min-width: 1015px) {
  .TeamMember:not(.TeamMember--small):hover .TeamMember-name {
    position: relative;
    z-index: 2;
  }
}

.TeamMember-title {
  color: #b5955d;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
}

.TeamMember--small .TeamMember-title {
  margin-top: 2px;
}

@media (min-width: 1015px) {
  .TeamMember:not(.TeamMember--small):hover .TeamMember-title {
    position: relative;
    z-index: 2;
  }
}

.TeamMember-panel {
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  padding: 3.72093%;
  width: calc(100% + 7.44186%);
  top: -3.72093%;
  z-index: 1;
  padding-top: 408px;
  -webkit-box-shadow: 0 42px 84px rgba(0, 0, 0, 0.3);
          box-shadow: 0 42px 84px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  visibility: hidden;
}

@media (min-width: 1015px) {
  .TeamMember-panel {
    padding: 48px;
    width: calc(100% + 96px);
    top: -48px;
    padding-top: 408px;
  }
}

@media (min-width: 1015px) {
  .TeamMember:hover .TeamMember-panel {
    opacity: 1;
    visibility: visible;
  }
}

.TeamMember-bio {
  color: #8f9aa8;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 0;
  margin-top: 16px;
}

.TeamMember-link {
  margin-bottom: 0;
  margin-top: 0;
}

.TeamMember--small .TeamMember-link {
  margin-top: 12px;
}

.LeadershipTeam .TeamMember {
  max-width: none;
}

.TeamList .TeamMember {
  margin-top: 24px;
}

@media (min-width: 645px) {
  .TeamList .TeamMember {
    margin-top: 3.72093vw;
  }
}

@media (min-width: 83.625em) {
  .TeamList .TeamMember {
    margin-top: 48px;
  }
}

.Modal .TeamMember {
  display: block;
  max-width: none;
  text-align: left;
}

.Modal .TeamMember-title {
  font-size: 16px;
}

.Modal .TeamMember-bio {
  margin-bottom: 28px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Sub Navigation
 * @type Molecule
 */
.SubNavigation {
  font-size: 12px;
  background-color: #fff;
  color: #646e7e;
  height: 60px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 37.5em) and (max-width: 80.625em) {
  .SubNavigation {
    font-size: calc(12px + (16 - 12) * (100vw - 600px) / (1290 - 600));
  }
}

@media (min-width: 80.625em) {
  .SubNavigation {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .SubNavigation {
    height: 90px;
  }
}

.SubNavigation::after, .SubNavigation::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 24px;
  z-index: 1;
}

.SubNavigation::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.SubNavigation::after {
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, #fff 20%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.SubNavigation-list {
  height: 100%;
  line-height: 1;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

@media (max-width: 1006px) {
  .SubNavigation-list {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1007px) {
  .SubNavigation-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 1290px;
  }
}

.SubNavigation-item {
  display: inline-block;
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 22px;
  padding-top: 26px;
  position: relative;
}

@media (min-width: 600px) {
  .SubNavigation-item {
    margin-left: 14px;
    margin-right: 14px;
    padding-bottom: 34px;
    padding-top: 39px;
  }
}

.SubNavigation:not(.SubNavigation--scrollSpy) .SubNavigation-item.is-active::after {
  background-color: #b5955d;
  bottom: 0;
  height: 3px;
  position: absolute;
  content: "";
  left: 0;
  opacity: 1;
  width: 100%;
}

.SubNavigation-link {
  color: currentColor;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.SubNavigation-item:not(.is-active) .SubNavigation-link:hover, .SubNavigation-item:not(.is-active) .SubNavigation-link:active {
  color: rgba(68, 105, 117, 0.6);
}

.SubNavigation-marker {
  background-color: #b5955d;
  bottom: 0;
  height: 3px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  width: 0;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Next page
 */
@media (min-width: 480px) {
  .NextPage {
    text-align: center;
  }
}

.NextPage a {
  color: #25395d;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.NextPage a:hover, .NextPage a:active, .NextPage a:focus {
  color: rgba(37, 57, 93, 0.7);
}

.NextPage a:hover .NextPage-icon, .NextPage a:active .NextPage-icon, .NextPage a:focus .NextPage-icon {
  -webkit-transform: translateX(1.24242em);
          transform: translateX(1.24242em);
}

.NextPage-label {
  font-size: 12px;
  color: #b5955d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 30em) and (max-width: 80.625em) {
  .NextPage-label {
    font-size: calc(12px + (14 - 12) * (100vw - 480px) / (1290 - 480));
  }
}

@media (min-width: 80.625em) {
  .NextPage-label {
    font-size: 14px;
  }
}

.NextPage-title {
  font-size: 32px;
  color: currentColor;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.20833;
  margin-top: 8px;
  position: relative;
}

@media (min-width: 30em) and (max-width: 80.625em) {
  .NextPage-title {
    font-size: calc(32px + (48 - 32) * (100vw - 480px) / (1290 - 480));
  }
}

@media (min-width: 80.625em) {
  .NextPage-title {
    font-size: 48px;
  }
}

.NextPage-icon {
  color: #bfd0d8;
  font-size: 1.375em;
  height: 0.33333em;
  position: absolute;
  right: 0;
  top: 0.33333em;
  -webkit-transform: translateX(1.72727em);
          transform: translateX(1.72727em);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Utility links
 * @type molecule
 */
.UtilityLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 560px) {
  .UtilityLinks {
    border-top: 1px solid rgba(191, 208, 216, 0.37);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 2.33333;
  }
}

@media (max-width: 560px) {
  .UtilityLinks a {
    width: 50%;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Team list
 */
.TeamList-heading {
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 480px) {
  .TeamList-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 480px) {
  .TeamList-members .TeamMember {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-right: 8px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Stock price card
 * @type Molecule
 */
.StockPriceCard {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(181, 149, 93, 0.07)), to(rgba(94, 145, 161, 0.07)));
  background: linear-gradient(to bottom, rgba(181, 149, 93, 0.07) 0%, rgba(94, 145, 161, 0.07) 100%);
  padding: 48px 24px;
}

@media (max-width: 499px) {
  .StockPriceCard {
    font-size: 12px;
  }
}

@media (min-width: 940px) {
  .StockPriceCard {
    padding: 6.20155vw 3.10078vw;
  }
}

@media (min-width: 83.625em) {
  .StockPriceCard {
    padding: 124px 80px;
  }
}

.StockPriceCard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.375;
  margin-bottom: 24px;
}

.StockPriceCard-header b {
  color: #25395d;
  font-weight: normal;
}

.StockPriceCard-header b::after {
  content: "\A0";
}

.StockPriceCard-footer {
  border-top: 1px solid rgba(191, 208, 216, 0.27);
  color: #25395d;
  line-height: 2;
  margin-top: 48px;
  padding-top: 24px;
}

@media (min-width: 484px) {
  .StockPriceCard-footer {
    margin-top: 9.92248vw;
  }
}

@media (min-width: 968px) {
  .StockPriceCard-footer {
    padding-top: 2.48062vw;
  }
}

@media (min-width: 83.625em) {
  .StockPriceCard-footer {
    margin-top: 128px;
    padding-top: 32px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Stock price
 */
.StockPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.StockPrice-price {
  font-weight: 400;
  line-height: 1;
  margin-right: 32px;
}

@media (min-width: 500px) {
  .StockPrice-price {
    margin-right: 10px;
  }
}

.StockPrice-ticker {
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  line-height: 1;
}

@media (min-width: 30em) and (max-width: 80.625em) {
  .StockPrice-ticker {
    font-size: calc(14px + (18 - 14) * (100vw - 480px) / (1290 - 480));
  }
}

@media (min-width: 80.625em) {
  .StockPrice-ticker {
    font-size: 18px;
  }
}

@media (min-width: 500px) {
  .StockPrice-ticker {
    padding-top: 14px;
  }
}

.StockPrice-ticker .icon {
  fill: currentColor;
  height: 6px;
  margin-right: 8px;
  width: 12px;
}

.StockPrice-range {
  color: #25395d;
  line-height: 1;
  margin-top: 18px;
  width: 100%;
}

@media (min-width: 500px) {
  .StockPrice-range {
    margin-top: 12px;
  }
}

.StockPrice-range span + span {
  margin-left: 32px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Stock chart filter
 */
.StockChartFilter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.StockChartFilter-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 719px) {
  .StockChartFilter-controls {
    margin-top: 40px;
    width: 100%;
  }
}

.StockChartFilter-controls select {
  height: 44px;
  padding-bottom: 0;
  padding-top: 0;
  width: calc(50% - 4px);
}

@media (min-width: 436px) {
  .StockChartFilter-controls select {
    width: 190px;
  }
}

.StockChartFilter-controls select + select {
  margin-left: 8px;
}

@media (min-width: 720px) {
  .StockChartFilter-controls select + select {
    margin-left: 24px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Stock chart
 */
.StockChart img {
  display: block;
  max-width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Search
 */
.Search {
  background-color: #fff;
  border: 1px solid #bfd0d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
}

.Search-label {
  border: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  display: inline-block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
}

.Search-input[type="text"] {
  background-color: transparent;
  border: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 14px;
  margin: 4px;
  padding: 0 12px;
  width: 100%;
}

.Search-button {
  background-color: transparent;
  border: 0;
  color: #6facc1;
  cursor: pointer;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-weight: 600;
  line-height: 1;
  margin: 4px;
  padding: 0 28px;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.Search-button:hover, .Search-button:active, .Search-button:focus {
  color: #8f9aa8;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Resources list
 */
.ResourcesList-heading {
  border-bottom: 1px solid rgba(191, 208, 216, 0.6);
  margin-bottom: 0.8em;
  margin-top: 0;
  padding-bottom: 1.2em;
}

.ResourcesList-list {
  font-size: 12px;
  line-height: 2.8125;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

@media (min-width: 37.5em) and (max-width: 80.625em) {
  .ResourcesList-list {
    font-size: calc(12px + (14 - 12) * (100vw - 600px) / (1290 - 600));
  }
}

@media (min-width: 80.625em) {
  .ResourcesList-list {
    font-size: 14px;
  }
}

.ResourcesList-item > a {
  display: inline-block;
}

.ResourcesList-icon {
  display: inline-block;
  height: auto;
  margin-right: 4px;
  vertical-align: -2px;
  width: 14px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Press release contact
 */
.NewsArticle .PressReleaseContact {
  border-top: 1px solid #bfd0d8;
  margin-top: 3em;
  padding-top: 2em;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Press release bio
 */
.NewsArticle .PressReleaseBio {
  margin-top: 3em;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Pagination
 * @type Organism
 */
.Pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  text-align: center;
}

.Pagination-link:first-child {
  margin-right: 8px;
}

@media (min-width: 600px) {
  .Pagination-link:first-child {
    margin-right: 20px;
  }
}

.Pagination-link:last-child {
  margin-left: 8px;
}

@media (min-width: 600px) {
  .Pagination-link:last-child {
    margin-left: 20px;
  }
}

@media (max-width: 599px) {
  .Pagination-link {
    font-size: 12px;
  }
}

.Pagination-page {
  border: 1px solid #bfd0d8;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  width: 30px;
}

.Pagination-page:hover, .Pagination-page:active, .Pagination-page:focus {
  background-color: rgba(97, 154, 177, 0.06);
}

.Pagination-page.is-active {
  border-color: #619ab1;
}

@media (max-width: 599px) {
  .Pagination-page {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .Pagination-more ~ .Pagination-page:not(:nth-last-child(2)) {
    display: none;
  }
}

.Pagination-more {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #619ab1;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

@media (min-width: 600px) {
  .Pagination-more {
    display: none;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: News article
 */
.NewsArticle h1 {
  margin-bottom: 1em;
}

.NewsArticle--preview h4 {
  margin-bottom: 0;
  margin-top: 3px;
}

.NewsArticle--preview h4 + p {
  margin-bottom: 24px;
  margin-top: 24px;
}

@media (min-width: 800px) {
  .NewsArticle-article {
    max-width: 630px;
    width: 58.44156%;
  }
}

.NewsArticle-date {
  font-size: 12px;
  color: #b5955d;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 37.5em) and (max-width: 80.625em) {
  .NewsArticle-date {
    font-size: calc(12px + (14 - 12) * (100vw - 600px) / (1290 - 600));
  }
}

@media (min-width: 80.625em) {
  .NewsArticle-date {
    font-size: 14px;
  }
}

.NewsArticle:not(.NewsArticle--preview) .NewsArticle-date {
  border-top: 1px solid rgba(191, 208, 216, 0.47);
  display: inline-block;
  margin-bottom: 8px;
  padding-right: 48px;
  padding-top: 24px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Help tip
 * @type Atom
 */
.HelpTip {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.09091em solid currentColor;
  border-radius: 100%;
  color: #6facc1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 11px;
  height: 1.81818em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transform: color 200ms;
          transform: color 200ms;
  width: 1.81818em;
}

.HelpTip:hover, .HelpTip:active, .HelpTip:focus {
  color: #8f9aa8;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Filter
 * @type Organism
 */
.Filter {
  max-width: 960px;
  width: 100%;
}

.Filter label {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 8px;
}

.Filter input,
.Filter select,
.Filter .Button {
  height: 44px;
  padding-bottom: 0;
  padding-top: 0;
}

.Filter .HelpTip {
  margin-left: 8px;
  vertical-align: text-top;
}

.Filter-controls {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 699px) {
  .Filter-controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.Filter-fieldset:nth-child(1) {
  width: 100%;
}

@media (max-width: 699px) {
  .Filter-fieldset:nth-child(1) {
    margin-bottom: 20px;
  }
}

@media (min-width: 700px) {
  .Filter-fieldset:nth-child(1) {
    width: 31.25%;
  }
}

.Filter-fieldset:nth-child(2),
.Filter-fieldset:nth-child(3) {
  width: calc(50% - 8px);
}

@media (min-width: 700px) {
  .Filter-fieldset:nth-child(2),
  .Filter-fieldset:nth-child(3) {
    width: 19.79167%;
  }
}

@media (max-width: 699px) {
  .Filter-fieldset:nth-child(3) {
    margin-left: 16px;
  }
}

.Filter-fieldset input,
.Filter-fieldset select {
  display: block;
  width: 100%;
}

@media (max-width: 699px) {
  .Filter-fieldset input,
  .Filter-fieldset select {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 700px) {
  .Filter-button,
  .Filter-fieldset + .Filter-fieldset {
    margin-left: 8px;
  }
}

@media (min-width: 840px) {
  .Filter-button,
  .Filter-fieldset + .Filter-fieldset {
    margin-left: 32px;
  }
}

.Filter-button {
  border-radius: 22px;
}

@media (max-width: 699px) {
  .Filter-button {
    margin-top: 40px;
  }
}

@media (min-width: 700px) {
  .Filter-button {
    width: 19.16667%;
  }
}

.Filter-link {
  display: inline-block;
  font-size: 12px;
  margin-top: 24px;
}

@media (min-width: 700px) {
  .Filter-link {
    margin-top: 48px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: File download
 */
.FileDownload {
  display: inline-block;
}

.FileDownload img {
  display: block;
  height: auto;
  width: 14px;
}

.FileDownload + .FileDownload {
  margin-left: 24px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Feed
 */
.Feed time {
  color: #646e7e;
}

.Feed-heading {
  margin-bottom: 0;
  margin-top: 0;
}

.Feed-article + .Feed-article {
  border-top: 1px solid rgba(191, 208, 216, 0.27);
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Breadcrumbs
 */
.Breadcrumbs {
  font-size: 14px;
  letter-spacing: .6px;
  line-height: 1;
}

.Breadcrumbs .icon {
  font-size: 0.71429em;
  margin-right: 1px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Modal
 */
.Modal {
  background-color: #fff;
  -webkit-box-shadow: 0 36px 84px rgba(4, 36, 53, 0.39);
          box-shadow: 0 36px 84px rgba(4, 36, 53, 0.39);
  left: 0;
  margin: auto;
  opacity: 0;
  padding-bottom: 24px;
  padding-top: 24px;
  position: fixed;
  right: 0;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  -webkit-transition: opacity 200ms, visibility 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, visibility 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, transform 200ms, visibility 200ms;
  transition: opacity 200ms, transform 200ms, visibility 200ms, -webkit-transform 200ms;
  visibility: hidden;
  z-index: 9000;
}

@media (max-width: 479px) {
  .Modal {
    bottom: 0;
    height: 100vh;
    top: 0;
    width: 100vw;
  }
}

@media (min-width: 480px) {
  .Modal {
    max-height: 80vh;
    max-width: 800px;
    top: 50%;
  }
}

.Modal.is-open {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

@media (min-width: 480px) {
  .Modal.is-open {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.Modal-close {
  background-color: transparent;
  border: 0;
  color: rgba(100, 110, 126, 0.4);
  cursor: pointer;
  display: block;
  font-size: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  width: 24px;
}

.Modal-close:hover, .Modal-close:active, .Modal-close:focus {
  color: rgba(100, 110, 126, 0.8);
}

.Modal-content {
  height: 100%;
  overflow-y: auto;
  padding-left: 24px;
  padding-right: 48px;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Page: Investors
 * @type page
 */
.Banner {
  border-bottom: 1px solid rgba(191, 208, 216, 0.37);
}

.InvestorsPage-container {
  margin-top: 64px;
}

@media (min-width: 645px) {
  .InvestorsPage-container {
    margin-top: 9.92248vw;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-container {
    margin-top: 128px;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-container > .container:not(.InvestorsPage-overview) {
    padding-left: 106px;
    padding-right: 106px;
  }
}

@media (min-width: 720px) {
  .InvestorsPage-overview {
    overflow: hidden;
  }
}

@supports (display: grid) {
  @media (min-width: 720px) {
    .InvestorsPage-overview {
      display: grid;
      grid-template-columns: 48.83721% auto 40.46512%;
      grid-template-rows: auto 1fr;
    }
  }
}

@media (min-width: 720px) {
  .InvestorsPage-overview .InvestorsPage-overviewIntro {
    float: left;
    width: 48.83721%;
  }
}

@supports (display: grid) {
  @media (min-width: 720px) {
    .InvestorsPage-overview .InvestorsPage-overviewIntro {
      float: none;
      grid-column: 1 / 2;
      grid-row: 1 / auto;
      width: auto;
    }
  }
}

@media (max-width: 719px) {
  .InvestorsPage-overview .StockPriceCard {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: 64px;
  }
}

@media (min-width: 720px) {
  .InvestorsPage-overview .StockPriceCard {
    float: right;
    width: 40.46512%;
  }
}

@supports (display: grid) {
  @media (min-width: 720px) {
    .InvestorsPage-overview .StockPriceCard {
      -ms-flex-item-align: start;
          align-self: start;
      float: none;
      grid-column: 3 / 4;
      grid-row: 1 / -1;
      width: auto;
    }
  }
}

@media (min-width: 720px) {
  .InvestorsPage-overview .InvestorsPage-overviewFeed {
    clear: left;
    float: left;
    width: 48.83721%;
  }
}

@supports (display: grid) {
  @media (min-width: 720px) {
    .InvestorsPage-overview .InvestorsPage-overviewFeed {
      clear: none;
      float: none;
      grid-column: 1 / 2;
      grid-row: 2 / auto;
      width: auto;
    }
  }
}

.InvestorsPage-stock h1 {
  margin-bottom: 56px;
}

.InvestorsPage-stock .InvestorsPage-stockChart {
  margin-bottom: 128px;
  margin-top: 32px;
}

.InvestorsPage-stock .StockChartFilter {
  margin-bottom: 56px;
}

.InvestorsPage-stock .InvestorsPage-stockTable {
  margin-top: 88px;
}

.InvestorsPage-highlights h1 {
  margin-bottom: 1em;
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-highlights {
      display: grid;
      grid-template-columns: auto 8.99225% 332px;
      grid-template-rows: auto 1fr;
    }
  }
  @media (min-width: 83.625em) {
    .InvestorsPage-highlights {
      grid-template-columns: 630px 116px 332px;
    }
  }
}

@media (min-width: 860px) {
  .InvestorsPage-highlights .InvestorsPage-highlightsIntro {
    float: left;
    width: 58.44156%;
  }
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-highlights .InvestorsPage-highlightsIntro {
      float: none;
      grid-column: 1 / 2;
      grid-row: 1 / auto;
      width: auto;
    }
  }
}

.InvestorsPage-highlights .InvestorsPage-highlightsResources {
  margin-top: 56px;
}

@media (min-width: 860px) {
  .InvestorsPage-highlights .InvestorsPage-highlightsResources {
    float: right;
    margin-top: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    width: 30.79777%;
  }
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-highlights .InvestorsPage-highlightsResources {
      float: none;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      width: auto;
    }
  }
}

.InvestorsPage-highlights .InvestorsPage-highlightsTeam {
  margin-top: 56px;
}

@media (min-width: 903px) {
  .InvestorsPage-highlights .InvestorsPage-highlightsTeam {
    margin-top: 6.20155vw;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-highlights .InvestorsPage-highlightsTeam {
    margin-top: 80px;
  }
}

@media (min-width: 860px) {
  .InvestorsPage-highlights .InvestorsPage-highlightsTeam {
    border-top: 1px solid rgba(191, 208, 216, 0.47);
    float: left;
    padding-top: 80px;
    width: 58.44156%;
  }
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-highlights .InvestorsPage-highlightsTeam {
      float: none;
      grid-column: 1 / 2;
      grid-row: 2 / auto;
      width: auto;
    }
  }
}

.InvestorsPage-highlights .TeamList + .TeamList {
  margin-top: 56px;
}

@media (min-width: 903px) {
  .InvestorsPage-highlights .TeamList + .TeamList {
    margin-top: 6.20155vw;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-highlights .TeamList + .TeamList {
    margin-top: 80px;
  }
}

.InvestorsPage-highlights .ResourcesList + .ResourcesList {
  margin-top: 2.5em;
}

.InvestorsPage-filings .Filter {
  margin-top: 32px;
}

@media (min-width: 430px) {
  .InvestorsPage-filings .Filter {
    margin-top: 7.44186vw;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-filings .Filter {
    margin-top: 96px;
  }
}

.InvestorsPage-filings table {
  margin-top: 80px;
}

@media (max-width: 599px) {
  .InvestorsPage-filings table {
    margin-left: -24px;
    width: calc(100% + 48px);
  }
}

@media (min-width: 600px) {
  .InvestorsPage-filings table {
    margin-bottom: 80px;
  }
}

@media (max-width: 599px) {
  .InvestorsPage-filings table + hr {
    display: none;
  }
}

@media (min-width: 600px) {
  .InvestorsPage-filings .Pagination {
    margin-top: 32px;
  }
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-news {
      display: grid;
      grid-template-columns: auto 11.78295% 296px;
      grid-template-rows: auto 4.96124vw 1fr;
    }
  }
  @media (min-width: 83.625em) {
    .InvestorsPage-news {
      grid-template-columns: 630px 152px 296px;
      grid-template-rows: auto 64px 1fr;
    }
  }
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-news h1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
}

.InvestorsPage-news .Search {
  margin-top: 32px;
}

@media (min-width: 480px) {
  .InvestorsPage-news .Search {
    max-width: 296px;
  }
}

@media (min-width: 646px) {
  .InvestorsPage-news .Search {
    margin-top: 4.96124vw;
  }
}

@media (min-width: 860px) {
  .InvestorsPage-news .Search {
    float: right;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-news .Search {
    margin-top: 64px;
  }
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-news .Search {
      float: none;
      grid-column: 3 / 4;
      grid-row: 3 / auto;
      margin-top: 0;
    }
  }
}

.InvestorsPage-news .InvestorsPage-newsArticles {
  margin-top: 32px;
}

@media (min-width: 646px) {
  .InvestorsPage-news .InvestorsPage-newsArticles {
    margin-top: 4.96124vw;
  }
}

@media (min-width: 860px) {
  .InvestorsPage-news .InvestorsPage-newsArticles {
    width: 58.44156%;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-news .InvestorsPage-newsArticles {
    margin-top: 64px;
  }
}

@supports (display: grid) {
  @media (min-width: 860px) {
    .InvestorsPage-news .InvestorsPage-newsArticles {
      grid-column: 1 / 2;
      grid-row: 3 / auto;
      margin-top: 0;
      width: auto;
    }
  }
}

.InvestorsPage-news .NewsArticle--preview + .NewsArticle--preview {
  margin-top: 56px;
}

@media (min-width: 602px) {
  .InvestorsPage-news .NewsArticle--preview + .NewsArticle--preview {
    margin-top: 9.30233vw;
  }
}

@media (min-width: 83.625em) {
  .InvestorsPage-news .NewsArticle--preview + .NewsArticle--preview {
    margin-top: 120px;
  }
}

.InvestorsPage-article .Breadcrumbs {
  margin-bottom: 24px;
  margin-top: -38px;
}

.Feed {
  margin-top: 64px;
}

@media (min-width: 794px) {
  .Feed {
    margin-top: 8.06202vw;
  }
}

@media (min-width: 83.625em) {
  .Feed {
    margin-top: 104px;
  }
}

.UtilityLinks {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 600px;
  padding-top: 40px;
}

@media (min-width: 404px) {
  .UtilityLinks {
    margin-top: 19.84496vw;
  }
}

@media (min-width: 83.625em) {
  .UtilityLinks {
    margin-top: 256px;
  }
}

.NextPage {
  margin-bottom: 92px;
  margin-top: 92px;
}

@media (min-width: 660px) {
  .NextPage {
    margin-bottom: 13.95349vw;
    margin-top: 13.95349vw;
  }
}

@media (min-width: 83.625em) {
  .NextPage {
    margin-bottom: 180px;
    margin-top: 180px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Overlay
 * @type Atom
 */
.Overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 200ms, visibility 200ms;
  transition: opacity 200ms, visibility 200ms;
  visibility: hidden;
  width: 100vw;
  z-index: 8000;
}

.Overlay.is-open {
  opacity: 1;
  visibility: visible;
}
