/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Masthead
 * @type Atom
 */
.Masthead {
  height: 55vw;
  max-height: 466px;
  min-height: 178px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.Masthead--video {
  max-height: 80vh;
  min-height: 420px;
}

.Masthead .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.Masthead-title {
  color: #fff;
  margin: 0;
  text-shadow: 0 0 72px rgba(13, 60, 77, 0.4);
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Location finder
 * @type Organism
 */
.LocationFinder.is-sticky {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 34px rgba(28, 45, 62, 0.09);
          box-shadow: 0 2px 34px rgba(28, 45, 62, 0.09);
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky {
    height: 70px;
    overflow: hidden;
  }
}

@media (min-width: 670px) {
  .LocationFinder.is-sticky {
    -webkit-box-shadow: 0 2px 34px rgba(28, 45, 62, 0.09), 0 36px 84px rgba(4, 36, 53, 0.39);
            box-shadow: 0 2px 34px rgba(28, 45, 62, 0.09), 0 36px 84px rgba(4, 36, 53, 0.39);
  }
}

.LocationFinder .container {
  background-color: #fff;
  position: relative;
}

@media (min-width: 670px) {
  .LocationFinder .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6.97674vw;
    max-height: 90px;
    min-height: 60px;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky .container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 670px) {
  .LocationFinder:not(.is-sticky) .container {
    -webkit-box-shadow: 0 2px 34px rgba(28, 45, 62, 0.09), 0 36px 84px rgba(4, 36, 53, 0.39);
            box-shadow: 0 2px 34px rgba(28, 45, 62, 0.09), 0 36px 84px rgba(4, 36, 53, 0.39);
  }
}

.LocationFinder fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (min-width: 670px) {
  .LocationFinder fieldset {
    width: 80%;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky fieldset {
    margin-bottom: -24px;
  }
}

.LocationFinder legend {
  color: rgba(37, 57, 93, 0.79);
  display: block;
  float: left;
  font-weight: 700;
  height: 100%;
  line-height: 1;
  width: 22.48062%;
}

@media (max-width: 1023px) {
  .LocationFinder legend {
    display: none;
  }
}

.LocationFinder legend span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.LocationFinder label {
  display: none;
}

.LocationFinder select {
  border: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 669px) {
  .LocationFinder select {
    font-size: 12px;
  }
}

@media (max-width: 669px) {
  .LocationFinder select {
    border: 1px solid rgba(191, 208, 216, 0.27);
    margin-bottom: 6px;
  }
}

@media (min-width: 670px) {
  .LocationFinder select {
    border-left: 1px solid rgba(191, 208, 216, 0.27);
  }
}

@media (min-width: 670px) and (max-width: 1023px) {
  .LocationFinder select:first-of-type {
    border-left: 0;
  }
}

@media (max-width: 669px) {
  .LocationFinder select:not(:first-of-type) {
    float: left;
    width: calc(50% - 3px);
  }
}

@media (max-width: 669px) {
  .LocationFinder select:last-of-type {
    margin-left: 6px;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky select:first-of-type {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 22px;
    padding-left: 24px;
    padding-top: 24px;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky select:not(:first-of-type) {
    display: none;
  }
}

.LocationFinder-button {
  width: 100%;
}

@media (max-width: 669px) {
  .LocationFinder-button {
    font-size: 12px;
  }
}

@media (min-width: 670px) {
  .LocationFinder-button {
    min-width: 128px;
    width: 20%;
  }
}

@media (max-width: 669px) {
  .LocationFinder.is-sticky .LocationFinder-button {
    display: none;
  }
}

@media (min-width: 670px) {
  .LocationFinder.is-sticky .LocationFinder-button {
    -ms-flex-item-align: center;
        align-self: center;
    height: 56px;
  }
}

@media (min-width: 670px) {
  .LocationFinder-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover photo
 * @type Atom
 */
.CoverPhoto {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverPhoto::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .26;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverPhoto img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover video
 * @type Atom
 */
.CoverVideo {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverVideo::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .26;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverVideo img,
.CoverVideo video {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Tagline
 * @type Atom
 */
.Tagline {
  font-weight: 300;
  letter-spacing: -.5px;
  line-height: 1.4;
  text-align: center;
}

@media (min-width: 600px) {
  .Tagline {
    letter-spacing: -1.2px;
    line-height: 1.2;
  }
}

.Tagline b {
  font-weight: 600;
}

@media (min-width: 600px) {
  .Tagline b {
    font-weight: 700;
  }
}

.Masthead .Tagline {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 375px) {
  .Masthead .Tagline {
    max-width: 50vw;
  }
}

@media (min-width: 1290px) {
  .Masthead .Tagline {
    max-width: 480px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: No results
 * @type Organism
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Map widget
 * @type Atom
 */
.MapWidget {
  background-color: rgba(0, 0, 0, 0.1);
  height: 42.63566vw;
  max-height: 550px;
  min-height: 200px;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Location map legend
 * @type Organism
 */
.LocationMapLegend {
  color: #8993a3;
  font-size: 10px;
  line-height: 1;
}

@media (min-width: 600px) {
  .LocationMapLegend {
    font-size: 12px;
  }
}

.LocationMapLegend-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

.LocationMapLegend-pin {
  background-color: currentColor;
  border-radius: 100%;
  display: block;
  height: 8px;
  width: 8px;
}

@media (min-width: 600px) {
  .LocationMapLegend-pin {
    height: 14px;
    width: 14px;
  }
}

.LocationMapLegend-name {
  margin-left: 8px;
}

@media (min-width: 600px) {
  .LocationMapLegend-name {
    margin-left: 16px;
  }
}

.LocationMap .LocationMapLegend {
  margin-top: 24px;
}

@media (min-width: 600px) {
  .LocationMap .LocationMapLegend {
    margin-top: 32px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Location list
 * @type Molecule
 */
.LocationList h2:not(:first-of-type) {
  border-top: 1px solid rgba(191, 208, 216, 0.47);
  margin-top: 48px;
  padding-top: 40px;
}

@media (min-width: 600px) {
  .LocationList h2:not(:first-of-type) {
    margin-top: 72px;
    padding-top: 64px;
  }
}

.LocationList-item h4 {
  margin-bottom: 0;
}

.LocationList-item p {
  margin-top: 0;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Page: Locations
 * @type page
 */
.LocationFinder:not(.is-sticky) {
  margin-top: 48px;
}

@media (min-width: 41.875em) {
  .LocationFinder:not(.is-sticky) {
    margin-top: -3.48837vw;
  }
}

@media (min-width: 83.625em) {
  .LocationFinder:not(.is-sticky) {
    margin-top: -45px;
  }
}

.LocationsPage-grid {
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-top: 48px;
}

@media (min-width: 41.875em) {
  .LocationsPage-grid {
    grid-template-columns: 38.60465% 14.57364% 46.82171%;
    margin-top: 19.06977vw;
  }
}

@media (min-width: 83.625em) {
  .LocationsPage-grid {
    grid-template-columns: 108px 444px 188px 550px;
    margin-top: 246px;
  }
}

@media (min-width: 41.875em) {
  .LocationsPage-content {
    grid-column: 1 / 2;
    grid-row: 1;
  }
}

@media (min-width: 83.625em) {
  .LocationsPage-content {
    grid-column: 2 / 3;
  }
}

@media (max-width: 41.8125em) {
  .LocationsPage-aside {
    margin-bottom: 60px;
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 48px);
  }
}

@media (min-width: 41.875em) {
  .LocationsPage-aside {
    -ms-flex-item-align: start;
        align-self: start;
    grid-column: 3 / 4;
    grid-row: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 19.06977vw;
  }
}

@media (min-width: 83.625em) {
  .LocationsPage-aside {
    grid-column: 4 / 5;
    top: 246px;
  }
}

@media (max-width: 41.8125em) {
  .LocationMapLegend {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 41.8125em) {
  .LocationList {
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 48px);
  }
}

@media (max-width: 41.8125em) {
  .LocationList h2,
  .LocationList-item {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.Contentinfo {
  margin-top: 110px;
}

@media (min-width: 645px) {
  .Contentinfo {
    margin-top: 17.05426vw;
  }
}

@media (min-width: 83.625em) {
  .Contentinfo {
    margin-top: 220px;
  }
}
