/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: More link
 * @type Atom
 */
.MoreLink {
  font-size: 12px;
  color: #12769f;
  display: inline-block;
  line-height: 1.35714;
  position: relative;
  text-decoration: none;
}

@media (min-width: 37.5em) and (max-width: 80.625em) {
  .MoreLink {
    font-size: calc(12px + (14 - 12) * (100vw - 600px) / (1290 - 600));
  }
}

@media (min-width: 80.625em) {
  .MoreLink {
    font-size: 14px;
  }
}

.MoreLink:hover .icon, .MoreLink:active .icon, .MoreLink:focus .icon {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.MoreLink--white {
  color: #fff;
}

.MoreLink .icon {
  display: block;
  font-size: 24px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 5px;
  -webkit-transform: translateX(36px);
          transform: translateX(36px);
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, transform 200ms;
  transition: color 200ms, transform 200ms, -webkit-transform 200ms;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Masthead
 * @type Atom
 */
.Masthead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 466px;
  min-height: 178px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.Masthead--video {
  max-height: 732px;
  min-height: 420px;
}

.Masthead .container {
  position: relative;
  z-index: 1;
}

.Masthead-title {
  color: #fff;
  margin: 0;
  text-shadow: 0 0 54px #6facc1;
}

.Masthead .MoreLink {
  margin-top: 9.30233vw;
}

@media (min-width: 1290px) {
  .Masthead .MoreLink {
    margin-top: 120px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover photo
 * @type Atom
 */
.CoverPhoto {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverPhoto::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .26;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverPhoto img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Cover video
 * @type Atom
 */
.CoverVideo {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverVideo::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#b5955d), to(#5e91a1));
  background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: .26;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.CoverVideo img,
.CoverVideo video {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Tagline
 * @type Atom
 */
.Tagline {
  font-weight: 300;
  letter-spacing: -.5px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 64vw;
  text-align: center;
}

@media (min-width: 600px) {
  .Tagline {
    letter-spacing: -1.2px;
    max-width: 50vw;
  }
}

.Tagline b {
  font-weight: 600;
}

@media (min-width: 600px) {
  .Tagline b {
    font-weight: 700;
  }
}

.Tagline--white {
  color: #fff;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Introduction
 * @type Atom
 */
.Introduction {
  font-size: 20px;
  color: #819ba3;
  font-weight: 300;
  letter-spacing: -.9px;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
  max-width: 856px;
  text-align: center;
}

@media (min-width: 30em) and (max-width: 53.5em) {
  .Introduction {
    font-size: calc(20px + (32 - 20) * (100vw - 480px) / (856 - 480));
  }
}

@media (min-width: 53.5em) {
  .Introduction {
    font-size: 32px;
  }
}

@media (min-width: 30em) {
  .Introduction {
    letter-spacing: -1.4px;
    line-height: 1.5;
  }
}

@media (min-width: 30em) {
  .Introduction::after {
    content: "";
    background-color: #b5955d;
    display: block;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.25em;
    max-width: 264px;
    width: 30.84112vw;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Home block
 * @type Organism
 */
@media (min-width: 544px) {
  .ImageBlock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ImageBlock > a {
  display: block;
  overflow: hidden;
}

@media (max-width: 543px) {
  .ImageBlock > a {
    margin-left: -24px;
    width: calc(100% + 48px);
  }
}

@media (min-width: 544px) {
  .ImageBlock--alternate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.ImageBlock-photo {
  display: block;
  height: auto;
  max-width: 100%;
}

@media (min-width: 544px) {
  .ImageBlock-photo {
    max-height: 720px;
    -webkit-transition: -webkit-transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
    transition: -webkit-transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
    transition: transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
    transition: transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77), -webkit-transform 600ms cubic-bezier(0.45, 0.2, 0.41, 0.77);
  }
  .ImageBlock > a:hover .ImageBlock-photo {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@media (min-width: 544px) {
  .ImageBlock--alternate .ImageBlock-photo {
    max-height: 668px;
  }
}

@media (min-width: 544px) {
  .ImageBlock-text {
    margin-left: 10.54264%;
    max-width: 400px;
  }
}

.ImageBlock--alternate .ImageBlock-text {
  margin-left: 0;
}

@media (min-width: 544px) {
  .ImageBlock--alternate .ImageBlock-text {
    margin-right: 9.30233%;
  }
}

@media (min-width: 1088px) {
  .ImageBlock--alternate .ImageBlock-text {
    margin-left: 8.06202%;
  }
}

.ImageBlock-text h2 {
  color: #435e6c;
  font-weight: 300;
}

@media (max-width: 544px) {
  .ImageBlock-text h2 {
    margin-top: 32px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Sub Navigation
 * @type Molecule
 */
.SubNavigation {
  font-size: 12px;
  background-color: #fff;
  color: #646e7e;
  height: 61px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 37.5em) and (max-width: 80.625em) {
  .SubNavigation {
    font-size: calc(12px + (16 - 12) * (100vw - 600px) / (1290 - 600));
  }
}

@media (min-width: 80.625em) {
  .SubNavigation {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .SubNavigation {
    height: 90px;
  }
}

.SubNavigation::after, .SubNavigation::before {
  content: "";
  display: block;
  height: calc(100% - 1px);
  position: absolute;
  top: 0;
  width: 24px;
  z-index: 1;
}

.SubNavigation::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.SubNavigation::after {
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, #fff 20%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.SubNavigation-list {
  line-height: 1;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

@media (max-width: 1006px) {
  .SubNavigation-list {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1007px) {
  .SubNavigation-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 1290px;
  }
}

.SubNavigation-item {
  display: inline-block;
  height: 100%;
  margin-left: 14px;
  margin-right: 14px;
  padding-bottom: 22px;
  padding-top: 26px;
  position: relative;
}

@media (min-width: 600px) {
  .SubNavigation-item {
    padding-bottom: 34px;
    padding-top: 39px;
  }
}

.SubNavigation:not(.SubNavigation--scrollSpy) .SubNavigation-item.is-active::after {
  background-color: #b5955d;
  bottom: 0;
  height: 3px;
  position: absolute;
  content: "";
  left: 0;
  opacity: 1;
  width: 100%;
}

.SubNavigation-link {
  color: currentColor;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.SubNavigation-item:not(.is-active) .SubNavigation-link:hover, .SubNavigation-item:not(.is-active) .SubNavigation-link:active {
  color: rgba(68, 105, 117, 0.6);
}

.SubNavigation-marker {
  background-color: #b5955d;
  bottom: 0;
  height: 3px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  width: 0;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Next page
 */
@media (min-width: 480px) {
  .NextPage {
    text-align: center;
  }
}

.NextPage a {
  color: #25395d;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.NextPage a:hover, .NextPage a:active, .NextPage a:focus {
  color: rgba(37, 57, 93, 0.7);
}

.NextPage a:hover .NextPage-icon, .NextPage a:active .NextPage-icon, .NextPage a:focus .NextPage-icon {
  -webkit-transform: translateX(1.24242em);
          transform: translateX(1.24242em);
}

.NextPage-label {
  font-size: 10px;
  color: #b5955d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 30em) and (max-width: 80.625em) {
  .NextPage-label {
    font-size: calc(10px + (14 - 10) * (100vw - 480px) / (1290 - 480));
  }
}

@media (min-width: 80.625em) {
  .NextPage-label {
    font-size: 14px;
  }
}

.NextPage-title {
  font-size: 20px;
  color: currentColor;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.20833;
  margin-top: 8px;
  position: relative;
}

@media (min-width: 30em) and (max-width: 80.625em) {
  .NextPage-title {
    font-size: calc(20px + (48 - 20) * (100vw - 480px) / (1290 - 480));
  }
}

@media (min-width: 80.625em) {
  .NextPage-title {
    font-size: 48px;
  }
}

.NextPage-icon {
  color: #bfd0d8;
  font-size: 1.375em;
  height: 0.33333em;
  position: absolute;
  right: 0;
  top: 0.33333em;
  -webkit-transform: translateX(1.72727em);
          transform: translateX(1.72727em);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Feature
 * @type Organism
 */
.Feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55.75vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 508px;
  min-height: 446px;
  position: relative;
  width: 100%;
}

.Feature--tall {
  height: 82.5vw;
  max-height: 1000px;
  min-height: 660px;
}

.Feature-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  z-index: 1;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Highlight
 * @type Molecule
 */
.Highlight {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Highlight-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 11px 46px rgba(114, 155, 168, 0.28);
          box-shadow: 0 11px 46px rgba(114, 155, 168, 0.28);
  color: #25395d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 24px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px;
  width: 60px;
}

@media (min-width: 420px) {
  .Highlight-icon {
    font-size: 32px;
    height: 80px;
    width: 80px;
  }
}

.Highlight-data {
  max-width: 180px;
  padding-top: 5px;
  width: 100%;
}

@media (min-width: 420px) {
  .Highlight-data {
    max-width: 220px;
  }
}

.Highlight-number {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
  text-shadow: 0 0 34px #446975;
}

@media (min-width: 420px) {
  .Highlight-number {
    font-size: 32px;
  }
}

.Highlight-label {
  font-size: 12px;
  line-height: 1.41667;
  font-weight: 600;
  margin-top: 7px;
  text-shadow: 0 0 34px #446975;
}

@media (min-width: 420px) {
  .Highlight-label {
    font-size: 14px;
    line-height: 1.35714;
  }
}

.Feature .Highlight {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (min-width: 660px) {
  .Feature .Highlight {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}

@media (max-width: 659px) {
  .Feature .Highlight:not(:first-child) {
    margin-top: 60px;
  }
}

@media (min-width: 660px) {
  .Feature .Highlight:nth-child(3), .Feature .Highlight:nth-child(4) {
    margin-top: 128px;
  }
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Component: Testimonial
 * @type Organism
 */
.Testimonial {
  color: #25395d;
  margin: 0;
  max-width: 856px;
  text-align: center;
}

.Testimonial--white {
  color: #fff;
}

.Testimonial-quote {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1.6em;
  margin-top: 0;
}

@media (min-width: 37.5em) and (max-width: 64em) {
  .Testimonial-quote {
    font-size: calc(16px + (20 - 16) * (100vw - 600px) / (1024 - 600));
  }
}

@media (min-width: 64em) {
  .Testimonial-quote {
    font-size: 20px;
  }
}

.Testimonial--white .Testimonial-quote {
  text-shadow: 0 2px 24px #000;
}

.Testimonial-citation {
  display: inline-block;
  max-width: 424px;
  width: 80%;
}

@media (min-width: 480px) {
  .Testimonial-citation {
    width: 49.53271%;
  }
}

.Testimonial-citation br {
  display: none;
}

.Testimonial-person {
  font-size: 14px;
  display: block;
  font-weight: 700;
  line-height: 1.5;
}

@media (min-width: 37.5em) and (max-width: 64em) {
  .Testimonial-person {
    font-size: calc(14px + (16 - 14) * (100vw - 600px) / (1024 - 600));
  }
}

@media (min-width: 64em) {
  .Testimonial-person {
    font-size: 16px;
  }
}

.Testimonial-location {
  font-size: 10px;
  color: #b5955d;
  display: block;
  line-height: 1.21429;
  margin-top: 0.42857em;
}

@media (min-width: 37.5em) and (max-width: 64em) {
  .Testimonial-location {
    font-size: calc(10px + (14 - 10) * (100vw - 600px) / (1024 - 600));
  }
}

@media (min-width: 64em) {
  .Testimonial-location {
    font-size: 14px;
  }
}

.Testimonial--white .Testimonial-location {
  color: inherit;
}
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Page: Partnerships
 * @type page
 */
.Introduction {
  margin-bottom: 130px;
  margin-top: 90px;
}

@media (min-width: 468px) {
  .Introduction {
    margin-top: 19.22481vw;
  }
}

@media (min-width: 630px) {
  .Introduction {
    margin-bottom: 20.62016vw;
  }
}

@media (min-width: 83.625em) {
  .Introduction {
    margin-bottom: 266px;
    margin-top: 248px;
  }
}

.ImageBlock {
  margin-bottom: 104px;
  margin-top: 104px;
}

@media (min-width: 746px) {
  .ImageBlock {
    margin-bottom: 13.95349vw;
    margin-top: 13.95349vw;
  }
}

@media (min-width: 83.625em) {
  .ImageBlock {
    margin-bottom: 180px;
    margin-top: 180px;
  }
}

.Testimonial {
  margin: 86px auto;
}

@media (min-width: 957px) {
  .Testimonial {
    margin-bottom: 8.99225vw;
    margin-top: 8.99225vw;
  }
}

@media (min-width: 83.625em) {
  .Testimonial {
    margin-bottom: 116px;
    margin-top: 116px;
  }
}

.Feature {
  margin-bottom: 104px;
  margin-top: 104px;
}

@media (min-width: 516px) {
  .Feature {
    margin-bottom: 20.15504vw;
  }
}

@media (min-width: 746px) {
  .Feature {
    margin-top: 13.95349vw;
  }
}

@media (min-width: 83.625em) {
  .Feature {
    margin-bottom: 260px;
    margin-top: 180px;
  }
}

.NextPage {
  margin-bottom: 92px;
  margin-top: 92px;
}

@media (min-width: 660px) {
  .NextPage {
    margin-bottom: 13.95349vw;
    margin-top: 13.95349vw;
  }
}

@media (min-width: 83.625em) {
  .NextPage {
    margin-bottom: 180px;
    margin-top: 180px;
  }
}
