@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Introduction
 * @type Atom
 */

.Introduction {
  $min-font-size: $font-size-heading-4;
  $max-font-size: $font-size-heading-2;
  $min-width: 480;
  $max-width: 856;

  @include fluid-type(
    $min-font-size,
    $max-font-size,
    $min-width,
    $max-width
  );

  color: $color-text-introduction;
  font-weight: $font-weight-light;
  letter-spacing: -.9px;
  line-height: (36 / $min-font-size);
  margin-left: auto;
  margin-right: auto;
  max-width: #{$max-width}px;
  text-align: center;

  @media (min-width: $mq-min-480) {
    letter-spacing: -1.4px;
    line-height: (48 / $max-font-size);
  }

  &::after {
    @media (min-width: $mq-min-480) {
      background-color: $color-border-introduction;
      content: "";
      display: block;
      height: 4px;
      margin-left: auto;
      margin-right: auto;
      margin-top: #{(40 / $max-font-size) * 1em};
      width: 80px;
    }
  }
}
