<button class="Button js-modal-trigger" aria-owns="modal-with-dynamic-content-example">
  Open modal
</button>

{{> @modal id="modal-with-dynamic-content-example" hidden=true }}
{{> @overlay hidden=true }}
