<div class="CoverPhoto object-fit-cover">
  {{#unless coverPhoto.srcset}}
    {{> @image image=coverPhoto }}
  {{/unless}}

  {{#if coverPhoto.srcset}}
    {{> @image--picture image=coverPhoto }}
  {{/if}}
</div>
