@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.LeadershipTeam {
  @media (min-width: $mq-min-480) {
    margin-left: auto;
    margin-right: auto;
    max-width: 904px;
  }

  @media (min-width: $mq-min-615) {
    position: relative;
    top: -56px;

    @supports (display: grid) {
      top: 0;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-gap: 0;
    grid-row-gap: 64px;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $mq-min-480) {
      grid-column-gap: 24px;
      grid-row-gap: 56px;
      grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
      margin-left: auto;
      margin-right: auto;
      max-width: 904px;
    }

    @media (min-width: $mq-min-808) {
      grid-column-gap: 80px;
    }
  }

  // Zero out clearfix
  &::before,
  &::after {
    @supports (display: grid) {
      display: none;
    }
  }
}
