@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Testimonial {
  max-width: 856px;
  text-align: center;

  cite {
    max-width: 424px;
    width: 80%;

    @media (min-width: $mq-min-480) {
      width: #{(424 / 856) * 100%};
    }
  }
}

// Implementation detail

.Feature .Testimonial {
  blockquote {
    color: $color-text-overlay;
  }

  p {
    text-shadow: $shadow-feature-testimonial;
  }

  .blockquote-location {
    color: inherit;
  }
}
