<blockquote>
  <p>{{ blockquote.quote }}</p>

  <cite>
    {{ blockquote.citation }}

    {{#if blockquote.location}}
      <br>
      <span class="blockquote-location">
        {{ blockquote.location }}
      </span>
    {{/if}}
  </cite>
</blockquote>
