{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @sub-navigation }}

  <div class="page-content container padded">
    {{> @breadcrumbs }}

    {{> @news-article }}
  </div>

  <footer class="page-footer container">
    {{ render "@utility-links" }}

    <hr class="dark">

    {{> @next-page }}
  </footer>
</main>

{{ render "@contentinfo" }}
