{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @sub-navigation }}

  <div class="InvestorsPage-container">
    <div class="InvestorsPage-news container">
      <h1>{{ title }}</h1>

      {{ render "@search" }}

      <div class="InvestorsPage-newsArticles">
        {{#each newsArticles}}
          {{> @news-article--preview newsArticle=this }}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="container">
    {{> @utility-links}}

    <hr class="dark">

    {{> @next-page }}
  </div>
</main>

{{ render "@global-footer" }}
