{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @sub-navigation }}

  <div class="InvestorsPage-container">
    <div class="InvestorsPage-article container">
      {{> @breadcrumbs }}

      {{> @news-article }}
    </div>
  </div>

  <div class="container">
    {{> @utility-links}}

    <hr class="dark">

    {{> @next-page }}
  </div>
</main>

{{ render "@contentinfo" }}
