{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @sub-navigation }}

  <div class="InvestorsPage-container">
    <div class="InvestorsPage-highlights container">
      <div class="InvestorsPage-highlightsIntro">
        <h1>{{ title }}</h1>

        <p>
          The Board of Directors of Surgery Partners (the “Company”) sets
          high standards for the Company's employees, officers and
          directors. Implicit in this philosophy is the importance of
          sound corporate governance. It is the duty of the Board of
          Directors to serve as a prudent fiduciary for shareholders and
          to oversee the management of the Company's business. To fulfill
          its responsibilities and to discharge its duty, the Board of
          Directors follows the procedures and standards that are set
          forth in these guidelines. These guidelines are subject to
          modification from time to time as the Board of Directors deems
          appropriate in the best interests of the Company or as required
          by applicable laws and regulations.
        </p>
      </div>

      <div class="InvestorsPage-highlightsResources">
        {{#each resourcesList}}
          {{> @resources-list resourcesList=this }}
        {{/each}}
      </div>

      <div class="InvestorsPage-highlightsTeam">
        {{#each teamList}}
          {{> @team-list teamList=this }}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="container">
    {{> @utility-links}}

    <hr class="dark">

    {{> @next-page }}
  </div>
</main>

{{ render "@global-footer" }}
