@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Search {
  background-color: $color-background-default;
  border: 1px solid $color-border-default;
  display: flex;
  height: 44px;
}

.Search-label {
  @include visuallyhidden();
}

.Search-input[type="text"] {
  background-color: transparent;
  border: 0;
  flex: 0 1 auto;
  font-size: #{$font-size-body-small}px;
  margin: 4px;
  padding: 0 12px;
  width: 100%;
}

.Search-button {
  background-color: transparent;
  border: 0;
  color: $color-text-search-button;
  cursor: pointer;
  display: block;
  flex: 0 1 auto;
  font-weight: $font-weight-semibold;
  line-height: $line-height-reset;
  margin: 4px;
  padding: 0 28px;
  transition: color $timing-fast;

  &:hover,
  &:active,
  &:focus {
    color: $color-text-search-button-hover;
  }
}
