<form class="Search">
  <label class="Search-label" for="search-input">
    Search keywords
  </label>

  <input
    class="Search-input"
    id="search-input"
    name="search-input"
    placeholder="Search keywords"
    type="text">

  <button class="Search-button" type="submit">
    Search
  </button>
</form>
