@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Overlay
 * @type Atom
 */

.Overlay {
  background-color: rgba(#000, 0.20);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 200ms, visibility 200ms;
  visibility: hidden;
  width: 100vw;
  z-index: $z-index-overlay;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}
