@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Overlay {
  background-color: rgba($color-background-overlay, $opacity-20);
  height: 100vh;
  left: 0;
  opacity: $opacity-0;
  position: fixed;
  top: 0;
  transition: opacity 200ms, visibility 200ms;
  visibility: hidden;
  width: 100vw;
  z-index: $z-index-overlay;

  &.is-open {
    opacity: $opacity-100;
    visibility: visible;
  }
}
