{{> @banner className="Banner--bordered" }}

<main id="main" role="main" tabindex="0">
  <div class="page-content container padded">
    <div class="column">
      <h1>{{ title }}</h1>

      <p>
        Headquartered in Nashville, Tennessee, Surgery Partners is a
        leading healthcare services company with a differentiated
        outpatient delivery model focused on providing high quality, cost
        effective solutions for surgical and related ancillary care in
        support of both patients and physicians. Founded in 2004, Surgery
        Partners is one of the largest and fastest growing surgical
        services businesses in the country, with more than 150 locations
        in 29 states, including ambulatory surgical facilities, surgical
        hospitals, a diagnostic laboratory, multi-specialty physician
        practices and urgent care facilities.
      </p>

      {{ render "@contact-form" }}
    </div>
  </div>

  <footer class="page-footer container">
    <hr class="dark">

    {{> @next-page }}
  </footer>
</main>

{{ render "@contentinfo" }}
