

<table class="token-table">
  <tr>
    <th>Token</th>
    <th>Value</th>
    <th><abbr title="For reference only; cannot be used in code">Reference name</abbr></th>
    <th>Example</th>
  </tr>

    <tr>
      <td><code>$color-background-default</code></td>
      <td>
        <code>#fff</code><br>
        <code>rgb(255, 255, 255)</code>
      </td>
      <td>White</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#fff; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-footer</code></td>
      <td>
        <code>#152640</code><br>
        <code>rgb(21, 38, 64)</code>
      </td>
      <td>Big Stone</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#152640; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-cover-gradient-start</code></td>
      <td>
        <code>#b5955d</code><br>
        <code>rgb(181, 149, 93)</code>
      </td>
      <td>Muddy Waters</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#b5955d; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-cover-gradient-end</code></td>
      <td>
        <code>#5d91a1</code><br>
        <code>rgb(93, 145, 161)</code>
      </td>
      <td>Horizon</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#5d91a1; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-overlay</code></td>
      <td>
        <code>#000</code><br>
        <code>rgb(0, 0, 0)</code>
      </td>
      <td>Black</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#000; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-button</code></td>
      <td>
        <code>#5d91a1</code><br>
        <code>rgb(93, 145, 161)</code>
      </td>
      <td>Horizon</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#5d91a1; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
</table>

