

<table class="token-table">
  <tr>
    <th>Token</th>
    <th>Value</th>
    <th><abbr title="For reference only; cannot be used in code">Reference name</abbr></th>
    <th>Example</th>
  </tr>

    <tr>
      <td><code>$color-border-default</code></td>
      <td>
        <code>#bfd0d8</code><br>
        <code>rgb(191, 208, 216)</code>
      </td>
      <td>Jungle Mist</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#bfd0d8; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-border-introduction</code></td>
      <td>
        <code>#b5955d</code><br>
        <code>rgb(181, 149, 93)</code>
      </td>
      <td>Muddy Waters</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#b5955d; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
</table>

