

<div class="checkbox-group">
    <div>
      <label>
        <input type="checkbox" id="annual-patients" name="checkboxes" value="More than 600,000 annual patients">
        More than 600,000 annual patients
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" id="affiliated-physicians" name="checkboxes" value="5,000 affiliated physicians">
        5,000 affiliated physicians
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" id="patient-satisfaction" name="checkboxes" value="94% patient satisfaction">
        94% patient satisfaction
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" id="facility-growth" name="checkboxes" value="10% annual same-facility growth over the past five years">
        10% annual same-facility growth over the past five years
      </label>
    </div>
</div>

