

<table class="token-table">
  <tr>
    <th>Token</th>
    <th>Value</th>
    <th>Example</th>
  </tr>

    <tr>
      <td><code>$color-background-default</code></td>
      <td>
          <div>
            <code>#fff</code>
          </div>
          <div>
            <code>rgb(255, 255, 255)</code>
          </div>
          <div>
            <code>White</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#fff; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-footer</code></td>
      <td>
          <div>
            <code>#152640</code>
          </div>
          <div>
            <code>rgb(21, 38, 64)</code>
          </div>
          <div>
            <code>Big Stone</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#152640; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-cover-gradient-start</code></td>
      <td>
          <div>
            <code>#b5955d</code>
          </div>
          <div>
            <code>rgb(181, 149, 93)</code>
          </div>
          <div>
            <code>Muddy Waters</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#b5955d; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-cover-gradient-end</code></td>
      <td>
          <div>
            <code>#5d91a1</code>
          </div>
          <div>
            <code>rgb(93, 145, 161)</code>
          </div>
          <div>
            <code>Horizon</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#5d91a1; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-overlay</code></td>
      <td>
          <div>
            <code>#000</code>
          </div>
          <div>
            <code>rgb(0, 0, 0)</code>
          </div>
          <div>
            <code>Black</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#000; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-background-button</code></td>
      <td>
          <div>
            <code>#5d91a1</code>
          </div>
          <div>
            <code>rgb(93, 145, 161)</code>
          </div>
          <div>
            <code>Horizon</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#5d91a1; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>

    <tr>
      <td><code>$color-border-default</code></td>
      <td>
          <div>
            <code>#bfd0d8</code>
          </div>
          <div>
            <code>rgb(191, 208, 216)</code>
          </div>
          <div>
            <code>Jungle Mist</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#bfd0d8; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-border-introduction</code></td>
      <td>
          <div>
            <code>#b5955d</code>
          </div>
          <div>
            <code>rgb(181, 149, 93)</code>
          </div>
          <div>
            <code>Muddy Waters</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#b5955d; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>

    <tr>
      <td><code>$color-text-default</code></td>
      <td>
          <div>
            <code>#8f9aa8</code>
          </div>
          <div>
            <code>rgb(143, 154, 168)</code>
          </div>
          <div>
            <code>Regent Gray</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#8f9aa8; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-heading</code></td>
      <td>
          <div>
            <code>#25395d</code>
          </div>
          <div>
            <code>rgb(37, 57, 93)</code>
          </div>
          <div>
            <code>Cloud Burst</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#25395d; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-overlay</code></td>
      <td>
          <div>
            <code>#fff</code>
          </div>
          <div>
            <code>rgb(255, 255, 255)</code>
          </div>
          <div>
            <code>White</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#fff; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-introduction</code></td>
      <td>
          <div>
            <code>#819ba3</code>
          </div>
          <div>
            <code>rgb(129, 155, 163)</code>
          </div>
          <div>
            <code>Gumbo</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#819ba3; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-hamburger</code></td>
      <td>
          <div>
            <code>#275e70</code>
          </div>
          <div>
            <code>rgb(39, 94, 112)</code>
          </div>
          <div>
            <code>Casal</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#275e70; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-more-link</code></td>
      <td>
          <div>
            <code>#12769f</code>
          </div>
          <div>
            <code>rgb(18, 118, 159)</code>
          </div>
          <div>
            <code>Blue Chill</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#12769f; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>

  <!--  -->
</table>

<!--  -->

<!-- <div class="Background swatch swatch--light">
  White
</div>

<div class="Background--blue swatch">
  Blue
</div>

<div class="Background--plum swatch">
  Plum
</div>

<div class="Background--green swatch">
  Green
</div>

<div class="Background--peach swatch">
  Peach
</div>

<div class="Background--yellow swatch swatch--light">
  Yellow
</div> -->

