

<table class="token-table">
  <tr>
    <th>Token</th>
    <th>Value</th>
    <th>Example</th>
  </tr>

    <tr>
      <td><code>$background-white</code></td>
      <td>
          <div>
            <code>#fff</code>
          </div>
          <div>
            <code>rgb(255, 255, 255)</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#fff; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$background-blue</code></td>
      <td>
          <div>
            <code>#1f6b9c</code>
          </div>
          <div>
            <code>rgb(31, 107, 156)</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#1f6b9c; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$background-plum</code></td>
      <td>
          <div>
            <code>#973b8a</code>
          </div>
          <div>
            <code>rgb(151, 59, 138)</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#973b8a; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$background-green</code></td>
      <td>
          <div>
            <code>#00d494</code>
          </div>
          <div>
            <code>rgb(0, 212, 148)</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#00d494; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$background-peach</code></td>
      <td>
          <div>
            <code>#db755c</code>
          </div>
          <div>
            <code>rgb(219, 117, 92)</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#db755c; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$background-yellow</code></td>
      <td>
          <div>
            <code>#ffc83f</code>
          </div>
          <div>
            <code>rgb(255, 200, 63)</code>
          </div>
      </td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#ffc83f; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>

  <!-- 
    <tr>
      <td><code>$background-white</code></td>
      <td><code>[object Object]</code></td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:[object Object];">
        </div>
      </td>
    </tr>
  
    <tr>
      <td><code>$background-blue</code></td>
      <td><code>[object Object]</code></td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:[object Object];">
        </div>
      </td>
    </tr>
  
    <tr>
      <td><code>$background-plum</code></td>
      <td><code>[object Object]</code></td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:[object Object];">
        </div>
      </td>
    </tr>
  
    <tr>
      <td><code>$background-green</code></td>
      <td><code>[object Object]</code></td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:[object Object];">
        </div>
      </td>
    </tr>
  
    <tr>
      <td><code>$background-peach</code></td>
      <td><code>[object Object]</code></td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:[object Object];">
        </div>
      </td>
    </tr>
  
    <tr>
      <td><code>$background-yellow</code></td>
      <td><code>[object Object]</code></td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:[object Object];">
        </div>
      </td>
    </tr>
   -->
</table>

<!-- 
  <div class="Background--white swatch">
    white ([object Object])
  </div>

  <div class="Background--blue swatch">
    blue ([object Object])
  </div>

  <div class="Background--plum swatch">
    plum ([object Object])
  </div>

  <div class="Background--green swatch">
    green ([object Object])
  </div>

  <div class="Background--peach swatch">
    peach ([object Object])
  </div>

  <div class="Background--yellow swatch">
    yellow ([object Object])
  </div>
 -->

<!-- <div class="Background swatch swatch--light">
  White
</div>

<div class="Background--blue swatch">
  Blue
</div>

<div class="Background--plum swatch">
  Plum
</div>

<div class="Background--green swatch">
  Green
</div>

<div class="Background--peach swatch">
  Peach
</div>

<div class="Background--yellow swatch swatch--light">
  Yellow
</div> -->

