

<form class="ContactForm" action="">
  <p>
    <label for="name">Name</label>
    <input
      
      type="text"
      
      id="name"
      name="name"
      
      required>
  </p>

  <p>
    <label for="email-address">Email address</label>
    <input
      type="email"
      
      
      id="email-address"
      name="email_address"
      
      required>
  </p>

  <p>
    <label for="phone-number">Phone number</label>
    <input
      type="tel"
      
      
      id="phone-number"
      name="phone_number"
      
      >
  </p>

  <p>
    <label for="message">Message</label>
    <textarea
      
      id="message"
      name="message"
      
      cols="60"
      rows="5"
      ></textarea>
  </p>

  <p>
    <button class="Button" type="submit">
      Submit
    </button>
  </p>
</form>

