

<div class="CoverPhoto">

    <picture>
        <source
          srcset="../../assets/images/about-masthead-sm@2x.jpg"
          media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
        <source
          srcset="../../assets/images/about-masthead@2x.jpg"
          media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
        <source
          srcset="../../assets/images/about-masthead-sm.jpg"
          media="(max-width: 544px)">
        <source
          srcset="../../assets/images/about-masthead.jpg"
          >
    
      <img
        src="../../assets/images/about-masthead@2x.jpg"
        alt="A group of ER doctors smiling happily">
    </picture>
</div>

