

<div class="Feature Feature--tall">
  <div class="container">
    <div class="Feature-content">
        <div class="Highlight">
          <div class="Highlight-icon">
            <svg version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="icon"
              >
              <use xlink:href="#icon-stethoscope-mono"></use>
            </svg>
          </div>
        
          <div class="Highlight-data">
            <div class="Highlight-number">
              5,000 +
            </div>
        
            <div class="Highlight-label">
              Affiliated physicians
            </div>
          </div>
        </div>
        <div class="Highlight">
          <div class="Highlight-icon">
            <svg version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="icon"
              >
              <use xlink:href="#icon-chart-line"></use>
            </svg>
          </div>
        
          <div class="Highlight-data">
            <div class="Highlight-number">
              10%
            </div>
        
            <div class="Highlight-label">
              Annual same-facility growth over the past five years
            </div>
          </div>
        </div>
        <div class="Highlight">
          <div class="Highlight-icon">
            <svg version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="icon"
              >
              <use xlink:href="#icon-heart"></use>
            </svg>
          </div>
        
          <div class="Highlight-data">
            <div class="Highlight-number">
              94%
            </div>
        
            <div class="Highlight-label">
              Patient satisfaction
            </div>
          </div>
        </div>
        <div class="Highlight">
          <div class="Highlight-icon">
            <svg version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="icon"
              >
              <use xlink:href="#icon-clipboard"></use>
            </svg>
          </div>
        
          <div class="Highlight-data">
            <div class="Highlight-number">
              600,000 +
            </div>
        
            <div class="Highlight-label">
              Annual patients
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="CoverPhoto object-fit-cover">
      <img
        src="../../assets/images/about-feature@2x.jpg"
        alt="">
  
  </div>
</div>

