

<div class="Feature">
  <div class="container">
    <div class="Feature-content">
        <div class="Statistic">
          <div class="Statistic-icon">
            <svg class="icon">
              <use xlink:href="#icon-stethoscope"></use>
            </svg>
          </div>
        
          <div class="Statistic-data">
            <div class="Statistic-number">
              5,000 +
            </div>
        
            <div class="Statistic-label">
              Affiliated physicians
            </div>
          </div>
        </div>
        <div class="Statistic">
          <div class="Statistic-icon">
            <svg class="icon">
              <use xlink:href="#icon-chart-line"></use>
            </svg>
          </div>
        
          <div class="Statistic-data">
            <div class="Statistic-number">
              10%
            </div>
        
            <div class="Statistic-label">
              Annual same-facility growth over the past five years
            </div>
          </div>
        </div>
        <div class="Statistic">
          <div class="Statistic-icon">
            <svg class="icon">
              <use xlink:href="#icon-heart"></use>
            </svg>
          </div>
        
          <div class="Statistic-data">
            <div class="Statistic-number">
              94%
            </div>
        
            <div class="Statistic-label">
              Patient satisfaction
            </div>
          </div>
        </div>
        <div class="Statistic">
          <div class="Statistic-icon">
            <svg class="icon">
              <use xlink:href="#icon-clipboard"></use>
            </svg>
          </div>
        
          <div class="Statistic-data">
            <div class="Statistic-number">
              600,000 +
            </div>
        
            <div class="Statistic-label">
              Annual patients
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="CoverPhoto">
    <img
      src="/feature-image.jpg"
      alt="">
  </div>
</div>

