

<div class="Feature">
  <div class="container">
    <div class="Feature-content">
      <blockquote class="Testimonial Testimonial--white">
        <p class="Testimonial-quote">We&#x27;re able to structure a relationship in a way that best suits the physician, either as a partner, an affiliated physician or an employed physician.</p>
      
        <cite class="Testimonial-citation">
          <span class="Testimonial-person">
            Mike Doyle, CEO
          </span>
      
            <br>
            <span class="Testimonial-location">
              Surgery Partners
            </span>
        </cite>
      </blockquote>
    </div>
  </div>

  <div class="CoverPhoto">
      <img
        src="../../partnerships-feature@2x.jpg"
        alt="">
  
  </div>
</div>

