

<div class="Feature">
  <div class="container">
    <div class="Feature-content">
      <div class="Testimonial">
        <blockquote>
          <p>We&#x27;re able to structure a relationship in a way that best suits the physician, either as a partner, an affiliated physician or an employed physician.</p>
        
          <cite>
            Mike Doyle, CEO
        
              <br>
              <span class="blockquote-location">
                Surgery Partners
              </span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="CoverPhoto object-fit-cover">
      <img
        src="../../assets/images/partnerships-feature@2x.jpg"
        alt="">
  
  </div>
</div>

