

<section class="Feed">
  <h2>Latest news</h2>


      <article>
        <p>
          <a href="/">
            <time datetime="2017-08-08">
              August 6, 2017
            </time><br>
            Surgery Partners, Inc. Announces Second Quarter 2017 Results
          </a>
        </p>
      </article>
      <article>
        <p>
          <a href="/">
            <time datetime="2017-07-25">
              July 25, 2017
            </time><br>
            Surgery Partners, Inc. Announces Second Quarter 2017 Earnings Release Date and Conference Call Details
          </a>
        </p>
      </article>
      <article>
        <p>
          <a href="/">
            <time datetime="2017-06-16">
              June 19, 2017
            </time><br>
            Surgery Partners, Inc. Announces Pricing of $370 Million Senior Note Offering
          </a>
        </p>
      </article>
</section>

