

<header class="GlobalHeader container" role="banner">
  <a class="Logo" href="/components/preview/home">
  <img
    src="../../logo@2x.png"
    alt="Surgery Partners"
  >
</a>

  <a href="#footer-navigation" class="Hamburger js-hamburger">
  <span class="Hamburger-icon"></span>
</a>

  <nav class="Navigation js-navigation" role="navigation">
  <ul>
      <li>
        <a href="/components/preview/about">
          About us
        </a>
      </li>
      <li>
        <a href="/components/preview/locations">
          Find a location
        </a>
      </li>
      <li>
        <a href="/components/preview/partnerships">
          Partnerships
        </a>
      </li>
      <li>
        <a href="/components/preview/investors">
          Investors
        </a>
      </li>
  </ul>
</nav>

  <div class="Overlay js-overlay"></div>

</header>

