

<header class="GlobalHeader js-global-header" role="banner">
  <div class="GlobalHeader-container container">
    <a class="Logo" href="/components/preview/home">
  <img
    src="../../logo@2x.png"
    alt="Surgery Partners"
  >
</a>

    <a href="#footer-navigation" class="Hamburger js-hamburger">
  <span class="Hamburger-icon">Open menu</span>
</a>

    <nav class="Navigation js-navigation" role="navigation">
  <ul>
      <li>
        <a href="../preview/about.html">
          About us
        </a>
      </li>
      <li>
        <a href="../preview/locations.html">
          Find a location
        </a>
      </li>
      <li>
        <a href="../preview/partnerships.html">
          Partnerships
        </a>
      </li>
      <li>
        <a href="../preview/investors.html">
          Investors
        </a>
      </li>
  </ul>
</nav>

  </div>
</header>

