

<table class="token-table">
  <tr>
    <th>Classname</th>
    <th>Purpose</th>
  </tr>

    <tr>
      <td><code>hidden</code></td>
      <td>Hide content visually and from screen readers; can also use the HTML5 boolean &#x60;hidden&#x60;</td>
    </tr>
    <tr>
      <td><code>visuallyhidden</code></td>
      <td>Hide content only visually, but have it available for screen readers</td>
    </tr>
    <tr>
      <td><code>invisible</code></td>
      <td>Hide content visually and from screen readers, but maintain layout; can be used along with &#x60;opacity&#x60; for animating content in and out</td>
    </tr>
    <tr>
      <td><code>clearfix</code></td>
      <td>Contain floats</td>
    </tr>
    <tr>
      <td><code>align-left</code></td>
      <td>Left align text</td>
    </tr>
    <tr>
      <td><code>align-right</code></td>
      <td>Right align text</td>
    </tr>
    <tr>
      <td><code>align-center</code></td>
      <td>Center align text</td>
    </tr>
    <tr>
      <td><code>float-left</code></td>
      <td>Float content left</td>
    </tr>
    <tr>
      <td><code>float-right</code></td>
      <td>Float content right</td>
    </tr>
    <tr>
      <td><code>text-tiny</code></td>
      <td>Sets font size to “tiny”</td>
    </tr>
    <tr>
      <td><code>text-positive</code></td>
      <td>Colors text green; used to signal a positive action</td>
    </tr>
    <tr>
      <td><code>text-negative</code></td>
      <td>Colors text red; used to signal a negative action</td>
    </tr>
</table>

