

<header class="Banner js-banner" role="banner">
  <div class="container">
    <a class="Logo" href="/components/preview/home">
  <svg class="Logo-icon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 293 32">
    <title>Surgery Partners</title>
    <path d="M40.213 20.587v0c1.707 1.493 4.16 2.133 6.4 2.133 3.093 0 4.48-0.853 4.48-2.667 0-1.387-1.173-2.027-4.16-2.773l-2.56-0.64c-2.773-0.853-3.84-2.347-3.84-4.16 0-2.667 2.453-4.48 6.613-4.48 1.813 0 4.267 0.533 5.12 1.28v2.133h-0.107c-1.387-1.173-3.413-1.707-5.333-1.707-3.307 0-4.373 1.28-4.373 2.56s0.747 2.027 3.307 2.667l2.88 0.747c2.987 0.853 4.48 2.027 4.48 4.16 0 2.453-1.813 4.587-6.613 4.587-2.24 0-4.8-0.64-6.187-1.813v-2.027z"></path>
    <path d="M71.573 17.28c0 2.24-0.32 3.413-0.96 4.48-0.96 1.493-3.2 2.773-6.293 2.773-2.987 0-5.44-0.96-6.507-2.88-0.533-0.96-0.747-2.453-0.747-4.267v-9.067h1.813v8.533c0 1.6 0.107 2.88 0.747 4.053 0.64 1.067 2.453 1.813 4.693 1.813 2.133 0 3.733-0.64 4.587-1.813 0.64-0.747 0.96-2.133 0.96-3.947v-8.64h1.707v8.96z"></path>
    <path d="M87.787 24.107l-4.8-6.72c-0.533 0-1.067 0-1.6 0h-2.987v6.72h-1.813v-15.787h5.12c1.92 0 3.2 0.107 4.267 0.427 1.813 0.533 2.88 1.92 2.88 3.947 0 2.347-1.387 3.733-3.52 4.267l-0.427 0.107 5.013 7.040h-2.133zM81.707 15.68c1.6 0 2.667-0.213 3.413-0.427 1.173-0.427 1.707-1.28 1.707-2.453 0-1.067-0.533-1.92-1.6-2.347-0.853-0.32-2.133-0.427-3.413-0.427h-3.52v5.653h3.413z"></path>
    <path d="M101.44 24.427c-5.227 0-9.387-2.987-9.387-8.213 0-5.44 4.587-8.213 9.707-8.213 2.133 0 4.373 0.533 5.547 1.387v2.027h-0.107c-1.173-0.96-3.093-1.707-5.44-1.707-4.16 0-7.68 2.133-7.68 6.4 0 4.373 3.307 6.613 7.68 6.613 1.707 0 3.307-0.32 4.373-0.853v-4.16h-4.8v-1.813h6.72v7.040c-1.6 0.853-4.053 1.493-6.613 1.493z"></path>
    <path d="M112.427 24.107v-15.787h10.773v1.813h-8.96v4.907h8.427v1.813h-8.427v5.547h9.387v1.813h-11.2z"></path>
    <path d="M138.88 24.107l-4.8-6.72c-0.533 0-1.067 0-1.6 0h-2.987v6.72h-1.813v-15.787h5.12c1.92 0 3.2 0.107 4.267 0.427 1.813 0.533 2.88 1.92 2.88 3.947 0 2.347-1.387 3.733-3.52 4.267l-0.32 0.107 5.013 7.040h-2.24zM132.907 15.68c1.6 0 2.667-0.213 3.413-0.427 1.173-0.427 1.707-1.28 1.707-2.453 0-1.067-0.533-1.92-1.6-2.347-0.853-0.32-2.133-0.427-3.413-0.427h-3.52v5.653h3.413z"></path>
    <path d="M148.907 24.107v-6.4l-7.040-9.387h2.347c3.947 5.333 4.8 6.507 5.653 7.787 0.853-1.28 1.6-2.347 5.76-7.787h2.347l-7.147 9.493v6.4h-1.92z"></path>
    <path d="M166.293 24.107v-15.787h5.44c1.92 0 3.2 0.213 4.267 0.533 1.813 0.533 2.987 2.027 2.987 4.16 0 2.347-1.067 3.947-3.413 4.693-1.067 0.32-2.453 0.427-3.84 0.427h-3.52v6.080h-1.92zM171.84 16.32c1.6 0 2.88-0.213 3.52-0.533 1.067-0.533 1.707-1.387 1.707-2.88 0-1.173-0.533-2.133-1.707-2.56-0.853-0.32-2.133-0.427-3.307-0.427h-3.84v6.293h3.627z"></path>
    <path d="M179.093 24.107l7.467-15.893h1.813l7.36 15.893h-2.133l-2.24-4.8h-8l-2.24 4.8h-2.027zM190.72 17.813c-2.347-5.013-2.773-6.187-3.307-7.36-0.533 1.173-1.067 2.347-3.413 7.36h6.72z"></path>
    <path d="M210.133 24.107l-4.8-6.72c-0.533 0-1.067 0-1.6 0h-2.987v6.72h-1.813v-15.787h5.12c1.92 0 3.2 0.107 4.267 0.427 1.813 0.533 2.88 1.92 2.88 3.947 0 2.347-1.387 3.733-3.52 4.267l-0.32 0.107 5.013 7.040h-2.24zM204.16 15.68c1.6 0 2.667-0.213 3.413-0.427 1.173-0.427 1.707-1.28 1.707-2.453 0-1.067-0.533-1.92-1.6-2.347-0.853-0.32-2.133-0.427-3.413-0.427h-3.52v5.653h3.413z"></path>
    <path d="M219.413 24.107v-13.973h-5.973v-1.813h13.973v1.813h-6.187v14.080h-1.813z"></path>
    <path d="M230.72 24.107v-15.787h2.133c7.787 9.493 8.853 10.773 10.24 12.587-0.107-2.667-0.107-5.227-0.107-12.587h1.813v15.893h-1.493c-8.107-10.133-9.493-11.733-10.773-13.333 0.107 3.307 0.107 5.653 0.107 13.333h-1.92z"></path>
    <path d="M249.387 24.107v-15.787h10.88v1.813h-8.96v4.907h8.427v1.813h-8.427v5.547h9.387v1.813h-11.307z"></path>
    <path d="M275.947 24.107l-4.8-6.72c-0.533 0-1.067 0-1.6 0h-2.987v6.72h-1.813v-15.787h5.12c1.92 0 3.2 0.107 4.267 0.427 1.813 0.533 2.88 1.92 2.88 3.947 0 2.347-1.387 3.733-3.52 4.267l-0.427 0.107 5.013 7.040h-2.133zM269.867 15.68c1.6 0 2.667-0.213 3.413-0.427 1.173-0.427 1.707-1.28 1.707-2.453 0-1.067-0.533-1.92-1.6-2.347-0.853-0.32-2.133-0.427-3.413-0.427h-3.52v5.653h3.413z"></path>
    <path d="M280.533 20.587v0c1.707 1.493 4.16 2.133 6.4 2.133 3.093 0 4.48-0.853 4.48-2.667 0-1.387-1.173-2.027-4.16-2.773l-2.56-0.64c-2.88-0.747-3.947-2.24-3.947-4.16 0-2.667 2.453-4.48 6.613-4.48 1.813 0 4.267 0.533 5.12 1.28v2.133h-0.107c-1.387-1.173-3.413-1.707-5.333-1.707-3.307 0-4.373 1.28-4.373 2.56s0.747 2.027 3.307 2.667l2.88 0.747c2.987 0.853 4.48 2.027 4.48 4.16 0 2.453-1.813 4.587-6.613 4.587-2.24 0-4.8-0.64-6.187-1.813v-2.027z"></path>
    <path class="Logo-arrow Logo-arrow--left" d="M13.12 0h-2.987v9.067c0 0.64-0.533 1.067-1.067 1.067h-9.067v2.987c0 1.173 0.96 2.133 2.133 2.133v0h10.773c1.28 0 2.347-1.067 2.347-2.347v-10.773c0-1.173-0.96-2.133-2.133-2.133z"></path>
    <path class="Logo-arrow Logo-arrow--right" d="M18.88 0h2.987v9.067c0 0.64 0.533 1.067 1.067 1.067h9.067v2.987c0 1.173-0.96 2.133-2.133 2.133v0h-10.773c-1.28 0-2.347-1.067-2.347-2.347v-10.773c0-1.173 0.96-2.133 2.133-2.133z"></path>
    <path class="Logo-arrow Logo-arrow--left" d="M13.12 32h-2.987v-9.067c0-0.64-0.533-1.067-1.067-1.067h-9.067v-2.987c0-1.173 0.96-2.133 2.133-2.133v0h10.773c1.28 0 2.347 1.067 2.347 2.347v10.773c0 1.173-0.96 2.133-2.133 2.133z"></path>
    <path class="Logo-arrow Logo-arrow--right" d="M18.88 32h2.987v-9.067c0-0.64 0.533-1.067 1.067-1.067h9.067v-2.987c0-1.173-0.96-2.133-2.133-2.133v0h-10.773c-1.28 0-2.347 1.067-2.347 2.347v10.773c0 1.173 0.96 2.133 2.133 2.133z"></path>
  </svg>
</a>

    <a href="#footer-navigation" class="Hamburger js-hamburger">
  <span class="Hamburger-icon">Open menu</span>
</a>

    <nav class="Navigation js-navigation" role="navigation">
  <ul>
      <li>
        <a href="../preview/about.html">
          About us
        </a>
      </li>
      <li>
        <a href="../preview/locations.html">
          Find a location
        </a>
      </li>
      <li>
        <a href="../preview/partnerships.html">
          Partnerships
        </a>
      </li>
      <li>
        <a href="../preview/investors.html">
          Investors
        </a>
      </li>
  </ul>
</nav>

  </div>
</header>


<main id="main" role="main" tabindex="0">
  <header class="Masthead Masthead--video js-masthead">
    <div class="container">
        <div class="Tagline heading-super">
          <span>We operate</span> <span><b>differently</b></span>
        </div>
        <a class="MoreLink" href="/">
          <span class="MoreLink-text">
              Learn more
        
        
            <svg class="icon js-masthead"
              >
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </span>
          <span class="MoreLink-bar"></span>
        </a>
  
    </div>
  
    <div class="CoverVideo js-cover-video object-fit-cover"
      data-src="../../assets/images/home-video.mp4"
      data-type="video/mp4"
      data-autoplay="true">
      <img
        src="../../assets/images/home-video-poster.jpg"
        alt="">
    </div>
  </header>

  <div class="LocationFinder js-location-finder" data-location-url="/locations">
  <div class="container">
    <fieldset>
      <legend>
        <span>Find a location</span>
      </legend>

      <div class="LocationFinder-controls">
        <label for="state-select">State</label>
        <select
          class="js-location-finder-select"
          id="state-select"
          name="state-select"
          >
            <option value="all" selected="selected">
              State
            </option>
            <option value="Alabama">
              Alabama
            </option>
            <option value="Arkansas">
              Arkansas
            </option>
            <option value="California">
              California
            </option>
            <option value="Colorado">
              Colorado
            </option>
            <option value="Delaware">
              Delaware
            </option>
            <option value="Florida">
              Florida
            </option>
            <option value="Georgia">
              Georgia
            </option>
            <option value="Hawaii">
              Hawaii
            </option>
            <option value="Idaho">
              Idaho
            </option>
            <option value="Illinois">
              Illinois
            </option>
            <option value="Indiana">
              Indiana
            </option>
            <option value="Iowa">
              Iowa
            </option>
            <option value="Kansas">
              Kansas
            </option>
            <option value="Kentucky">
              Kentucky
            </option>
            <option value="Louisiana">
              Louisiana
            </option>
            <option value="Michigan">
              Michigan
            </option>
            <option value="Mississippi">
              Mississippi
            </option>
            <option value="Missouri">
              Missouri
            </option>
            <option value="Montana">
              Montana
            </option>
            <option value="Nebraska">
              Nebraska
            </option>
            <option value="New Hampshire">
              New Hampshire
            </option>
            <option value="North Carolina">
              North Carolina
            </option>
            <option value="North Dakota">
              North Dakota
            </option>
            <option value="Ohio">
              Ohio
            </option>
            <option value="Pennsylvania">
              Pennsylvania
            </option>
            <option value="Rhode Island">
              Rhode Island
            </option>
            <option value="Tennessee">
              Tennessee
            </option>
            <option value="Texas">
              Texas
            </option>
            <option value="Washington">
              Washington
            </option>
            <option value="Wisconsin">
              Wisconsin
            </option>
        </select>

        <label for="specialty-select">Specialty</label>
        <select
          class="js-location-finder-select"
          id="specialty-select"
          name="specialty-select"
          >
            <option value="all" selected="selected">
              Specialty
            </option>
            <option value="1">
              Ear, Nose and Throat
            </option>
            <option value="2">
              Oral/Dental Surgery
            </option>
            <option value="3">
              Gastroenterology
            </option>
            <option value="4">
              General Surgery
            </option>
            <option value="5">
              Ophthalmology
            </option>
            <option value="6">
              Pain Management
            </option>
            <option value="9">
              Gynecology
            </option>
            <option value="10">
              Orthopedics
            </option>
            <option value="11">
              Neurosurgery
            </option>
            <option value="12">
              Podiatry
            </option>
            <option value="13">
              Radiology
            </option>
            <option value="14">
              Lithotripsy
            </option>
            <option value="15">
              Urology
            </option>
            <option value="16">
              Dermatology
            </option>
            <option value="17">
              Plastic Surgery
            </option>
            <option value="18">
              Pulmonology
            </option>
            <option value="19">
              Bariatric Surgery
            </option>
            <option value="22">
              Ocular Plastic Surgery
            </option>
            <option value="23">
              Hand Surgery
            </option>
            <option value="24">
              Pediatrics
            </option>
            <option value="25">
              Spine Surgery
            </option>
            <option value="26">
              Maxillofacial
            </option>
            <option value="27">
              IVF
            </option>
            <option value="28">
              Emergency Services
            </option>
            <option value="29">
              Cardiology
            </option>
            <option value="30">
              Family Practice
            </option>
            <option value="31">
              Physical Therapy
            </option>
            <option value="32">
              Oncology
            </option>
            <option value="33">
              Internal Medicine
            </option>
            <option value="34">
              Retina
            </option>
            <option value="35">
              Pediatric Dental
            </option>
            <option value="36">
              Colorectal
            </option>
            <option value="37">
              Vascular
            </option>
            <option value="38">
              Anesthesia
            </option>
        </select>

        <label for="facility-select">Facility</label>
        <select
          class="js-location-finder-select"
          id="facility-select"
          name="facility-select"
          >
            <option value="all" selected="selected">
              Facility type
            </option>
            <option value="surgery">
              Ambulatory Surgery Center
            </option>
            <option value="practice">
              Physician Practice
            </option>
            <option value="other">
              Other
            </option>
            <option value="hospital">
              Physician-Partnered Hospital
            </option>
        </select>
      </div>
    </fieldset>

    <a class="LocationFinder-button Button js-location-finder-button" href="/locations">
      Search
    </a>
  </div>
</div>

  <div class="LocationFinderButton container">
  <a class="Button" href="/locations">
    Find a location
  </a>
</div>


  <div class="container">
    <div class="Introduction js-introduction">
      Creating exceptional value for our patients, physicians and payors through our unique healthcare model
    </div>

        <article class="ImageBlock js-partnerships-section"
          id="partnerships-section">
          <a href="/components/preview/partnerships">
            <picture>
                <source
                  srcset="../../assets/images/home-partnerships-sm@2x.jpg"
                  media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
                <source
                  srcset="../../assets/images/home-partnerships@2x.jpg"
                  media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
                <source
                  srcset="../../assets/images/home-partnerships-sm.jpg"
                  media="(max-width: 544px)">
                <source
                  srcset="../../assets/images/home-partnerships.jpg"
                  >
            
              <img class="ImageBlock-photo"
                src="../../assets/images/home-partnerships-sm.jpg"
                alt="">
            </picture>
          </a>
        
          <div class="ImageBlock-text">
            <h2>Partnerships</h2>
        
              <p>We are able to structure a relationship in a way that best suits the physician, either as a partner, an affiliate or as an employed physician. We deliver strategy, resources and substantial industry knowledge.</p>
        
              <a class="MoreLink" href="/components/preview/partnerships">
                  Learn more
              
              
                <svg class="icon"
                  >
                  <use xlink:href="#icon-arrow"></use>
                </svg>
              </a>
          </div>
        </article>


        <article class="ImageBlock ImageBlock--alternate js-investors-section"
          id="investors-section">
          <a href="/components/preview/investors">
            <picture>
                <source
                  srcset="../../assets/images/home-investors-sm@2x.jpg"
                  media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
                <source
                  srcset="../../assets/images/home-investors@2x.jpg"
                  media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
                <source
                  srcset="../../assets/images/home-investors-sm.jpg"
                  media="(max-width: 544px)">
                <source
                  srcset="../../assets/images/home-investors.jpg"
                  >
            
              <img class="ImageBlock-photo"
                src="../../assets/images/home-investors-sm.jpg"
                alt="">
            </picture>
          </a>
        
          <div class="ImageBlock-text">
            <h2>Investors</h2>
        
              <p>Surgery Partners is a leading healthcare services company with an integrated outpatient delivery model. We own and operate more than 180 locations in 32 states, including surgical facilities, a diagnostic laboratory, physician practices, anesthesia services and urgent care facilities.</p>
        
              <a class="MoreLink" href="/components/preview/investors">
                  Learn more
              
              
                <svg class="icon"
                  >
                  <use xlink:href="#icon-arrow"></use>
                </svg>
              </a>
          </div>
        </article>
        <article class="ImageBlock js-careers-section"
          id="careers-section">
          <a href="/components/preview/careers">
            <picture>
                <source
                  srcset="../../assets/images/home-careers-sm@2x.jpg"
                  media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
                <source
                  srcset="../../assets/images/home-careers@2x.jpg"
                  media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
                <source
                  srcset="../../assets/images/home-careers-sm.jpg"
                  media="(max-width: 544px)">
                <source
                  srcset="../../assets/images/home-careers.jpg"
                  >
            
              <img class="ImageBlock-photo"
                src="../../assets/images/home-careers-sm.jpg"
                alt="">
            </picture>
          </a>
        
          <div class="ImageBlock-text">
            <h2>Careers</h2>
        
              <p>Our Surgery Partners team is comprised of more than 5,000 employees and 5,000 affiliated physicians, serving more than 600,000 patients annually. Want to work with us? Check out our current employment opportunities.</p>
        
              <a class="MoreLink" href="/components/preview/careers">
                  View openings
              
              
                <svg class="icon"
                  >
                  <use xlink:href="#icon-arrow"></use>
                </svg>
              </a>
          </div>
        </article>

  </div>
</main>

<footer class="Contentinfo" role="contentinfo">
  <div class="container">
    <div class="Contentinfo-location">
      <h4>Find a location</h4>

      <img
        src="../../assets/images/footer-locations-map.png"
        alt="Map of United States with locations highlighted">

      <p>
        With our national network of surgical facilities, each serving the unique healthcare needs of its community, you are sure to find one convenient to you.
      </p>

      <select
  class="dark js-location-select"
  id="footer-locations"
  name="footer-locations"
  >
    <option value="" selected="selected">
      Select a state
    </option>
    <option value="/locations/Alabama/all/all">
      Alabama
    </option>
    <option value="/locations/Arkansas/all/all">
      Arkansas
    </option>
    <option value="/locations/California/all/all">
      California
    </option>
    <option value="/locations/Colorado/all/all">
      Colorado
    </option>
    <option value="/locations/Delaware/all/all">
      Delaware
    </option>
    <option value="/locations/Florida/all/all">
      Florida
    </option>
    <option value="/locations/Georgia/all/all">
      Georgia
    </option>
    <option value="/locations/Hawaii/all/all">
      Hawaii
    </option>
    <option value="/locations/Idaho/all/all">
      Idaho
    </option>
    <option value="/locations/Illinois/all/all">
      Illinois
    </option>
    <option value="/locations/Indiana/all/all">
      Indiana
    </option>
    <option value="/locations/Iowa/all/all">
      Iowa
    </option>
    <option value="/locations/Kansas/all/all">
      Kansas
    </option>
    <option value="/locations/Kentucky/all/all">
      Kentucky
    </option>
    <option value="/locations/Louisiana/all/all">
      Louisiana
    </option>
    <option value="/locations/Michigan/all/all">
      Michigan
    </option>
    <option value="/locations/Mississippi/all/all">
      Mississippi
    </option>
    <option value="/locations/Missouri/all/all">
      Missouri
    </option>
    <option value="/locations/Montana/all/all">
      Montana
    </option>
    <option value="/locations/Nebraska/all/all">
      Nebraska
    </option>
    <option value="/locations/New%20Hampshire/all/all">
      New Hampshire
    </option>
    <option value="/locations/North%20Carolina/all/all">
      North Carolina
    </option>
    <option value="/locations/North%20Dakota/all/all">
      North Dakota
    </option>
    <option value="/locations/Ohio/all/all">
      Ohio
    </option>
    <option value="/locations/Pennsylvania/all/all">
      Pennsylvania
    </option>
    <option value="/locations/Rhode%20Island/all/all">
      Rhode Island
    </option>
    <option value="/locations/Tennessee/all/all">
      Tennessee
    </option>
    <option value="/locations/Texas/all/all">
      Texas
    </option>
    <option value="/locations/Washington/all/all">
      Washington
    </option>
    <option value="/locations/Wisconsin/all/all">
      Wisconsin
    </option>
</select>


      <a class="Contentinfo-locationButton Button Button--dark" href="/locations">
        Find a location
      </a>
    </div>

    <div class="Contentinfo-contact">
      <h4>Get in touch</h4>

      <p>
        40 Burton Hills Blvd, Suite 500<br>
        Nashville, <abbr title="Tennessee">TN</abbr> 37215<br>
        <abbr title="Phone">P</abbr>: <a href="tel:+16152345900">(615) 234-5900</a><br>
        <abbr title="Fax">F</abbr>: (615) 234-5998
      </p>
    </div>

    <div class="Contentinfo-navigation" id="footer-navigation">
      <nav class="Contentinfo-links">
          <span>
            <a href="/components/preview/about">
              About us
            </a>
          </span>
          <span>
            <a href="/components/preview/locations">
              Find a location
            </a>
          </span>
          <span>
            <a href="/components/preview/partnerships">
              Partnerships
            </a>
          </span>
          <span>
            <a href="/components/preview/investors">
              Investors
            </a>
          </span>
          <span>
            <a href="/components/preview/careers">
              Careers
            </a>
          </span>
          <span>
            <a href="/components/preview/essentials">
              Essentials
            </a>
          </span>
          <span>
            <a href="/components/preview/contact">
              Contact us
            </a>
          </span>
      </nav>

      <div class="Contentinfo-copyright">
        &copy;2017 <a href="/">Surgery Partners</a>
      </div>
    </div>
  </div>
</footer>


