

<picture>
    <source
      srcset="/content/home-careers-sm@2x.jpg"
      media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
    <source
      srcset="/content/home-careers@2x.jpg"
      media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
    <source
      srcset="/content/home-careers-sm.jpg"
      media="(max-width: 544px)">
    <source
      srcset="/content/home-careers.jpg"
      >

  <img
    src="/content/home-careers-sm.jpg"
    alt="">
</picture>

