

<article class="ImageBlock">
  <a href="/components/preview/careers">
    <picture>
        <source
          srcset="../../home-careers-sm@2x.jpg"
          media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
        <source
          srcset="../../home-careers@2x.jpg"
          media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
        <source
          srcset="../../home-careers-sm.jpg"
          media="(max-width: 544px)">
        <source
          srcset="../../home-careers.jpg"
          >
    
      <img class="ImageBlock-photo"
        src="../../home-careers-sm.jpg"
        alt="">
    </picture>
  </a>

  <div class="ImageBlock-text">
    <h2>Careers</h2>

      <p>Our Surgery Partners team is comprised of more than 5,000 employees and 4,000 affiliated physicians, serving more than 500,000 patients annually. Want to work with us? Check out our current employment opportunities.</p>

      <a class="MoreLink" href="/components/preview/careers">
          Learn more
      
      
        <svg class="icon">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </a>
  </div>
</article>

