

<div class="LeadershipTeam">
    <div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <img class="TeamMember-image"
        itemprop="image"
        src="../../team-doyle@2x.jpg"
        alt="Headshot of Michael Doyle">
    
      <h4 class="TeamMember-name" itemprop="name">
        Michael Doyle
      </h4>
    
      <p class="TeamMember-title" itemprop="jobTitle">
        Chief Executive Officer
      </p>
    
      <div class="TeamMember-panel">
        <p class="TeamMember-bio" itemprop="description">
          Mike Doyle serves as Chief Executive Officer of Surgery Partners. Prior to joining the company in 2004, he served as SVP of operations for HealthSouth. He brings 20-plus years’ experience in development, service line expansion and management of a wide variety of healthcare services.
        </p>
      </div>
    </div>
    <div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <img class="TeamMember-image"
        itemprop="image"
        src="../../team-sparks@2x.jpg"
        alt="Headshot of Teresa Sparks">
    
      <h4 class="TeamMember-name" itemprop="name">
        Teresa Sparks
      </h4>
    
      <p class="TeamMember-title" itemprop="jobTitle">
        Chief Financial Officer
      </p>
    
      <div class="TeamMember-panel">
        <p class="TeamMember-bio" itemprop="description">
          Teresa Sparks serves as Executive Vice President and CFO of Surgery Partners and served as SVP and CFO of Symbion Healthcare until it&#x27;s acquisition in 2014. She was Corporate Controller of Symbion from its inception until she was named VP in 2002. Prior to joining Symbion, she served as Assistant Controller for HealthWise of America, Inc., and senior healthcare auditor for Deloitte and Touche.
        </p>
      </div>
    </div>
    <div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <img class="TeamMember-image"
        itemprop="image"
        src="../../team-baldock@2x.jpg"
        alt="Headshot of Jennifer Baldock">
    
      <h4 class="TeamMember-name" itemprop="name">
        Jennifer Baldock
      </h4>
    
      <p class="TeamMember-title" itemprop="jobTitle">
        SVP / General Council
      </p>
    
      <div class="TeamMember-panel">
        <p class="TeamMember-bio" itemprop="description">
          Jennifer Baldock has served as SVP and General Counsel of Surgery Partners since its acquisition of Symbion Healthcare in 2014, previously serving as General Counsel and Chief Compliance Officer of Symbion. She formerly served as Assistant General Counsel for both Ambulatory Services of America and Renal Care Group, and practiced law with Waller Lansden Dortch &amp; Davis.
        </p>
      </div>
    </div>
    <div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <img class="TeamMember-image"
        itemprop="image"
        src="../../team-crysel@2x.jpg"
        alt="Headshot of John Crysel">
    
      <h4 class="TeamMember-name" itemprop="name">
        John Crysel
      </h4>
    
      <p class="TeamMember-title" itemprop="jobTitle">
        National Group President
      </p>
    
      <div class="TeamMember-panel">
        <p class="TeamMember-bio" itemprop="description">
          John Crysel serves as President of Surgery Partners&#x27; National Group, a role he previously held with Symbion Healthcare prior to its acquisition in 2014. Before joining Symbion, he co-founded and served as President of Dover Resource Group. Prior to that, he served as Associate Administrator at Indian Path Medical Center, CEO at Crockett Hospital and CEO at Northside Hospital.
        </p>
      </div>
    </div>
    <div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <img class="TeamMember-image"
        itemprop="image"
        src="../../team-goodwin@2x.jpg"
        alt="Headshot of George Goodwin">
    
      <h4 class="TeamMember-name" itemprop="name">
        George Goodwin
      </h4>
    
      <p class="TeamMember-title" itemprop="jobTitle">
        American Group President
      </p>
    
      <div class="TeamMember-panel">
        <p class="TeamMember-bio" itemprop="description">
          George Goodwin serves as President of Surgery Partners’ American Group, previously a part of Symbion Healthcare which was acquired by Surgery Partners in November 2014.  Before joining Symbion as Vice President of Mergers and Acquisitions and later as SVP and CDO, he served as President and CEO of American Pathology Resources.
        </p>
      </div>
    </div>
    <div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <img class="TeamMember-image"
        itemprop="image"
        src="../../team-taparo@2x.jpg"
        alt="Headshot of Tony Taparo">
    
      <h4 class="TeamMember-name" itemprop="name">
        Tony Taparo
      </h4>
    
      <p class="TeamMember-title" itemprop="jobTitle">
        Atlantic Group President
      </p>
    
      <div class="TeamMember-panel">
        <p class="TeamMember-bio" itemprop="description">
          Tony Taparo serves as President of Surgery Partners’ Atlantic Group, previously a part of Symbion Healthcare which was acquired by Surgery Partners in November 2014. He served as RVP for Symbion from 1999-2006 and previously served as COO of Columbia Physician Services.
        </p>
      </div>
    </div>
    <div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
      <img class="TeamMember-image"
        itemprop="image"
        src="../../team-topke@2x.jpg"
        alt="Headshot of Chris Toepke">
    
      <h4 class="TeamMember-name" itemprop="name">
        Chris Topke
      </h4>
    
      <p class="TeamMember-title" itemprop="jobTitle">
        Ancilary Group President
      </p>
    
      <div class="TeamMember-panel">
        <p class="TeamMember-bio" itemprop="description">
          Chris Toepke joined Surgery Partners in 2014 and serves as Group President of Ancillary Services. Prior to joining Surgery Partners, he served as Business Unit President at One Call Care Management and previously served as a management consultant with Bain &amp; Company.
        </p>
      </div>
    </div>
</div>

