

<div class="LocationItem" itemscope itemtype="http://schema.org/MedicalOrganization">
  <h4 itemprop="name">
    Birmingham Surgery Center
  </h4>

  <p>
      <a href="tel:+1(205) 271-8200" itemprop="telephone">
        (205) 271-8200
      </a><br>

    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">2621 19th Street South</span><br>
      <span itemprop="addressLocality">Birmingham</span>,
      <span itemprop="addressRegion">Alabama</span>
      <span itemprop="postalCode">35209</span>
    </span>

      <br><a href="http://www.birminghamsurgerycenter.com/" itemprop="url" target=_blank rel="nofollow noreferrer">
        Website
      </a>
  </p>
</div>

