

<div class="LocationFinder js-location-finder" data-location-url="/locations">
  <div class="container">
    <fieldset>
      <legend>
        <span>Find a location</span>
      </legend>

      <div class="LocationFinder-controls">
        <label for="state-select">State</label>
        <select
          class="js-location-finder-select"
          id="state-select"
          name="state-select"
          >
            <option value="all" selected="selected">
              State
            </option>
            <option value="Alabama">
              Alabama
            </option>
            <option value="Arkansas">
              Arkansas
            </option>
            <option value="California">
              California
            </option>
            <option value="Colorado">
              Colorado
            </option>
            <option value="Delaware">
              Delaware
            </option>
            <option value="Florida">
              Florida
            </option>
            <option value="Georgia">
              Georgia
            </option>
            <option value="Hawaii">
              Hawaii
            </option>
            <option value="Idaho">
              Idaho
            </option>
            <option value="Illinois">
              Illinois
            </option>
            <option value="Indiana">
              Indiana
            </option>
            <option value="Iowa">
              Iowa
            </option>
            <option value="Kansas">
              Kansas
            </option>
            <option value="Kentucky">
              Kentucky
            </option>
            <option value="Louisiana">
              Louisiana
            </option>
            <option value="Michigan">
              Michigan
            </option>
            <option value="Mississippi">
              Mississippi
            </option>
            <option value="Missouri">
              Missouri
            </option>
            <option value="Montana">
              Montana
            </option>
            <option value="Nebraska">
              Nebraska
            </option>
            <option value="New Hampshire">
              New Hampshire
            </option>
            <option value="North Carolina">
              North Carolina
            </option>
            <option value="North Dakota">
              North Dakota
            </option>
            <option value="Ohio">
              Ohio
            </option>
            <option value="Pennsylvania">
              Pennsylvania
            </option>
            <option value="Rhode Island">
              Rhode Island
            </option>
            <option value="Tennessee">
              Tennessee
            </option>
            <option value="Texas">
              Texas
            </option>
            <option value="Washington">
              Washington
            </option>
            <option value="Wisconsin">
              Wisconsin
            </option>
        </select>

        <label for="specialty-select">Specialty</label>
        <select
          class="js-location-finder-select"
          id="specialty-select"
          name="specialty-select"
          >
            <option value="all" selected="selected">
              Specialty
            </option>
            <option value="1">
              Ear, Nose and Throat
            </option>
            <option value="2">
              Oral/Dental Surgery
            </option>
            <option value="3">
              Gastroenterology
            </option>
            <option value="4">
              General Surgery
            </option>
            <option value="5">
              Ophthalmology
            </option>
            <option value="6">
              Pain Management
            </option>
            <option value="9">
              Gynecology
            </option>
            <option value="10">
              Orthopedics
            </option>
            <option value="11">
              Neurosurgery
            </option>
            <option value="12">
              Podiatry
            </option>
            <option value="13">
              Radiology
            </option>
            <option value="14">
              Lithotripsy
            </option>
            <option value="15">
              Urology
            </option>
            <option value="16">
              Dermatology
            </option>
            <option value="17">
              Plastic Surgery
            </option>
            <option value="18">
              Pulmonology
            </option>
            <option value="19">
              Bariatric Surgery
            </option>
            <option value="22">
              Ocular Plastic Surgery
            </option>
            <option value="23">
              Hand Surgery
            </option>
            <option value="24">
              Pediatrics
            </option>
            <option value="25">
              Spine Surgery
            </option>
            <option value="26">
              Maxillofacial
            </option>
            <option value="27">
              IVF
            </option>
            <option value="28">
              Emergency Services
            </option>
            <option value="29">
              Cardiology
            </option>
            <option value="30">
              Family Practice
            </option>
            <option value="31">
              Physical Therapy
            </option>
            <option value="32">
              Oncology
            </option>
            <option value="33">
              Internal Medicine
            </option>
            <option value="34">
              Retina
            </option>
            <option value="35">
              Pediatric Dental
            </option>
            <option value="36">
              Colorectal
            </option>
            <option value="37">
              Vascular
            </option>
            <option value="38">
              Anesthesia
            </option>
        </select>

        <label for="facility-select">Facility</label>
        <select
          class="js-location-finder-select"
          id="facility-select"
          name="facility-select"
          >
            <option value="all" selected="selected">
              Facility type
            </option>
            <option value="surgery">
              Ambulatory Surgery Center
            </option>
            <option value="practice">
              Physician Practice
            </option>
            <option value="other">
              Other
            </option>
            <option value="hospital">
              Physician-Partnered Hospital
            </option>
        </select>
      </div>
    </fieldset>

    <a class="LocationFinder-button Button js-location-finder-button" href="/locations">
      Search
    </a>
  </div>
</div>

