

<header class="GlobalHeader container" role="banner">
  <a class="Logo" href="/components/preview/home">
  <img
    src="../../logo@2x.png"
    alt="Surgery Partners"
  >
</a>

  <a href="#footer-navigation" class="Hamburger js-hamburger">
  <span class="Hamburger-icon"></span>
</a>

  <nav class="Navigation js-navigation" role="navigation">
  <ul>
      <li>
        <a href="../preview/about.html">
          About us
        </a>
      </li>
      <li>
        <a href="../preview/locations.html">
          Find a location
        </a>
      </li>
      <li>
        <a href="../preview/partnerships.html">
          Partnerships
        </a>
      </li>
      <li>
        <a href="../preview/investors.html">
          Investors
        </a>
      </li>
  </ul>
</nav>

  <div class="Overlay js-overlay"></div>

</header>


<main id="main" role="main" tabindex="0">
  <header class="Masthead">
    <div class="container">
      <h1 class="Masthead-title">
        Locations
      </h1>
    </div>
  
    <div class="CoverPhoto">
    
        <picture>
            <source
              srcset="../../locations-masthead-sm@2x.jpg"
              media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
            <source
              srcset="../../locations-masthead@2x.jpg"
              media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
            <source
              srcset="../../locations-masthead-sm.jpg"
              media="(max-width: 544px)">
            <source
              srcset="../../locations-masthead.jpg"
              >
        
          <img
            src="../../locations-masthead-sm.jpg"
            alt="A doctor writing on a clipboard as another doctor observes">
        </picture>
    </div>
  </header>

  <div class="sticky">
    <div class="LocationFinder js-location-finder">
  <div class="LocationFinder-container container">
    <fieldset>
      <legend>
        <span>Find a location</span>
      </legend>

      <div class="LocationFinder-controls">
        <label for="state-select">State</label>
        <select
          class="js-location-finder-select"
          id="state-select"
          name="state-select"
          >
            <option value="all" selected="selected">
              State
            </option>
            <option value="Alabama">
              Alabama
            </option>
            <option value="Arkansas">
              Arkansas
            </option>
            <option value="California">
              California
            </option>
            <option value="Colorado">
              Colorado
            </option>
            <option value="Delaware">
              Delaware
            </option>
            <option value="Florida">
              Florida
            </option>
            <option value="Georgia">
              Georgia
            </option>
            <option value="Hawaii">
              Hawaii
            </option>
            <option value="Idaho">
              Idaho
            </option>
            <option value="Illinois">
              Illinois
            </option>
            <option value="Indiana">
              Indiana
            </option>
            <option value="Iowa">
              Iowa
            </option>
            <option value="Kansas">
              Kansas
            </option>
            <option value="Kentucky">
              Kentucky
            </option>
            <option value="Louisiana">
              Louisiana
            </option>
            <option value="Michigan">
              Michigan
            </option>
            <option value="Mississippi">
              Mississippi
            </option>
            <option value="Missouri">
              Missouri
            </option>
            <option value="Montana">
              Montana
            </option>
            <option value="Nebraska">
              Nebraska
            </option>
            <option value="New Hampshire">
              New Hampshire
            </option>
            <option value="North Carolina">
              North Carolina
            </option>
            <option value="North Dakota">
              North Dakota
            </option>
            <option value="Ohio">
              Ohio
            </option>
            <option value="Pennsylvania">
              Pennsylvania
            </option>
            <option value="Rhode Island">
              Rhode Island
            </option>
            <option value="Tennessee">
              Tennessee
            </option>
            <option value="Texas">
              Texas
            </option>
            <option value="Washington">
              Washington
            </option>
            <option value="Wisconsin">
              Wisconsin
            </option>
        </select>

        <label for="specialty-select">Specialty</label>
        <select
          class="js-location-finder-select"
          id="specialty-select"
          name="specialty-select"
          >
            <option value="all" selected="selected">
              Specialty
            </option>
            <option value="1">
              Ear, Nose and Throat
            </option>
            <option value="2">
              Oral/Dental Surgery
            </option>
            <option value="3">
              Gastroenterology
            </option>
            <option value="4">
              General Surgery
            </option>
            <option value="5">
              Ophthalmology
            </option>
            <option value="6">
              Pain Management
            </option>
            <option value="9">
              Gynecology
            </option>
            <option value="10">
              Orthopedics
            </option>
            <option value="11">
              Neurosurgery
            </option>
            <option value="12">
              Podiatry
            </option>
            <option value="13">
              Radiology
            </option>
            <option value="14">
              Lithotripsy
            </option>
            <option value="15">
              Urology
            </option>
            <option value="16">
              Dermatology
            </option>
            <option value="17">
              Plastic Surgery
            </option>
            <option value="18">
              Pulmonology
            </option>
            <option value="19">
              Bariatric Surgery
            </option>
            <option value="22">
              Ocular Plastic Surgery
            </option>
            <option value="23">
              Hand Surgery
            </option>
            <option value="24">
              Pediatrics
            </option>
            <option value="25">
              Spine Surgery
            </option>
            <option value="26">
              Maxillofacial
            </option>
            <option value="27">
              IVF
            </option>
            <option value="28">
              Emergency Services
            </option>
            <option value="29">
              Cardiology
            </option>
            <option value="30">
              Family Practice
            </option>
            <option value="31">
              Physical Therapy
            </option>
            <option value="32">
              Oncology
            </option>
            <option value="33">
              Internal Medicine
            </option>
            <option value="34">
              Retina
            </option>
            <option value="35">
              Pediatric Dental
            </option>
            <option value="36">
              Colorectal
            </option>
            <option value="37">
              Vascular
            </option>
            <option value="38">
              Anesthesia
            </option>
        </select>

        <label for="facility-select">Facility</label>
        <select
          class="js-location-finder-select"
          id="facility-select"
          name="facility-select"
          >
            <option value="all" selected="selected">
              Facility type
            </option>
            <option value="surgery">
              Ambulatory Surgery Center
            </option>
            <option value="practice">
              Physician Practice
            </option>
            <option value="other">
              Other
            </option>
            <option value="hospital">
              Physician-Partnered Hospital
            </option>
        </select>
      </div>
    </fieldset>

    <a class="LocationFinder-button Button js-location-finder-button" href="/locations">
      Search
    </a>
  </div>
</div>

  </div>

  <div class="LocationsPage-grid container grid">
    <aside class="LocationsPage-aside">
      <div class="LocationMap">
        <div class="MapWidget">
</div>

        <div class="LocationMapLegend">
    <div class="LocationMapLegend-item">
      <span
        class="LocationMapLegend-pin"
        style="color: #b5955d;"
        aria-hidden="true"></span>

      <span class="LocationMapLegend-name">
        Ambulatory surgery centers
      </span>
    </div>
    <div class="LocationMapLegend-item">
      <span
        class="LocationMapLegend-pin"
        style="color: #619ab1;"
        aria-hidden="true"></span>

      <span class="LocationMapLegend-name">
        Physician practices
      </span>
    </div>
    <div class="LocationMapLegend-item">
      <span
        class="LocationMapLegend-pin"
        style="color: #e07c63;"
        aria-hidden="true"></span>

      <span class="LocationMapLegend-name">
        Physician-partnered hospitals
      </span>
    </div>
</div>

      </div>
    </aside>

    <div class="LocationsPage-content">
      <div class="LocationItem" itemscope itemtype="http://schema.org/MedicalOrganization">
        <h4 itemprop="name">
          
        </h4>
      
        <p>
      
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress"></span><br>
            <span itemprop="addressLocality"></span>,
            <span itemprop="addressRegion"></span>
            <span itemprop="postalCode"></span>
          </span>
      
        </p>
      </div>
    </div>
  </div>
</main>

<footer class="GlobalFooter" role="contentinfo">
  <div class="container">
    <div class="GlobalFooter-location">
      <h4>Find a location</h4>

      <img
        src="../../footer-locations-map.png"
        alt="Map of United States with locations highlighted">

      <p>
        With our national network of surgical facilities, each serving the unique healthcare needs of its community, you are sure to find one convenient to you.
      </p>

      <select
  class="dark js-location-select"
  id="footer-locations"
  name="footer-locations"
  >
    <option value="" selected="selected">
      Select a state
    </option>
    <option value="/locations/Alabama/all/all">
      Alabama
    </option>
    <option value="/locations/Arkansas/all/all">
      Arkansas
    </option>
    <option value="/locations/California/all/all">
      California
    </option>
    <option value="/locations/Colorado/all/all">
      Colorado
    </option>
    <option value="/locations/Delaware/all/all">
      Delaware
    </option>
    <option value="/locations/Florida/all/all">
      Florida
    </option>
    <option value="/locations/Georgia/all/all">
      Georgia
    </option>
    <option value="/locations/Hawaii/all/all">
      Hawaii
    </option>
    <option value="/locations/Idaho/all/all">
      Idaho
    </option>
    <option value="/locations/Illinois/all/all">
      Illinois
    </option>
    <option value="/locations/Indiana/all/all">
      Indiana
    </option>
    <option value="/locations/Iowa/all/all">
      Iowa
    </option>
    <option value="/locations/Kansas/all/all">
      Kansas
    </option>
    <option value="/locations/Kentucky/all/all">
      Kentucky
    </option>
    <option value="/locations/Louisiana/all/all">
      Louisiana
    </option>
    <option value="/locations/Michigan/all/all">
      Michigan
    </option>
    <option value="/locations/Mississippi/all/all">
      Mississippi
    </option>
    <option value="/locations/Missouri/all/all">
      Missouri
    </option>
    <option value="/locations/Montana/all/all">
      Montana
    </option>
    <option value="/locations/Nebraska/all/all">
      Nebraska
    </option>
    <option value="/locations/New%20Hampshire/all/all">
      New Hampshire
    </option>
    <option value="/locations/North%20Carolina/all/all">
      North Carolina
    </option>
    <option value="/locations/North%20Dakota/all/all">
      North Dakota
    </option>
    <option value="/locations/Ohio/all/all">
      Ohio
    </option>
    <option value="/locations/Pennsylvania/all/all">
      Pennsylvania
    </option>
    <option value="/locations/Rhode%20Island/all/all">
      Rhode Island
    </option>
    <option value="/locations/Tennessee/all/all">
      Tennessee
    </option>
    <option value="/locations/Texas/all/all">
      Texas
    </option>
    <option value="/locations/Washington/all/all">
      Washington
    </option>
    <option value="/locations/Wisconsin/all/all">
      Wisconsin
    </option>
</select>


      <a class="GlobalFooter-locationButton Button Button--dark" href="/locations">
        Find a location
      </a>
    </div>

    <div class="GlobalFooter-contact">
      <h4>Get in touch</h4>

      <p>
        40 Burton Hills Blvd, Suite 500<br>
        Nashville, <abbr title="Tennessee">TN</abbr> 37215<br>
        <abbr title="Phone">P</abbr>: <a href="tel:+16152345900">(615) 234-5900</a><br>
        <abbr title="Fax">F</abbr>: (615) 234-5998
      </p>
    </div>

    <div class="GlobalFooter-navigation" id="footer-navigation">
      <nav class="GlobalFooter-links">
          <span>
            <a href="/components/preview/about">
              About us
            </a>
          </span>
          <span>
            <a href="/components/preview/locations">
              Find a location
            </a>
          </span>
          <span>
            <a href="/components/preview/partnerships">
              Partnerships
            </a>
          </span>
          <span>
            <a href="/components/preview/investors">
              Investors
            </a>
          </span>
          <span>
            <a href="/components/preview/careers">
              Careers
            </a>
          </span>
          <span>
            <a href="/components/preview/essentials">
              Essentials
            </a>
          </span>
          <span>
            <a href="/components/preview/contact">
              Contact us
            </a>
          </span>
      </nav>

      <div class="GlobalFooter-copyright">
        &copy;2017 <a href="/">Surgery Partners</a>
      </div>
    </div>
  </div>
</footer>


