

<div class="LocationMap">
  <div class="MapWidget">
  <img
    alt="Replace this image with interactive map"
    src="../../assets/images/fake-map.png"
    style="display: block; height: 100%; object-fit: cover; width: 100%;" />
</div>

  <div class="LocationMapLegend">
    <div class="LocationMapLegend-item">
      <span
        class="LocationMapLegend-pin"
        style="color: #b5955d;"
        aria-hidden="true"></span>

      <span class="LocationMapLegend-name">
        Ambulatory surgery centers
      </span>
    </div>
    <div class="LocationMapLegend-item">
      <span
        class="LocationMapLegend-pin"
        style="color: #619ab1;"
        aria-hidden="true"></span>

      <span class="LocationMapLegend-name">
        Physician practices
      </span>
    </div>
    <div class="LocationMapLegend-item">
      <span
        class="LocationMapLegend-pin"
        style="color: #e07c63;"
        aria-hidden="true"></span>

      <span class="LocationMapLegend-name">
        Physician-partnered hospitals
      </span>
    </div>
</div>

</div>

