

<header class="Masthead Masthead--video">
  <div class="container">

      <div class="Tagline heading-super">
        We operate <b>differently</b>
      </div>
      <a class="MoreLink" href="/">
          Learn more
      
      
        <svg class="icon"
          >
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </a>
  </div>

  <div class="CoverVideo js-cover-video object-fit-cover"
    data-src="../../assets/images/home-video.mp4"
    data-type="video/mp4"
    data-autoplay="">
    <img
      src="../../assets/images/home-video-poster.jpg"
      alt="">
  </div>
</header>

