

<header class="Masthead">
  <div class="container">
    <h1 class="Masthead-title">
      About us
    </h1>
  </div>

  <div class="CoverPhoto">
    <img
      src="/masthead-image.jpg"
      alt="">
  </div>

  <!-- <img src="" alt=""> -->

  <!-- <img
    src="/masthead-image-sm.jpg"
    sizes="(min-width: 600px) 100vw, 50vw"
    srcset="/masthead-image-sm.jpg 2x,
      /masthead-image@.jpg,
      /masthead-image@2x.jpg 2x"
    alt=""
  > -->

  <!--  -->

  <!-- 
    <img
      src=""
      srcset=",,,,"
      alt="">
   -->
</header>

