

<div
  class="Modal js-modal is-open"
  
  
  
  role="alertdialog" tabindex="-1" aria-hidden="true">
  <button class="Modal-close js-modal-close" title="Close" aria-label="Close">
    <svg version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      class="icon"
      aria-hidden="true">
      <use xlink:href="#icon-close"></use>
    </svg>
  </button>

  <div class="Modal-content js-modal-content">
    <h2 id="modal-title">Surgery Partners</h2><div id="modal-description"><p>Our diverse company operates multiple types of healthcare businesses dedicated to improving the quality of care in a convenient and cost-effective manner. The support of our ancillary services is one of many unique attributes that differentiate us from our competitors. These services include multi-specialty physician practices, urgent care facilities, anesthesia services, a diagnostic laboratory, specialty pharmacy services, and optical services.</p><p>Far more than a business arrangement, Surgery Partners has a rich history of reaching out to its partners, maintaining accessibility to resources and expertise rarely found in our industry.  Surgery Partners' story is as simple as its business style: We deliver quality at an exceptional value.  We make healthcare local, and more importantly, personal.</p></div>
  </div>
</div>

