

<div
  class="Modal js-modal"
  id="modal"
  role="alertdialog" tabindex="-1" aria-hidden="true"
  aria-labelledby="modal-title"
  aria-describedby="modal-description">
  <button class="Modal-close js-modal-close" title="Close" aria-label="Close">
    <svg class="icon"
      aria-hidden="true">
      <use xlink:href="#icon-close"></use>
    </svg>
  </button>

  <h2 class="Modal-title" id="modal-title">
    Modal title
  </h2>

  <div class="Modal-content" id="modal-description">
    <p>
      Modal content
    </p>
  </div>
</div>

