

<nav class="Navigation js-navigation" role="navigation">
  <ul>
      <li>
        <a href="/components/preview/about">
          About us
        </a>
      </li>
      <li>
        <a href="/components/preview/locations">
          Find a location
        </a>
      </li>
      <li>
        <a href="/components/preview/partnerships">
          Partnerships
        </a>
      </li>
      <li>
        <a href="/components/preview/investors">
          Investors
        </a>
      </li>
  </ul>
</nav>

