

<article class="NewsArticle NewsArticle--preview">
  <p class="NewsArticle-date">
    <time datetime="2017-03-09T16:02">
      March 09, 2017 - 4:02 p.m.
    </time>
  </p>

  <h4>Surgery Partners, Inc. Announces Fourth Quarter and Full Year 2016 Results</h4>

  <p>Fourth quarter revenues increase 16% over prior year period driven by strong same facility revenue growth NASHVILLE, Tenn., March 09, 2017 (GLOBE NEWSWIRE) -- Surgery Partners, Inc. (NASDAQ:SGRY) (“Surgery Partners” or the “Company”), a leading provider of surgical services, today announced results for the fourth quarter and full year ended December 31, 2016. Highlights for the Fourth Quarter of 2016: Revenues increased 16.2% to $306.0 million over fourth quarter 2015 Same-faci…</p>

  <p>
    <a class="MoreLink" href="">
    
        Learn more
    
      <svg class="icon">
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </a>
  </p>
</article>

