

<article class="NewsArticle">
  <h1>Surgery Partners, Inc. Announces Fourth Quarter and Full Year 2016 Results</h1>

  <p class="NewsArticle-date">
    <time datetime="2017-07-25T16:02">
      July 25, 2017 - 4:02 p.m.
    </time>
  </p>

  <div class="NewsArticle-article">
      <p>NASHVILLE, Tenn., July 25, 2017 (GLOBE NEWSWIRE) -- Surgery Partners, Inc. (NASDAQ:SGRY) (“Surgery Partners”), a leading healthcare services company, today announced that the Company will release its second quarter 2017 results after the market close on Tuesday, August 8, 2017, to be followed by a conference call on Wednesday, August 9 at 8:30 a.m. (Eastern Time).</p>
      <p>The conference call can be accessed live over the phone by dialing 1-877-407-0792, or for international callers, 1-201-689-8263. A replay will be available two hours after the call and can be accessed by dialing 1-844-512-2921, or for international callers, 1-412-317-6671. The passcode for the live call and the replay is 13667317. The replay will be available until August 23, 2017.</p>
      <p>Interested investors and other parties may also listen to a simultaneous webcast of the conference call by logging onto the Investor Relations section of the Company&#x27;s website at www.surgerypartners.com. The on-line replay will be available for a limited time beginning immediately following the call.</p>
      <p>To learn more about Surgery Partners, please visit the company&#x27;s website at www.surgerypartners.com. Surgery Partners uses its website as a channel of distribution of material company information. Financial and other material information regarding Surgery Partners is routinely posted on the company&#x27;s website and is readily accessible.</p>

    <div class="NewsArticle-bio">
      <div class="PressReleaseBio">
        <h4>About Surgery Partners</h4>
      
        <p>
          Headquartered in Nashville, Tennessee, Surgery Partners is a leading healthcare services company with a differentiated outpatient delivery model focused on providing high quality, cost effective solutions for surgical and related ancillary care in support of both patients and physicians. Founded in 2004, Surgery Partners is one of the largest and fastest growing surgical and ancillary services companies in the country, with more than 150 locations in 29 states, including surgical facilities, physician practices and urgent care facilities.
        </p>
      </div>
    </div>

    <div class="PressReleaseContact">
      <h4>Contact</h4>
    
      <p>
        Teresa Sparks, CFO<br>
        Surgery Partners, Inc.<br>
        <a href="tel:+1(615) 234-8940">
          (615) 234-8940
        </a><br>
        <a href="mailto:IR@surgerypartners.com">
          IR@surgerypartners.com
        </a>
      </p>
    </div>
  </div>
</article>

