

<div class="Pagination">
  <a class="Pagination-link" href="#">Previous</a>
  <a class="Pagination-page is-active" href="#">1</a>
  <a class="Pagination-page" href="#">2</a>
  <a class="Pagination-page" href="#">3</a>
  <span class="Pagination-more">&hellip;</span>
  <a class="Pagination-page" href="#">4</a>
  <a class="Pagination-page" href="#">5</a>
  <a class="Pagination-page" href="#">6</a>
  <a class="Pagination-page" href="#">7</a>
  <a class="Pagination-page" href="#">8</a>
  <a class="Pagination-link" href="#">Next</a>
</div>

