

<header class="GlobalHeader js-global-header" role="banner">
  <div class="GlobalHeader-container container">
    <a class="Logo" href="/components/preview/home">
  <img
    src="../../logo@2x.png"
    alt="Surgery Partners"
  >
</a>

    <a href="#footer-navigation" class="Hamburger js-hamburger">
  <span class="Hamburger-icon">Open menu</span>
</a>

    <nav class="Navigation js-navigation" role="navigation">
  <ul>
      <li>
        <a href="../preview/about.html">
          About us
        </a>
      </li>
      <li>
        <a href="../preview/locations.html">
          Find a location
        </a>
      </li>
      <li>
        <a href="../preview/partnerships.html">
          Partnerships
        </a>
      </li>
      <li>
        <a href="../preview/investors.html">
          Investors
        </a>
      </li>
  </ul>
</nav>

  </div>
</header>


<main id="main" role="main" tabindex="0">
  <header class="Masthead">
    <div class="container">
      <h1 class="Masthead-title">
        Partnerships
      </h1>
    </div>
  
    <div class="CoverPhoto">
    
        <picture>
            <source
              srcset="../../partnerships-masthead-sm@2x.jpg"
              media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
            <source
              srcset="../../partnerships-masthead@2x.jpg"
              media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
            <source
              srcset="../../partnerships-masthead-sm.jpg"
              media="(max-width: 544px)">
            <source
              srcset="../../partnerships-masthead.jpg"
              >
        
          <img
            src="../../partnerships-masthead-sm.jpg"
            alt="Two doctors analyzing CT scans of a human brain">
        </picture>
    </div>
  </header>

  <div class="sticky">
    <nav class="SubNavigation SubNavigation--scrollSpy js-sub-navigation">
      <ul class="SubNavigation-list">
          <li class="SubNavigation-item" id="physician-practices-item">
              <a class="SubNavigation-link" href="#physician-practices">
                Physician practices
              </a>
    
          </li>
          <li class="SubNavigation-item" id="ambulatory-surgery-centers-item">
              <a class="SubNavigation-link" href="#ambulatory-surgery-centers">
                Ambulatory surgery centers
              </a>
    
          </li>
          <li class="SubNavigation-item" id="surgical-hospitals-item">
              <a class="SubNavigation-link" href="#surgical-hospitals">
                Surgical hospitals
              </a>
    
          </li>
          <li class="SubNavigation-item" id="healthcare-systems-item">
              <a class="SubNavigation-link" href="#healthcare-systems">
                Healthcare systems
              </a>
    
          </li>
    
          <div class="SubNavigation-marker js-sub-navigation-marker"
            aria-hidden="true"></div>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="Introduction">
      Our flexible approach to physician engagement and physician-centric culture focused on customer service is what drives our success.
    </div>

    <section class="js-spy-section" id="physician-practices">
      <article class="ImageBlock">
        <a href="">
          <picture>
              <source
                srcset="../../partnerships-physician-practices-sm@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
              <source
                srcset="../../partnerships-physician-practices@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
              <source
                srcset="../../partnerships-physician-practices-sm.jpg"
                media="(max-width: 544px)">
              <source
                srcset="../../partnerships-physician-practices.jpg"
                >
          
            <img class="ImageBlock-photo"
              src="../../partnerships-physician-practices-sm.jpg"
              alt="">
          </picture>
        </a>
      
        <div class="ImageBlock-text">
          <h2>Physician practices</h2>
      
            <p>Finding the right partner can bring significant rewards. Underlying our over 100 employed, 1,000 partnered and 4,000 affiliated physicians is a track record of demonstrated commitment, evidenced by our consistently high physician retention rate. Our partners benefit from efficient operations and corporate support services, enhanced revenue streams and expanded opportunities for professional and personal development. Your time is valuable and taking care of your patients is of upmost importance.</p>
      
        </div>
      </article>

      <hr>

      <blockquote class="Testimonial">
        <p class="Testimonial-quote">Surgery Partners’ invaluable expertise in the field has positioned my practice for tremendous growth. Their proven operations enable me to efficiently focus my efforts on providing quality care to my patients.</p>
      
        <cite class="Testimonial-citation">
          <span class="Testimonial-person">
            Robert Guirguis, DO, Medical Director
          </span>
      
            <br>
            <span class="Testimonial-location">
              Tampa Pain Relief Centers • Tampa, Florida
            </span>
        </cite>
      </blockquote>
    </section>

    <hr>

    <section class="js-spy-section" id="ambulatory-surgery-centers">
      <article class="ImageBlock ImageBlock--alternate">
        <a href="">
          <picture>
              <source
                srcset="../../partnerships-surgery-centers-sm@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
              <source
                srcset="../../partnerships-surgery-centers@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
              <source
                srcset="../../partnerships-surgery-centers-sm.jpg"
                media="(max-width: 544px)">
              <source
                srcset="../../partnerships-surgery-centers.jpg"
                >
          
            <img class="ImageBlock-photo"
              src="../../partnerships-surgery-centers-sm.jpg"
              alt="">
          </picture>
        </a>
      
        <div class="ImageBlock-text">
          <h2>Ambulatory surgery centers</h2>
      
            <p>Launching a new surgical facility or growing an existing one is no small task. It takes more than hard work; it demands strategy, resources and substantial industry knowledge. With a focus on growth and one of the industry&#x27;s most experienced management teams, we are equally adept at acquiring existing facilities, as well as developing new facilities. We offer partners expertise and high-quality resources. Years of experience have shown us no two markets are alike. Each community we serve is unique, so we work with partners to develop a customized strategy for each facility.</p>
      
        </div>
      </article>

      <hr>

      <blockquote class="Testimonial">
        <p class="Testimonial-quote">Surgery Partners’ extensive surgery center experience has allowed them to provide critical guidance to our facility for many years. They share our physician partners’ focus on quality, efficiency and growth and provide resources and guidance that improve our ability to excel in each.</p>
      
        <cite class="Testimonial-citation">
          <span class="Testimonial-person">
            John Kagan, MD
          </span>
      
            <br>
            <span class="Testimonial-location">
              Lee Island Coast Surgery Center • Fort Myers, Florida
            </span>
        </cite>
      </blockquote>
    </section>
  </div>

  <div class="Feature">
    <div class="container">
      <div class="Feature-content">
        <blockquote class="Testimonial Testimonial--white">
          <p class="Testimonial-quote">We&#x27;re able to structure a relationship in a way that best suits the physician, either as a partner, an affiliated physician or an employed physician.</p>
        
          <cite class="Testimonial-citation">
            <span class="Testimonial-person">
              Mike Doyle, CEO
            </span>
        
              <br>
              <span class="Testimonial-location">
                Surgery Partners
              </span>
          </cite>
        </blockquote>
      </div>
    </div>
  
    <div class="CoverPhoto">
    
        <picture>
            <source
              srcset="../../partnerships-feature-sm@2x.jpg"
              media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
            <source
              srcset="../../partnerships-feature@2x.jpg"
              media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
            <source
              srcset="../../partnerships-feature-sm.jpg"
              media="(max-width: 544px)">
            <source
              srcset="../../partnerships-feature.jpg"
              >
        
          <img
            src="../../partnerships-feature-sm.jpg"
            alt="Doctors moving around in an operating room">
        </picture>
    </div>
  </div>

  <div class="container">
    <section class="js-spy-section" id="surgical-hospitals">
      <article class="ImageBlock ImageBlock--alternate">
        <a href="">
          <picture>
              <source
                srcset="../../partnerships-surgical-hospitals-sm@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
              <source
                srcset="../../partnerships-surgical-hospitals@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
              <source
                srcset="../../partnerships-surgical-hospitals-sm.jpg"
                media="(max-width: 544px)">
              <source
                srcset="../../partnerships-surgical-hospitals.jpg"
                >
          
            <img class="ImageBlock-photo"
              src="../../partnerships-surgical-hospitals-sm.jpg"
              alt="">
          </picture>
        </a>
      
        <div class="ImageBlock-text">
          <h2>Surgical hospitals</h2>
      
            <p>Building on our strong track record of success in the ambulatory surgery industry, we expanded our focus to include surgical hospitals. Our surgical hospitals are owned in partnership with physicians. They offer a specialized focus and have a high nurse-to-patient ratio. Each physician plays an active role in creating the mission and philosophy for the hospital. Every physician has a personal interest in the day-to-day operations and plays an integral role in developing the quality, spirit and direction of the hospital.</p>
      
        </div>
      </article>

      <hr>

      <blockquote class="Testimonial">
        <p class="Testimonial-quote">The relationship through Surgery Partners made it possible for us to achieve our goal of expanding our hospital services in an outstanding new facility bringing quality and compassionate care to our community.</p>
      
        <cite class="Testimonial-citation">
          <span class="Testimonial-person">
            Nancy Maynard, MD
          </span>
      
            <br>
            <span class="Testimonial-location">
              Great Falls Clinic • Great Falls, Montana
            </span>
        </cite>
      </blockquote>
    </section>

    <hr>

    <section class="js-spy-section" id="healthcare-systems">
      <article class="ImageBlock">
        <a href="">
          <picture>
              <source
                srcset="../../partnerships-healthcare-systems-sm@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) and (max-width: 544px)">
              <source
                srcset="../../partnerships-healthcare-systems@2x.jpg"
                media="(min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)">
              <source
                srcset="../../partnerships-healthcare-systems-sm.jpg"
                media="(max-width: 544px)">
              <source
                srcset="../../partnerships-healthcare-systems.jpg"
                >
          
            <img class="ImageBlock-photo"
              src="../../partnerships-healthcare-systems-sm.jpg"
              alt="">
          </picture>
        </a>
      
        <div class="ImageBlock-text">
          <h2>Healthcare systems</h2>
      
            <p>Surgery Partners has a longstanding history of partnering with healthcare systems to manage a variety of surgical facilities. Our experience developing and operating surgical facilities gives healthcare systems the freedom to focus on their core business while offering patients a high quality, low cost alternative for outpatient services. Through partnership with Surgery Partners, hospital systems can benefit from having stronger ties with physicians, additional market presence with limited investment, increased access to capital and operational efficiencies, among others. We currently have 14 facilities joint ventured with healthcare systems, including Baptist Memorial Health Services in Memphis, Tennessee and Vanderbilt Health Systems in Nashville, Tennessee.</p>
      
        </div>
      </article>

      <hr>

      <blockquote class="Testimonial">
        <p class="Testimonial-quote">Surgery Partners has made an excellent partner for Vanderbilt University Medical Center in development and management of a freestanding outpatient surgery center. Their seasoned team of professional healthcare surgery center managers has allowed us to expand into a community based surgery arena in which health systems generally do not have a great deal of experience. This environment has been a quality, cost effective enterprise appealing to patients, surgeons and staff.</p>
      
        <cite class="Testimonial-citation">
          <span class="Testimonial-person">
            David R. Posch, MS, Associate Vice Chancellor for Population Health
          </span>
      
            <br>
            <span class="Testimonial-location">
              VUMC and Vanderbilt Health Affiliated Network • Nashville, Tennessee
            </span>
        </cite>
      </blockquote>
    </section>

    <hr class="dark">

    <div class="NextPage">
      <a href="/">
        <div class="NextPage-label">
          Read next
        </div>
    
        <div class="NextPage-title">
          Investors
          <svg class="icon NextPage-icon">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</main>

<footer class="GlobalFooter" role="contentinfo">
  <div class="container">
    <div class="GlobalFooter-location">
      <h4>Find a location</h4>

      <img
        src="../../footer-locations-map.png"
        alt="Map of United States with locations highlighted">

      <p>
        With our national network of surgical facilities, each serving the unique healthcare needs of its community, you are sure to find one convenient to you.
      </p>

      <select
  class="dark js-location-select"
  id="footer-locations"
  name="footer-locations"
  >
    <option value="" selected="selected">
      Select a state
    </option>
    <option value="/locations/Alabama/all/all">
      Alabama
    </option>
    <option value="/locations/Arkansas/all/all">
      Arkansas
    </option>
    <option value="/locations/California/all/all">
      California
    </option>
    <option value="/locations/Colorado/all/all">
      Colorado
    </option>
    <option value="/locations/Delaware/all/all">
      Delaware
    </option>
    <option value="/locations/Florida/all/all">
      Florida
    </option>
    <option value="/locations/Georgia/all/all">
      Georgia
    </option>
    <option value="/locations/Hawaii/all/all">
      Hawaii
    </option>
    <option value="/locations/Idaho/all/all">
      Idaho
    </option>
    <option value="/locations/Illinois/all/all">
      Illinois
    </option>
    <option value="/locations/Indiana/all/all">
      Indiana
    </option>
    <option value="/locations/Iowa/all/all">
      Iowa
    </option>
    <option value="/locations/Kansas/all/all">
      Kansas
    </option>
    <option value="/locations/Kentucky/all/all">
      Kentucky
    </option>
    <option value="/locations/Louisiana/all/all">
      Louisiana
    </option>
    <option value="/locations/Michigan/all/all">
      Michigan
    </option>
    <option value="/locations/Mississippi/all/all">
      Mississippi
    </option>
    <option value="/locations/Missouri/all/all">
      Missouri
    </option>
    <option value="/locations/Montana/all/all">
      Montana
    </option>
    <option value="/locations/Nebraska/all/all">
      Nebraska
    </option>
    <option value="/locations/New%20Hampshire/all/all">
      New Hampshire
    </option>
    <option value="/locations/North%20Carolina/all/all">
      North Carolina
    </option>
    <option value="/locations/North%20Dakota/all/all">
      North Dakota
    </option>
    <option value="/locations/Ohio/all/all">
      Ohio
    </option>
    <option value="/locations/Pennsylvania/all/all">
      Pennsylvania
    </option>
    <option value="/locations/Rhode%20Island/all/all">
      Rhode Island
    </option>
    <option value="/locations/Tennessee/all/all">
      Tennessee
    </option>
    <option value="/locations/Texas/all/all">
      Texas
    </option>
    <option value="/locations/Washington/all/all">
      Washington
    </option>
    <option value="/locations/Wisconsin/all/all">
      Wisconsin
    </option>
</select>


      <a class="GlobalFooter-locationButton Button Button--dark" href="/locations">
        Find a location
      </a>
    </div>

    <div class="GlobalFooter-contact">
      <h4>Get in touch</h4>

      <p>
        40 Burton Hills Blvd, Suite 500<br>
        Nashville, <abbr title="Tennessee">TN</abbr> 37215<br>
        <abbr title="Phone">P</abbr>: <a href="tel:+16152345900">(615) 234-5900</a><br>
        <abbr title="Fax">F</abbr>: (615) 234-5998
      </p>
    </div>

    <div class="GlobalFooter-navigation" id="footer-navigation">
      <nav class="GlobalFooter-links">
          <span>
            <a href="/components/preview/about">
              About us
            </a>
          </span>
          <span>
            <a href="/components/preview/locations">
              Find a location
            </a>
          </span>
          <span>
            <a href="/components/preview/partnerships">
              Partnerships
            </a>
          </span>
          <span>
            <a href="/components/preview/investors">
              Investors
            </a>
          </span>
          <span>
            <a href="/components/preview/careers">
              Careers
            </a>
          </span>
          <span>
            <a href="/components/preview/essentials">
              Essentials
            </a>
          </span>
          <span>
            <a href="/components/preview/contact">
              Contact us
            </a>
          </span>
      </nav>

      <div class="GlobalFooter-copyright">
        &copy;2017 <a href="/">Surgery Partners</a>
      </div>
    </div>
  </div>
</footer>


