

<div class="radio-button-group">
    <div>
      <label>
        <input type="radio" id="annual-patients" name="radio_buttons" value="More than 600,000 annual patients">
        More than 600,000 annual patients
      </label>
    </div>
    <div>
      <label>
        <input type="radio" id="affiliated-physicians" name="radio_buttons" value="5,000 affiliated physicians">
        5,000 affiliated physicians
      </label>
    </div>
    <div>
      <label>
        <input type="radio" id="patient-satisfaction" name="radio_buttons" value="94% patient satisfaction">
        94% patient satisfaction
      </label>
    </div>
    <div>
      <label>
        <input type="radio" id="facility-growth" name="radio_buttons" value="10% annual same-facility growth over the past five years">
        10% annual same-facility growth over the past five years
      </label>
    </div>
</div>

