

<div class="ResourcesList">
  <h4 class="ResourcesList-heading">
    Committee Charters
  </h4>

  <ul class="ResourcesList-list">
      <li class="ResourcesList-item">
        <a href="#" title="Download Audit Committee Charter">
          <img
            class="ResourcesList-icon"
            src="../../icon-doc-on.png"
            alt="Download Audit Committee Charter">
          Audit Committee Charter
        </a>
      </li>
      <li class="ResourcesList-item">
        <a href="#" title="Download Compensation Committee Charter">
          <img
            class="ResourcesList-icon"
            src="../../icon-pdf-on.png"
            alt="Download Compensation Committee Charter">
          Compensation Committee Charter
        </a>
      </li>
      <li class="ResourcesList-item">
        <a href="#" title="Download Audit Committee Charter">
          <img
            class="ResourcesList-icon"
            src="../../icon-xls-on.png"
            alt="Download Audit Committee Charter">
          Audit Committee Charter
        </a>
      </li>
      <li class="ResourcesList-item">
        <a href="#" title="Download Compensation Committee Charter">
          <img
            class="ResourcesList-icon"
            src="../../icon-xbrl-on.png"
            alt="Download Compensation Committee Charter">
          Compensation Committee Charter
        </a>
      </li>
  </ul>
</div>

