

<div class="ServiceCards">
    <div class="ServiceCard">
      <svg class="icon"
        >
        <use xlink:href="#icon-building-color"></use>
      </svg>
    
      <span class="ServiceCard-title">
        Surgical facilities
      </span>
    </div>
    <div class="ServiceCard">
      <svg class="icon"
        >
        <use xlink:href="#icon-syringe-color"></use>
      </svg>
    
      <span class="ServiceCard-title">
        Anesthesia
      </span>
    </div>
    <div class="ServiceCard">
      <svg class="icon"
        >
        <use xlink:href="#icon-pill-color"></use>
      </svg>
    
      <span class="ServiceCard-title">
        Pharmacy
      </span>
    </div>
    <div class="ServiceCard">
      <svg class="icon"
        >
        <use xlink:href="#icon-eye-color"></use>
      </svg>
    
      <span class="ServiceCard-title">
        Optical
      </span>
    </div>
    <div class="ServiceCard">
      <svg class="icon"
        >
        <use xlink:href="#icon-stethoscope-color"></use>
      </svg>
    
      <span class="ServiceCard-title">
        Physician practices
      </span>
    </div>
    <div class="ServiceCard">
      <svg class="icon"
        >
        <use xlink:href="#icon-first-aid-color"></use>
      </svg>
    
      <span class="ServiceCard-title">
        Urgent care
      </span>
    </div>
</div>

