

<div class="StockPrice">
  <div class="StockPrice-price heading-1">
    $22.85
  </div>


    <div class="StockPrice-ticker text-negative">
      <svg version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="icon"
        >
        <use xlink:href="#icon-triangle-down"></use>
      </svg>
      0.55 (3.03%)
    </div>

    <div class="StockPrice-range">
      <span>High $22.85</span>
      <span>Low $22.30</span>
    </div>
</div>

