

<div class="StockChartFilter">
  <div class="StockPrice">
    <div class="StockPrice-price heading-1">
      $22.85
    </div>
  
      <div class="StockPrice-ticker text-positive">
        <svg class="icon"
          >
          <use xlink:href="#icon-stock-price-up"></use>
        </svg>
        0.55 (3.03%)
      </div>
  
  
  </div>

  <div class="StockChartFilter-controls">
    <label class="visuallyhidden" for="time-frame-select">Time frame</label>
    <select
      
      id="time-frame-select"
      name="time-frame-select"
      >
        <option value="1hr">
          1 Hour
        </option>
        <option value="1dy" selected="selected">
          1 Day
        </option>
        <option value="2dy">
          2 Days
        </option>
        <option value="3dy">
          3 Days
        </option>
        <option value="5dy">
          5 Days
        </option>
        <option value="10dy">
          10 Days
        </option>
        <option value="1mo">
          1 Month
        </option>
        <option value="2mo">
          2 Months
        </option>
        <option value="3mo">
          3 Months
        </option>
        <option value="6mo">
          6 Months
        </option>
        <option value="1yr">
          1 Year
        </option>
        <option value="2yr">
          2 Years
        </option>
        <option value="3yr">
          3 Years
        </option>
        <option value="4yr">
          4 Years
        </option>
        <option value="5yr">
          5 Years
        </option>
        <option value="10yr">
          10 Years
        </option>
        <option value="Ytd">
          Year-to-Date
        </option>
        <option value="All">
          All Data
        </option>
    </select>

    <label class="visuallyhidden" for="chart-type-select">Chart type</label>
    <select
      
      id="chart-type-select"
      name="chart-type-select"
      >
        <option value="mountain" selected="selected">
          Mountain
        </option>
        <option value="ohlc">
          OHLC
        </option>
        <option value="candlestick">
          Candlestick
        </option>
        <option value="candlestickcolor">
          Candlestick Red/Green
        </option>
        <option value="line">
          Close Line
        </option>
        <option value="fillclip">
          % Change Fill
        </option>
        <option value="lineclip">
          % Change Line
        </option>
    </select>
  </div>
</div>

