

<div class="StockChartFilter">
  <div class="StockPrice">
    <div class="StockPrice-price heading-1">
      $22.85
    </div>
  
      <div class="StockPrice-ticker text-positive">
        <svg class="icon">
          <use xlink:href="#icon-stock-price-up"></use>
        </svg>
        0.55 (3.03%)
      </div>
  
  
  </div>

  <div class="StockChartFilter-controls">
    <select
      
      id="filter1"
      name="filter1"
      >
        <option value="" selected="selected">
          Select
        </option>
        <option value="1">
          Option 1
        </option>
        <option value="2">
          Option 2
        </option>
        <option value="3">
          Option 3
        </option>
    </select>
    <select
      
      id="filter2"
      name="filter2"
      >
        <option value="" selected="selected">
          Select
        </option>
        <option value="1">
          Option 1
        </option>
        <option value="2">
          Option 2
        </option>
        <option value="3">
          Option 3
        </option>
    </select>
  </div>
</div>

