

<nav class="SubNavigation js-sub-navigation">
  <ul class="SubNavigation-list">
      <li class="SubNavigation-item">
        <a class="SubNavigation-link" href="#what-we-do">
          What we do
        </a>
      </li>
      <li class="SubNavigation-item">
        <a class="SubNavigation-link" href="#how-were-different">
          How we’re different
        </a>
      </li>
      <li class="SubNavigation-item">
        <a class="SubNavigation-link" href="#how-we-got-here">
          How we got here
        </a>
      </li>
      <li class="SubNavigation-item">
        <a class="SubNavigation-link" href="#leadership">
          Leadership
        </a>
      </li>

    <div class="SubNavigation-marker js-sub-navigation-marker"
      aria-hidden="true"></div>
  </ul>
</nav>

