

<table class="table-responsive">
  <thead>
    <tr>
      <th>Filing Date</th>
      <th>Form</th>
      <th>Description</th>
      <th>Filing Group</th>
      <th>Downloads</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td data-label="Filing Date">May 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        <a class="FileDownload" href="#">
  <img
    src="../../icon-doc-on.png"
    alt="Download doc file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-pdf-on.png"
    alt="Download pdf file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xls-on.png"
    alt="Download xls file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xbrl-off.png"
    alt="Download xbrl file">
</a>

      </td>
    </tr>

    <tr>
      <td data-label="Filing Date">May 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        <a class="FileDownload" href="#">
  <img
    src="../../icon-doc-off.png"
    alt="Download doc file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-pdf-on.png"
    alt="Download pdf file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xls-off.png"
    alt="Download xls file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xbrl-on.png"
    alt="Download xbrl file">
</a>

      </td>
    </tr>

    <tr>
      <td data-label="Filing Date">May 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        <a class="FileDownload" href="#">
  <img
    src="../../icon-doc-on.png"
    alt="Download doc file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-pdf-on.png"
    alt="Download pdf file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xls-on.png"
    alt="Download xls file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xbrl-on.png"
    alt="Download xbrl file">
</a>

      </td>
    </tr>

    <tr>
      <td data-label="Filing Date">April 04, 2017</td>
      <td data-label="Form"><a href="#">4</a></td>
      <td data-label="Description">Statement of changes in beneficial ownership of securities</td>
      <td data-label="Filing Group">3,4,5</td>
      <td data-label="Downloads">
        <a class="FileDownload" href="#">
  <img
    src="../../icon-doc-on.png"
    alt="Download doc file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-pdf-off.png"
    alt="Download pdf file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xls-off.png"
    alt="Download xls file">
</a>

        <a class="FileDownload" href="#">
  <img
    src="../../icon-xbrl-off.png"
    alt="Download xbrl file">
</a>

      </td>
    </tr>
  </tbody>
</table>

