

<div class="TeamMember" itemprop="employee" itemscope itemtype="http://schema.org/Person">
  <img class="TeamMember-image"
    itemprop="image"
    src="../../assets/images/team-sparks@2x.jpg"
    alt="Headshot of Teresa Sparks">

  <h5 class="TeamMember-name" itemprop="name">
    Teresa Sparks
  </h5>

  <p class="TeamMember-title" itemprop="jobTitle">
    Chief Financial Officer
  </p>

  <div class="TeamMember-panel">
    <p class="TeamMember-bio" itemprop="description">
      Teresa Sparks serves as Executive Vice President and CFO of Surgery Partners and served as SVP and CFO of Symbion Healthcare until it&#x27;s acquisition in 2014. She was Corporate Controller of Symbion from its inception until she was named VP in 2002. Prior to joining Symbion, she served as Assistant Controller for HealthWise of America, Inc., and senior healthcare auditor for Deloitte and Touche.
    </p>
  </div>
</div>

