

<div class="TeamMember TeamMember--small js-team-member" itemprop="employee" itemscope itemtype="http://schema.org/Person">
  <h5 class="TeamMember-name" itemprop="name">
    Teresa Sparks
  </h5>

  <p class="TeamMember-title" itemprop="jobTitle">
    Chief Financial Officer
  </p>

  <p class="TeamMember-bio" itemprop="description" hidden>
    
  </p>

  <p class="TeamMember-link">
    <a class="MoreLink js-modal-trigger" href="#">
      Read bio
      <svg version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="icon"
        >
        <use xlink:href="#icon-arrow"></use>
      </svg>
    </a>
  </p>
</div>

