

<div class="TeamList">
  <h2 class="TeamList-heading">
    Board of directors
  </h2>

  <div class="TeamList-members">
      <div class="TeamMember TeamMember--small js-team-member" itemprop="employee" itemscope itemtype="http://schema.org/Person">
        <h5 class="TeamMember-name" itemprop="name">
          Michael T. Doyle
        </h5>
      
        <p class="TeamMember-title" itemprop="jobTitle">
          Chief Executive Officer, Director
        </p>
      
        <p class="TeamMember-bio" itemprop="description" hidden>
          
        </p>
      
        <p class="TeamMember-link">
          <a class="MoreLink js-modal-trigger" href="#">
            Read bio
            <svg class="icon"
              >
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </a>
        </p>
      </div>
      <div class="TeamMember TeamMember--small js-team-member" itemprop="employee" itemscope itemtype="http://schema.org/Person">
        <h5 class="TeamMember-name" itemprop="name">
          Matthew I. Lozow
        </h5>
      
        <p class="TeamMember-title" itemprop="jobTitle">
          Board of Directors
        </p>
      
        <p class="TeamMember-bio" itemprop="description" hidden>
          
        </p>
      
        <p class="TeamMember-link">
          <a class="MoreLink js-modal-trigger" href="#">
            Read bio
            <svg class="icon"
              >
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </a>
        </p>
      </div>
      <div class="TeamMember TeamMember--small js-team-member" itemprop="employee" itemscope itemtype="http://schema.org/Person">
        <h5 class="TeamMember-name" itemprop="name">
          Adam Feinstein
        </h5>
      
        <p class="TeamMember-title" itemprop="jobTitle">
          Board of Directors
        </p>
      
        <p class="TeamMember-bio" itemprop="description" hidden>
          
        </p>
      
        <p class="TeamMember-link">
          <a class="MoreLink js-modal-trigger" href="#">
            Read bio
            <svg class="icon"
              >
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </a>
        </p>
      </div>
      <div class="TeamMember TeamMember--small js-team-member" itemprop="employee" itemscope itemtype="http://schema.org/Person">
        <h5 class="TeamMember-name" itemprop="name">
          Brent Turner
        </h5>
      
        <p class="TeamMember-title" itemprop="jobTitle">
          Board of Directors
        </p>
      
        <p class="TeamMember-bio" itemprop="description" hidden>
          
        </p>
      
        <p class="TeamMember-link">
          <a class="MoreLink js-modal-trigger" href="#">
            Read bio
            <svg class="icon"
              >
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </a>
        </p>
      </div>
      <div class="TeamMember TeamMember--small js-team-member" itemprop="employee" itemscope itemtype="http://schema.org/Person">
        <h5 class="TeamMember-name" itemprop="name">
          Dr. Teresa DeLuca
        </h5>
      
        <p class="TeamMember-title" itemprop="jobTitle">
          Board of Directors
        </p>
      
        <p class="TeamMember-bio" itemprop="description" hidden>
          
        </p>
      
        <p class="TeamMember-link">
          <a class="MoreLink js-modal-trigger" href="#">
            Read bio
            <svg class="icon"
              >
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </a>
        </p>
      </div>
  </div>
</div>

