

<blockquote class="Testimonial">
  <p class="Testimonial-quote">Surgery Partners has made an excellent partner for Vanderbilt University Medical Center in development and management of a freestanding outpatient surgery center. Their seasoned team of professional healthcare surgery center managers has allowed us to expand into a community based surgery arena in which health systems generally do not have a great deal of experience. This environment has been a quality, cost effective enterprise appealing to patients, surgeons and staff.</p>

  <cite class="Testimonial-citation">
    <span class="Testimonial-person">
      David Posch, MS, Associate Vice Chancelor for Population Health
    </span>

      <br>
      <span class="Testimonial-location">
        VUMC and Vanderbilt Health Affiliated Network • Nashville, TN
      </span>
  </cite>
</blockquote>

