

<table class="token-table">
  <tr>
    <th>Token</th>
    <th>Value</th>
    <th><abbr title="For reference only; cannot be used in code">Reference name</abbr></th>
    <th>Example</th>
  </tr>

    <tr>
      <td><code>$color-text-default</code></td>
      <td>
        <code>#8f9aa8</code><br>
        <code>rgb(143, 154, 168)</code>
      </td>
      <td>Regent Gray</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#8f9aa8; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-heading</code></td>
      <td>
        <code>#25395d</code><br>
        <code>rgb(37, 57, 93)</code>
      </td>
      <td>Cloud Burst</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#25395d; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-overlay</code></td>
      <td>
        <code>#fff</code><br>
        <code>rgb(255, 255, 255)</code>
      </td>
      <td>White</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#fff; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-introduction</code></td>
      <td>
        <code>#819ba3</code><br>
        <code>rgb(129, 155, 163)</code>
      </td>
      <td>Gumbo</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#819ba3; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-hamburger</code></td>
      <td>
        <code>#275e70</code><br>
        <code>rgb(39, 94, 112)</code>
      </td>
      <td>Casal</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#275e70; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-more-link</code></td>
      <td>
        <code>#12769f</code><br>
        <code>rgb(18, 118, 159)</code>
      </td>
      <td>Blue Chill</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#12769f; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-link-default</code></td>
      <td>
        <code>#619ab1</code><br>
        <code>rgb(97, 154, 177)</code>
      </td>
      <td>Hippie Blue</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#619ab1; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
    <tr>
      <td><code>$color-text-link-default-hover</code></td>
      <td>
        <code>#819ba3</code><br>
        <code>rgb(129, 155, 163)</code>
      </td>
      <td>Gumbo</td>
      <td>
        <div
          style="width: 24px; height: 24px; background-color:#819ba3; border: 1px solid rgba(0, 0, 0, .2);">
        </div>
      </td>
    </tr>
</table>

