

<div class="text-block">
  <h2>How we’re different</h2>

    <p>Our integrated approach to advancing markets allows for flexibility to provide care on an individualized, local market basis. Whether entering into a new market with surgical facilities, ancillary services or joint ventures with health systems, or furthering an existing market’s growth potential by focusing on base business, in-market development and new service lines, our experience has shown us that no two markets are alike. We see value in individuality.</p>
    <p>Each community we serve is unique, so we work with our partners to develop a customized strategy for each facility.  We are a leading healthcare services company with a differentiated outpatient delivery model focused on providing high quality, cost effective solutions for surgical and related ancillary care in support of our patients and physicians, as evidenced by our historically strong patient satisfaction rates, physician retention trends, and industry-leading track record of growth.</p>
</div>

