

<table class="token-table">
  <tr>
    <th>Token</th>
    <th>Value</th>
  </tr>

    <tr>
      <td><code>$z-index-toast</code></td>
      <td><code>10000</code></td>
    </tr>
    <tr>
      <td><code>$z-index-modal</code></td>
      <td><code>9000</code></td>
    </tr>
    <tr>
      <td><code>$z-index-overlay</code></td>
      <td><code>8000</code></td>
    </tr>
    <tr>
      <td><code>$z-index-dropdown</code></td>
      <td><code>7000</code></td>
    </tr>
    <tr>
      <td><code>$z-index-dialog</code></td>
      <td><code>6000</code></td>
    </tr>
    <tr>
      <td><code>$z-index-popup</code></td>
      <td><code>5000</code></td>
    </tr>
    <tr>
      <td><code>$z-index-sticky</code></td>
      <td><code>100</code></td>
    </tr>
    <tr>
      <td><code>$z-index-default</code></td>
      <td><code>1</code></td>
    </tr>
    <tr>
      <td><code>$z-index-below</code></td>
      <td><code>-1</code></td>
    </tr>
</table>

