@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Team member
 * @type Molecule
 */

.TeamMember {
  .LeadershipTeam & {
    max-width: none;
  }

  .TeamList & {
    margin-top: 48px;
  }

  // &::after {
  //   background-color: #fff; // green;
  //   box-shadow: 0 42px 84px rgba(#000, 0.3);
  //   box-sizing: border-box;
  //   content: "";
  //   display: block;
  //   // filter: drop-shadow(0 42px 84px rgba(#000, 0.3));
  //   // max-width: (248px + 35px + 35px);
  //   height: 100%;
  //   left: 0;
  //   // max-width: 248px;
  //   // padding: 42px 35px 60px;
  //   position: absolute;
  //   top: 0;
  //   transition: filter 200ms, opacity 200ms, visibility 200ms;
  //   visibility: hidden;
  //   width: 100%;
  //   z-index: $z-index-below;
  // }

  &:not(.TeamMember--small) {
    align-items: center;
    backface-visibility: hidden;
    // box-shadow: 0 42px 84px rgba(#000, 0.3);
    // box-sizing: content-box;
    display: flex;
    flex-direction: column;
    // max-width: (248px + 35px + 35px);
    max-width: 248px;
    // padding: 42px 35px 60px;
    position: relative;
    text-align: center;
  }

  &:not(.TeamMember--small):hover {
    z-index: $z-index-default + 1;
  }

  &:not(.TeamMember--small):hover::after {
    opacity: 1;
    visibility: visible;
  }
}

.TeamMember-image {
  display: block;
  max-width: 100%;
  // max-width: 248px;

  .TeamMember:hover & {
    @media (min-width: 1015px) {
      position: relative;
      z-index: 2;
    }
  }
}

.TeamMember-name {
  // font-size: 14px;
  // line-height: (24 / 14);
  margin-bottom: 0;

  // @media (min-width: 480px) {
  //   font-size: 16px;
  //   line-height: (28 / 16);
  // }

  .TeamMember:not(.TeamMember--small) & {
    margin-top: 28px;
  }

  .TeamMember--small & {
    margin-top: 0;
  }

  .TeamMember:not(.TeamMember--small):hover & {
    @media (min-width: 1015px) {
      position: relative;
      z-index: 2;
    }
  }
}

.TeamMember-title {
  color: #b5955d;
  font-size: 10px;
  font-weight: $font-weight-light;
  line-height: (16 / 10);
  margin-bottom: 0;
  margin-top: 0;

  @media (min-width: 480px) {
    font-size: 14px;
    line-height: (28 / 14);
  }

  .TeamMember:not(.TeamMember--small):hover & {
    @media (min-width: 1015px) {
      position: relative;
      z-index: 2;
    }
  }
}

.TeamMember-panel {
  background-color: #fff;
  backface-visibility: hidden;
  position: absolute;
  padding: #{(48 / $max-width) * 100%};
  width: calc(100% + #{(96 / $max-width) * 100%});
  top: #{(-48 / $max-width) * 100%};
  z-index: 1;
  padding-top: 408px;
  box-shadow: 0 42px 84px rgba(#000, .3);
  opacity: 0;
  transition: opacity 200ms;
  visibility: hidden;
  // will-change: opacity;

  @media (min-width: 1015px) {
    padding: 48px;
    width: calc(100% + 96px);
    top: -48px;
    padding-top: 408px;
  }

  .TeamMember:hover & {
    @media (min-width: 1015px) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.TeamMember-bio {
  color: #8f9aa8;
  font-size: 16px;
  line-height: (28 / 16);
  margin-bottom: 0;
  margin-top: 16px;
}

.TeamMember-link {
  margin-bottom: 0;
  margin-top: 0;
}
