@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Team member
 */

.TeamMember {
  &:not(.TeamMember--small) {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    max-width: 248px;
    position: relative;
    text-align: center;
  }

  &:not(.TeamMember--small):hover {
    z-index: $z-index-default + 1;
  }

  &:not(.TeamMember--small):hover::after {
    opacity: 1;
    visibility: visible;
  }
}

.TeamMember-image {
  display: block;
  height: 100%;
  max-width: 100%;
  width: auto;

  @supports (display: grid) {
    height: auto;
  }

  .TeamMember:hover & {
    @media (min-width: 1015px) {
      position: relative;
      z-index: 2;
    }
  }
}

.TeamMember-name {
  margin-bottom: 0;

  .TeamMember:not(.TeamMember--small) & {
    margin-top: 28px;
  }

  .TeamMember--small & {
    margin-top: 0;
  }

  .TeamMember:not(.TeamMember--small):hover & {
    @media (min-width: 1015px) {
      position: relative;
      z-index: 2;
    }
  }
}

.TeamMember-title {
  color: $color-text-meta;
  font-size: 12px;
  line-height: (18 / 12);
  margin-bottom: 0;
  margin-top: 0;

  .TeamMember--small & {
    margin-top: 2px;
  }

  .TeamMember:not(.TeamMember--small):hover & {
    @media (min-width: 1015px) {
      position: relative;
      z-index: 2;
    }
  }
}

.TeamMember-panel {
  @media (max-width: 1014px) {
    display: none;
  }

  @media (min-width: 1015px) {
    backface-visibility: hidden;
    background-color: $color-background-default;
    box-shadow: $shadow-team-member-panel;
    // left: #{(-48 / $max-width) * 100%};
    left: -48px;
    opacity: 0;
    // padding: #{(48 / $max-width) * 100%};
    // padding-top: 408px;
    padding: 408px 48px 48px;
    position: absolute;
    // top: #{(-48 / $max-width) * 100%};
    top: -48px;
    // width: calc(100% + #{(96 / $max-width) * 100%});
    width: calc(100% + 96px);
    transition: opacity 200ms;
    visibility: hidden;
    z-index: $z-index-default;
  }

  // @media (min-width: 1015px) {
  //   left: -48px;
  //   padding: 408px 48px 48px;
  //   top: -48px;
  //   width: calc(100% + 96px);
  // }

  .TeamMember:hover & {
    @media (min-width: 1015px) {
      opacity: 1;
      visibility: visible;
    }
  }
}

.TeamMember-bio {
  color: #8f9aa8;
  font-size: 16px;
  line-height: (28 / 16);
  margin-bottom: 0;
  margin-top: 16px;
}

.TeamMember-link {
  margin-bottom: 0;
  margin-top: 0;

  .TeamMember--small & {
    margin-top: 12px;
  }
}

// Implementation detail

.LeadershipTeam .TeamMember {
  float: left;
  max-width: none;
  width: #{(428 / 904) * 100%};

  @supports (display: grid) {
    float: none;
    width: auto;
  }

  @media (min-width: 615px) {
    margin-left: #{(40 / 904) * 100%};
    margin-top: 56px;
    width: #{(248 / 904) * 100%};

    @supports (display: grid) {
      margin-left: 0;
      margin-top: 0;
      width: auto;
    }
  }
}

.TeamList .TeamMember {
  margin-top: 24px;

  @media (min-width: 645px) {
    margin-top: #{(48 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-top: 48px;
  }
}

.Modal .TeamMember {
  display: block;
  max-width: none;
  text-align: left;
}

.Modal .TeamMember-title {
  font-size: #{$font-size-default}px;
  margin-top: 4px;
}

.Modal .TeamMember-bio {
  margin-bottom: 28px;
}
