@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: News article
 */

.NewsArticle h1 {
  margin-bottom: 1em;
}

.NewsArticle--preview h4 {
  margin-bottom: 0;
  margin-top: 3px;
}

.NewsArticle--preview h4 + p {
  margin-bottom: 24px;
  margin-top: 24px;
}

.NewsArticle-article {
  @media (min-width: 800px) {
    max-width: #{$max-width-content}px;
    width: #{($max-width-content / $max-width-grid-padded) * 100%};
  }
}

.NewsArticle-date {
  @include fluid-type(
    $min-font-size: $font-size-body-small-min,
    $max-font-size: $font-size-body-small,
    $min-width: 600
  );

  color: $color-text-news-date;
  margin-bottom: 0;
  margin-top: 0;

  .NewsArticle:not(.NewsArticle--preview) & {
    border-top: 1px solid rgba($color-border-default, .47);
    display: inline-block;
    margin-bottom: 8px;
    padding-right: 48px;
    padding-top: 24px;
  }
}
