<div class="TeamMember TeamMember--small js-team-member" itemprop="employee" itemscope itemtype="http://schema.org/Person">
  <h5 class="TeamMember-name" itemprop="name">
    {{ teamMember.name }}
  </h5>

  <p class="TeamMember-title" itemprop="jobTitle">
    {{ teamMember.title }}
  </p>

  <p class="TeamMember-bio" itemprop="description" hidden>
    {{ teamMember.bio }}
  </p>

  <p class="TeamMember-link">
    {{!> "@more-link" link=teamMember.link }}
    <a class="MoreLink js-modal-trigger" href="#">
      Read bio
      {{> @icon id="icon-arrow" }}
    </a>
  </p>
</div>
