@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Heading
 * @type Atom
 */

.heading-masthead-super {
  @include fluid-type(
    $min-font-size: $font-size-heading-masthead-super-min,
    $max-font-size: $font-size-heading-masthead-super,
    $min-width: 600
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-reset;
  margin-bottom: 0;
  margin-top: 0;
}

.heading-masthead {
  @include fluid-type(
    $min-font-size: $font-size-heading-masthead-min,
    $max-font-size: $font-size-heading-masthead,
    $min-width: 600
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-reset;
  margin-bottom: 0;
  margin-top: 0;
}

.heading-super {
  @include fluid-type(
    $min-font-size: $font-size-heading-super-min,
    $max-font-size: $font-size-heading-super,
    $min-width: 600
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading-super;
  margin-bottom: 0;
  margin-top: 0;
}

h1,
.heading-1 {
  @include fluid-type(
    $min-font-size: $font-size-heading-1-min,
    $max-font-size: $font-size-heading-1,
    $min-width: 480
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading-1;
  margin-bottom: 0;
  margin-top: 0;
}

h2,
.heading-2 {
  @include fluid-type(
    $min-font-size: $font-size-heading-2-min,
    $max-font-size: $font-size-heading-2,
    $min-width: 480
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading-2;
  margin-bottom: .5em;
  margin-top: .5em;
}

h3,
.heading-3 {
  @include fluid-type(
    $min-font-size: $font-size-heading-3-min,
    $max-font-size: $font-size-heading-3,
    $min-width: 480
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading-3;
  margin-bottom: .5em;
  margin-top: .5em;
}

h4,
.heading-4 {
  @include fluid-type(
    $min-font-size: $font-size-heading-4-min,
    $max-font-size: $font-size-heading-4,
    $min-width: 480
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading-4;
  margin-bottom: 1em;
  margin-top: 1em;
}

h5,
.heading-5 {
  @include fluid-type(
    $min-font-size: $font-size-heading-5-min,
    $max-font-size: $font-size-heading-5,
    $min-width: 480
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading-5;
  margin-bottom: 1em;
  margin-top: 1em;
}

h6,
.heading-6 {
  @include fluid-type(
    $min-font-size: $font-size-heading-6-min,
    $max-font-size: $font-size-heading-6,
    $min-width: 480
  );

  color: $color-text-heading;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading-6;
  margin-bottom: 1em;
  margin-top: 1em;
}
