@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

ul,
ol,
dl {
  font-size: #{$font-size-default-min}px;
  line-height: $line-height-default-min;
  margin-bottom: #{(24 / $font-size-default-min) * 1em};
  margin-top: #{(24 / $font-size-default-min) * 1em};

  @media (min-width: 600px) {
    font-size: #{$font-size-default}px;
    line-height: $line-height-default;
    margin-bottom: #{(32 / $font-size-default) * 1em};
    margin-top: #{(32 / $font-size-default) * 1em};
  }
}

dt {
  font-weight: $font-weight-semibold;
}

dd {
  margin-bottom: 1em;
  margin-top: 1em;
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}
