/**
 * Module: grid
 * @type Layout module
 */

.grid {
  @supports (display: grid) {
    display: grid;
  }
}

.grid.two-column {
  @media (max-width: $mq-max-860) {
    display: block;
  }

  @supports (display: grid) {
    @media (min-width: $mq-min-860) {
      grid-template-columns: #{($max-width-content / $max-width) * 100%} auto #{(522 / $max-width) * 100%};
      grid-template-rows: auto 1fr;
    }
  }
}

.grid.two-column.padded {
  @supports (display: grid) {
    @media (min-width: $mq-min-860) {
      grid-template-columns: auto #{(116 / $max-width) * 100%} 332px;
      grid-template-rows: auto 1fr;
    }

    @media (min-width: $mq-min-container) {
      grid-template-columns: #{$max-width-content}px 116px 332px;
    }
  }
}

.grid.two-column .grid-section {
  @media (min-width: $mq-min-860) {
    float: left;
    width: #{($max-width-content / $max-width) * 100%};

    @supports (display: grid) {
      float: none;
      width: auto;
    }
  }

  @supports (display: grid) {
    @media (min-width: $mq-min-860) {
      grid-column: 1 / 2;
    }
  }

  &:nth-of-type(1) {
    @supports (display: grid) {
      @media (min-width: $mq-min-860) {
        grid-row: 1 / auto;
      }
    }
  }

  &:nth-of-type(2) {
    @media (max-width: $mq-max-860) {
      margin-top: 64px;
    }

    @media (min-width: $mq-min-860) {
      clear: left;

      @supports (display: grid) {
        clear: none;
      }
    }

    @supports (display: grid) {
      @media (min-width: $mq-min-860) {
        grid-row: 2 / auto;
      }
    }
  }
}

.grid.two-column.padded .grid-section {
  @media (min-width: $mq-min-860) {
    width: #{($max-width-content / $max-width-grid-padded) * 100%};

    @supports (display: grid) {
      width: auto;
    }
  }
}

.grid.two-column .grid-aside {
  @media (max-width: $mq-max-860) {
    margin-top: 64px;
  }

  @media (min-width: $mq-min-860) {
    float: right;
    width: #{(522 / $max-width) * 100%};

    @supports (display: grid) {
      float: none;
      width: auto;
    }
  }

  @supports (display: grid) {
    @media (min-width: $mq-min-860) {
      align-self: start;
      grid-column: 3 / 4;
      grid-row: 1 / -1;
    }
  }
}

.grid.two-column.padded .grid-aside {
  @media (min-width: $mq-min-860) {
    margin-top: 8px;
    width: #{(332 / $max-width-grid-padded) * 100%};

    @supports (display: grid) {
      width: auto;
    }
  }
}

.grid-aside.sticky {
  @media (max-width: $mq-max-860) {
    position: static;
  }

  @media (min-width: $mq-min-860) {
    top: 24px;
  }
}

.grid-aside.full-bleed {
  @media (max-width: $mq-max-860) {
    margin-left: -#{$spacing-gutter}px;
    margin-right: -#{$spacing-gutter}px;
  }

  &.sticky {
    @media (max-width: $mq-max-860) {
      width: auto;
    }
  }
}
