@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: More link
 * @type Atom
 */

.MoreLink {
  @include fluid-type(
    $min-font-size: 12,
    $max-font-size: 14,
    $min-width: 600
  );

  color: #12769f;
  display: inline-block;
  line-height: (19 / 14);
  position: relative;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    .icon {
      transform: translateX(24px + 6px);
    }
  }
}

.MoreLink .icon {
  display: block;
  font-size: 24px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 5px;
  transform: translateX(24px + 12px);
  transition: color 200ms, transform 200ms;
}

// Implementation detail

.Masthead .MoreLink {
  @include fluid-type(
    $min-font-size: 14,
    $max-font-size: 16,
    $min-width: 600
  );

  color: $color-text-overlay;
  margin-top: #{(64 / $max-width) * 100vw};

  @media (min-width: 1290px) {
    margin-top: 64px;
  }

  &:hover,
  &:active,
  &:focus {
    color: rgba($color-text-overlay, .8);
  }
}
