@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Modal
 */

.Modal {
  background-color: $color-background-default;
  // bottom: 0;
  box-shadow: $shadow-modal;
  // height: 100vh;
  left: 0;
  margin: auto;
  opacity: 0;
  // padding: #{$spacing-gutter}px;
  // padding-bottom: #{$spacing-gutter}px;
  // padding-top: #{$spacing-gutter}px;
  position: fixed;
  right: 0;
  // top: 0;
  transform: translateY(10vh);
  transition: opacity 200ms, transform 200ms, visibility 200ms;
  visibility: hidden;
  // width: 100vw;
  will-change: transform;
  z-index: $z-index-modal;

  @media (max-width: 479px) {
    height: 100vh;
    top: 0;
    width: 100vw;
  }

  @media (min-width: 480px) {
    // height: 80vh;
    max-height: 80vh;
    // max-width: 80vw;
    max-width: 800px;
    top: 50%;
    // width: 80vw;
    width: 96vw;
  }

  // @media (min-width: 800px) {
  //   max-width: 50vw;
  //   width: 50vw;
  // }

  &.is-open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;

    @media (min-width: 480px) {
      transform: translateY(-50%);
    }
  }
}

.Modal-close {
  background-color: transparent;
  border: 0;
  color: rgba($color-text-default, 0.4);
  cursor: pointer;
  display: block;
  font-size: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: #{$spacing-gutter}px;
  top: #{$spacing-gutter}px;
  transition: color 200ms;
  width: 24px;
  z-index: $z-index-default;

  &:hover,
  &:active,
  &:focus {
    color: rgba($color-text-default, 0.8);
  }
}

.Modal-content {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding:
    #{$spacing-gutter}px
    #{$spacing-gutter * 2}px
    #{$spacing-gutter}px
    #{$spacing-gutter}px;

  @media (min-width: 480px) {
    padding-left: #{$spacing-gutter * 2}px;
  }
}
