@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Hamburger {
  color: $color-text-hamburger;
  padding: 18px 14px;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    color: $color-text-hamburger;
  }
}

.Hamburger-icon {
  display: block;
  height: 9px;
  position: relative;
  text-indent: -999em;
  white-space: nowrap;
  width: 17px;

  &::before,
  &::after {
    background-color: currentColor;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: transform $timing-default;
    width: 100%;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 7px;
  }

  .is-open & {
    &::before {
      transform: translateY(3px) rotate(135deg);
    }

    &::after {
      transform: translateY(-4px) rotate(45deg);
    }
  }
}

// Implementation detail

.Banner .Hamburger {
  @media (max-width: $mq-max-banner) {
    margin-right: -14px;
  }

  @media (min-width: $mq-min-banner) {
    display: none;
  }
}
