/**
 * Module: container
 * @type Layout module
 */

.container {
  // $mq: (($max-width + 24 + 24) / 16) * 1em;
  // $mq: ($max-width + 24 + 24)px;
  margin-left: 24px;
  margin-right: 24px;
  max-width: #{$max-width}px;

  @media (min-width: 1338px) {
    margin-left: auto;
    margin-right: auto;
  }
}
