@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Resources list
 */

.ResourcesList-heading {
  border-bottom: 1px solid rgba($color-border-default, .6);
  margin-bottom: #{(16 / $font-size-heading-4) * 1em};
  margin-top: 0;
  padding-bottom: #{(24 / $font-size-heading-4) * 1em};
}

.ResourcesList-list {
  @include fluid-type(
    $min-font-size: 12,
    $max-font-size: 14,
    $min-width: 600
  );

  line-height: (45 / $font-size-default);
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.ResourcesList-item > a {
  display: inline-block;
}

.ResourcesList-icon {
  display: inline-block;
  height: auto;
  margin-right: 4px;
  vertical-align: -2px;
  width: 14px;
}
