@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Resources list
 */

.ResourcesList-heading {
  border-bottom: 1px solid rgba($color-border-default, .6);
  font-size: 20px;
  font-weight: $font-weight-light;
  line-height: (28 / 20);
  margin-bottom: 16px;
  margin-top: 0;
  padding-bottom: 24px;
}

.ResourcesList-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  line-height: (45 / 16);
}
