@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Location finder
 * @type Organism
 */

$location-finder-fieldset-width: 1032;
$location-finder-legend-width: 232;
$location-finder-controls-width: $location-finder-fieldset-width - $location-finder-legend-width;
$location-finder-button-width: 258;

.LocationFinder {
  // background-color: $color-background-default;
  // position: relative;

  // @media (min-width: 670px) {
  //   box-shadow: 0 2px 4px rgba(#000, .5),
  //     0 36px 84px rgba(#042435, .39);
  //   display: flex;
  //   height: #{(90 / $max-width) * 100vw};
  //   min-height: 60px;
  //   max-height: 90px;
  // }

  @media (min-width: 670px) {
    // background-color: rgba(#fff, 0);
    // box-shadow: 0 2px 4px rgba(#000, 0),
    //   0 36px 84px rgba(#042435, 0);
    // transition: background-color 200ms, box-shadow 200ms;
  }

  &.is-sticky {
    background-color: $color-background-default;
    box-shadow: $shadow-location-finder-sticky;

    @media (max-width: 669px) {
      // box-shadow: $shadow-location-finder-sticky;
      // padding-top: #{$spacing-gutter}px;
      // height: 70px;
      // overflow: hidden;
    }

    @media (min-width: 670px) {
      box-shadow: $shadow-location-finder;
    }
  }
}

.LocationFinder .container {
  background-color: $color-background-default;
  position: relative;

  @media (min-width: 670px) {
    display: flex;
    height: #{(90 / $max-width) * 100vw};
    max-height: 90px;
    min-height: 60px;
  }
}

.LocationFinder.is-sticky .container {
  @media (max-width: 669px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.LocationFinder:not(.is-sticky) .container {
  @media (min-width: 670px) {
    box-shadow: $shadow-location-finder;
  }
}

.LocationFinder fieldset {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: 670px) {
    width: #{($location-finder-fieldset-width / $max-width) * 100%};
  }
}

// .LocationFinder.is-sticky fieldset {
//   @media (max-width: 669px) {
//     margin-bottom: -24px;
//   }
// }

.LocationFinder legend {
  color: rgba($color-text-heading, .79);
  display: block;
  float: left;
  font-weight: $font-weight-bold;
  height: 100%;
  line-height: 1;
  // padding-left: #{(60 / $max-width) * 100%};
  // padding-right: #{(60 / $max-width) * 100%};
  // padding-left: 60px;
  // padding-right: 60px;
  // padding-top: 39px;
  // width: 232px;
  // min-width: 232px;
  width: #{($location-finder-legend-width / $location-finder-fieldset-width) * 100%};

  @media (max-width: 1023px) {
    display: none;
  }

  // Extra span is here to fix a bug in Webkit browsers
  // where flexbox doesn’t work with fieldset
  span {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
}

.LocationFinder label {
  display: none;
}

.LocationFinder select {
  border: 0;
  height: 100%;
  width: 100%;

  @media (max-width: 669px) {
    font-size: 12px;
    // transition: opacity 200ms, visibility 200ms;
  }

  @media (max-width: 669px) {
    border: 1px solid rgba($color-border-default, .27);
    margin-bottom: 6px;
  }

  @media (min-width: 670px) {
    border-left: 1px solid rgba($color-border-default, .27);
  }

  &:first-of-type {
    @media (min-width: 670px) and (max-width: 1023px) {
      border-left: 0;
    }
  }

  &:not(:first-of-type) {
    @media (max-width: 669px) {
      float: left;
      width: calc(50% - 3px);
    }
  }

  &:last-of-type {
    @media (max-width: 669px) {
      margin-left: 6px;
    }
  }
}

.LocationFinder.is-sticky select {
  &:first-of-type {
    @media (max-width: 669px) {
      border: 0;
      margin-bottom: 0;
      padding-bottom: #{$spacing-gutter - 2}px;;
      padding-left: #{$spacing-gutter}px;
      padding-top: #{$spacing-gutter}px;
    }
  }

  &:not(:first-of-type) {
    @media (max-width: 669px) {
      // opacity: 0;
      // visibility: hidden;
      display: none;
    }
  }
}

.LocationFinder-button {
  width: 100%;

  @media (max-width: 669px) {
    font-size: 12px;
    // padding-bottom: 18px;
    // padding-top: 18px;
    // transition: opacity 200ms, visibility 200ms;
  }

  @media (min-width: 670px) {
    // padding-left: #{(100 / $max-width) * 100%};
    // padding-right: #{(100 / $max-width) * 100%};
    min-width: 128px;
    // min-width: 258px;
    // width: 258px;
    // transition: border-radius 200ms, height 200ms;
    width: #{($location-finder-button-width / $max-width) * 100%};
    // width: #{(258 / 1075) * 100%};
  }

  .LocationFinder.is-sticky & {
    @media (max-width: 669px) {
      // opacity: 0;
      // visibility: hidden;
      display: none;
    }

    @media (min-width: 670px) {
      align-self: center;
      // border-radius: 56px;
      height: 56px;
    }
  }
}

// Fixes a bug in Webkit browsers where flexbox
// doesn’t work with fieldset
.LocationFinder-controls {
  @media (min-width: 670px) {
    display: flex;
    height: 100%;
    // width: #{($location-finder-controls-width / $max-width) * 100%};
  }
}
