@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Paragraph
 * @type Atom
 */

p {
  font-size: #{(14 / 16) * 1em};
  line-height: (24 / 14);
  margin-bottom: 1em;
  margin-top: 1em;

  @media (min-width: 700px) {
    font-size: 1em;
    line-height: (28 / 16);
  }
}
