@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Service card
 */

.ServiceCard {
  align-items: center;
  color: $color-text-service-card;
  display: flex;
  flex-direction: column;
  font-size: #{$font-size-body-small}px;
  line-height: $line-height-body-small;
  min-width: 124px;
  text-align: center;
  width: 188px;

  @media (max-width: 479px) {
    justify-content: center;
  }

  @media (min-width: 480px) {
    background-color: $color-background-default;
    border-radius: 8px;
    box-shadow: $shadow-service-card;
    font-size: #{$font-size-default}px;
    height: 188px;
    line-height: (22 / 16);
  }
}

.ServiceCard .icon {
  font-size: #{(64 / $font-size-default) * 1em};

  @media (min-width: 480px) {
    position: relative;
    top: 45px;
  }
}

.ServiceCard-title {
  display: inline-block;

  @media (max-width: 479px) {
    margin-top: 12px;
  }

  @media (min-width: 480px) {
    max-width: 40%;
    position: relative;
    top: 57px;
  }

  @media (min-width: 624px) {
    max-width: 48%;
  }
}

// Implementation detail

.ServiceCards .ServiceCard {
  width: auto;

  @media (max-width: 479px) {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    font-size: #{$font-size-body-small}px;
    height: auto;
    line-height: $line-height-body-small;
  }
}

.ServiceCards .ServiceCard {
  @media (max-width: 479px) {
    margin-top: 64px;
  }

  @media (min-width: 480px) and (max-width: 686px) {
    flex: 0 1 #{(285 / $max-width-content) * 100%};
  }

  @media (min-width: 687px) {
    flex: 0 1 #{(188 / $max-width-content) * 100%};
  }

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    @media (min-width: 480px) and (max-width: 686px) {
      margin-left: #{(30 / $max-width-content) * 100%};
    }
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    @media (min-width: 480px) and (max-width: 686px) {
      margin-top: #{(30 / $max-width-content) * 100%};
    }
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(5),
  &:nth-child(6) {
    @media (min-width: 687px) {
      margin-left: #{(30 / $max-width-content) * 100%};
    }
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    @media (min-width: 687px) {
      margin-top: #{(30 / $max-width-content) * 100%};
    }
  }

  @supports (display: grid) {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
}
