@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Service card
 * @type Atom
 */

.ServiceCard {
  align-items: center;
  color: #77919e;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: (19 / 14);
  min-width: 124px;
  text-align: center;
  width: 188px;

  @media (max-width: 479px) {
    justify-content: center;
  }

  @media (min-width: 480px) {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 22px 54px rgba(#6b778c, .21);
    font-size: 16px;
    height: 188px;
    line-height: (22 / 16);
  }
}

.ServiceCard .icon {
  font-size: #{(64 / 16) * 1em};

  @media (min-width: 480px) {
    position: relative;
    top: 45px;
  }
}

.ServiceCard-title {
  display: inline-block;

  @media (max-width: 479px) {
    margin-top: 12px;
  }

  @media (min-width: 480px) {
    max-width: 40%;
    position: relative;
    top: 57px;
  }

  @media (min-width: 624px) {
    max-width: 48%;
  }
}
