<blockquote class="Testimonial{{#if className}} {{className}}{{/if}}">
  <p class="Testimonial-quote">{{ testimonial.quote }}</p>

  <cite class="Testimonial-citation">
    <span class="Testimonial-person">
      {{ testimonial.citation }}
    </span>

    {{#if testimonial.location}}
      <br>
      <span class="Testimonial-location">
        {{ testimonial.location }}
      </span>
    {{/if}}
  </cite>
</blockquote>
