@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Testimonial
 * @type Organism
 */

.Testimonial {
  color: $color-text-testimonial;
  margin: 0;
  max-width: 856px;
  text-align: center;
}

.Testimonial-quote {
  @include fluid-type(
    $min-font-size: 16,
    $max-font-size: 20,
    $min-width: 600,
    $max-width: 1024
  );

  font-family: $font-family-serif;
  font-weight: $font-weight-light;
  line-height: (32 / 20);
  margin-bottom: #{(32 / 20) * 1em};
  margin-top: 0;
}

.Testimonial-citation {
  display: inline-block;
  max-width: 424px;
  width: 80%;

  @media (min-width: 480px) {
    width: #{(424 / 856) * 100%};
  }

  br {
    display: none;
  }
}

.Testimonial-person {
  @include fluid-type(
    $min-font-size: 14,
    $max-font-size: 16,
    $min-width: 600,
    $max-width: 1024
  );

  display: block;
  font-weight: $font-weight-bold;
  line-height: (24 / 16);
}

.Testimonial-location {
  @include fluid-type(
    $min-font-size: 10,
    $max-font-size: 14,
    $min-width: 600,
    $max-width: 1024
  );

  color: #b5955d;
  display: block;
  line-height: (17 / 14);
  margin-top: #{(6 / 14) * 1em};
}

// Implementation detail

.Feature .Testimonial {
  color: $color-text-overlay;
}

.Feature .Testimonial-quote {
  text-shadow: 0 2px 24px #000;
}

.Feature .Testimonial-location {
  color: inherit;
}
