@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Testimonial
 * @type Organism
 */

.Testimonial {
  max-width: 856px;
  text-align: center;

  cite {
    max-width: 424px;
    width: 80%;

    @media (min-width: 480px) {
      width: #{(424 / 856) * 100%};
    }
  }
}

// Implementation detail

.Feature .Testimonial {
  color: $color-text-overlay;
}

.Feature .Testimonial-quote {
  text-shadow: 0 2px 24px rgba(#0d3c4d, .4);
}

.Feature .Testimonial-location {
  color: inherit;
}
