<div class="Timeline">
  {{#each timeline}}
    <h3 class="Timeline-headline">
      {{ this.headline }}
    </h3>

    <p class="Timeline-description">
      {{ this.description }}
    </p>
  {{/each}}
</div>
