@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Page: Locations
 * @type page
 */

.LocationFinder:not(.is-sticky) {
  margin-top: 48px;

  @media (min-width: $mq-min-670) {
    margin-top: #{(-45 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-top: -45px;
  }
}

.LocationsPage-grid {
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-top: 48px;

  @media (min-width: $mq-min-670) {
    grid-template-columns:
      #{((444 + 54) / $max-width) * 100%}
      #{(188 / $max-width) * 100%}
      #{((550 + 54) / $max-width) * 100%};
    margin-top: #{(246 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    grid-template-columns: 108px 444px 188px 550px;
    margin-top: 246px;
  }
}

.LocationsPage-content {
  @media (min-width: $mq-min-670) {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  @media (min-width: $mq-min-container) {
    grid-column: 2 / 3;
  }
}

.LocationsPage-aside {
  @media (max-width: $mq-max-670) {
    margin-bottom: 60px;
    margin-left: -#{$spacing-gutter}px;
    margin-right: -#{$spacing-gutter}px;
    width: calc(100% + #{($spacing-gutter * 2)}px);
  }

  @media (min-width: $mq-min-670) {
    align-self: start;
    grid-column: 3 / 4;
    grid-row: 1;
    position: sticky;
    top: #{(246 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    grid-column: 4 / 5;
    top: 246px;
  }
}

.LocationMapLegend {
  @media (max-width: $mq-max-670) {
    margin-left: #{$spacing-gutter}px;
    margin-right: #{$spacing-gutter}px;
  }
}

.LocationList {
  @media (max-width: $mq-max-670) {
    margin-left: -#{$spacing-gutter}px;
    margin-right: -#{$spacing-gutter}px;
    width: calc(100% + #{($spacing-gutter * 2)}px);
  }
}

.LocationList h2,
.LocationList-item {
  @media (max-width: $mq-max-670) {
    padding-left: #{$spacing-gutter}px;
    padding-right: #{$spacing-gutter}px;
  }
}

.Contentinfo {
  margin-top: 110px;

  @media (min-width: 645px) {
    margin-top: #{(220 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-top: 220px;
  }
}
