@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.NextPage {
  @media (min-width: $mq-min-600) {
    text-align: center;
  }
}

.NextPage a {
  color: $color-text-heading;
  display: inline-block;
  text-decoration: none;
  transition: color $timing-fast;

  &:hover,
  &:active,
  &:focus {
    color: rgba($color-text-heading, $opacity-70);

    @media (min-width: $mq-min-520) {
      .NextPage-icon {
        transform: translateX(#{((66 + 16) / 66) * 1em});
      }
    }
  }
}

.NextPage-label {
  @include fluid-type(
    $min-font-size: $font-size-body-small-min,
    $max-font-size: $font-size-body-small,
    $min-width: 600
  );

  color: $color-text-meta;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.NextPage-title {
  @include fluid-type(
    $min-font-size: $font-size-heading-1-min,
    $max-font-size: $font-size-heading-1,
    $min-width: 600
  );

  color: currentColor;
  font-weight: $font-weight-bold;
  letter-spacing: -1px;
  line-height: $line-height-heading-1;
  margin-top: 8px;
  position: relative;
}

.NextPage-icon {
  @media (max-width: $mq-max-520) {
    display: none;
  }

  @media (min-width: $mq-min-520) {
    color: $color-text-arrow;
    font-size: #{(66 / $font-size-heading-1) * 1em};
    height: #{(22 / 66) * 1em};
    position: absolute;
    right: 0;
    top: #{(22 / 66) * 1em};
    transform: translateX(#{((66 + $font-size-heading-1) / 66) * 1em});
    transition: transform $timing-fast;
  }
}
