@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.StockPriceCard {
  background: $gradient-stock-price-card;
  padding: 48px 24px;

  @media (max-width: $mq-max-500) {
    font-size: #{$font-size-heading-6}px;
  }

  @media (min-width: breakpoint(940)) {
    padding: #{(80 / $max-width) * 100vw} #{(40 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    padding: 124px 80px;
  }
}

.StockPriceCard-header {
  display: flex;
  flex-wrap: wrap;
  line-height: (22 / $font-size-default);
  margin-bottom: 24px;

  b {
    color: $color-text-heading;
    font-weight: normal;

    &::after {
      content: "\00a0";
    }
  }
}

.StockPriceCard-footer {
  border-top: 1px solid rgba($color-border-default, $opacity-27);
  color: $color-text-heading;
  line-height: (32 / $font-size-default);
  margin-top: 48px;
  padding-top: 24px;

  @media (min-width: breakpoint(484)) {
    margin-top: #{(128 / $max-width) * 100vw};
  }

  @media (min-width: breakpoint(968)) {
    padding-top: #{(32 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-top: 128px;
    padding-top: 32px;
  }
}
