@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.TeamList-heading {
  margin-bottom: 0;
  margin-top: 0;
}

.TeamList-members {
  @media (min-width: $mq-min-480) {
    display: flex;
    flex-wrap: wrap;
  }

  .TeamMember {
    @media (min-width: $mq-min-480) {
      flex: 0 1 50%;
      padding-right: 8px;
    }
  }
}
