<table class="token-table">
  <tr>
    <th>Font family</th>
  </tr>
  <tr>
    <td>
      <div class="font-preview">
        <div class="font-preview-characters font-family-benton-sans font-weight-light">
          <div class="font-preview-characters-aa">Aa</div>
          <div class="font-preview-characters-az">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890(,.;:?!$&amp;*)
          </div>
        </div>

        <div class="font-preview-info">
          Benton Sans <span>(light)</span><br>
          <span>Weight:</span> 300<br>
          <span>Style:</span> normal
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="font-preview">
        <div class="font-preview-characters font-family-benton-sans font-weight-regular">
          <div class="font-preview-characters-aa">Aa</div>
          <div class="font-preview-characters-az">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890(,.;:?!$&amp;*)
          </div>
        </div>

        <div class="font-preview-info">
          Benton Sans <span>(regular)</span><br>
          <span>Weight:</span> 400<br>
          <span>Style:</span> normal
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="font-preview">
        <div class="font-preview-characters font-family-benton-sans font-weight-semibold">
          <div class="font-preview-characters-aa">Aa</div>
          <div class="font-preview-characters-az">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890(,.;:?!$&amp;*)
          </div>
        </div>

        <div class="font-preview-info">
          Benton Sans <span>(semibold)</span><br>
          <span>Weight:</span> 600<br>
          <span>Style:</span> normal
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="font-preview">
        <div class="font-preview-characters font-family-benton-sans font-weight-bold">
          <div class="font-preview-characters-aa">Aa</div>
          <div class="font-preview-characters-az">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890(,.;:?!$&amp;*)
          </div>
        </div>

        <div class="font-preview-info">
          Benton Sans <span>(bold)</span><br>
          <span>Weight:</span> 700<br>
          <span>Style:</span> normal
        </div>
      </div>
    </td>
  </tr>
</table>

<!-- <h1>First-level heading</h1>
<h2>Second-level heading</h2>
<h4>Fourth-level heading</h4>
<p>Paragraph</p> -->
