@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.CoverPhoto {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::after {
    background: $gradient-cover-photo;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: $opacity-26;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
