@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Utility links
 * @type molecule
 */

.UtilityLinks {
  display: flex;
  font-size: #{$font-size-body-small}px;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 560px) {
    border-top: 1px solid rgba($color-border-default, 0.37);
    flex-wrap: wrap;
    line-height: (28 / 12);
    padding-top: 40px;
  }

  a {
    @media (max-width: 560px) {
      width: 50%;
    }
  }
}
