{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @masthead className="js-masthead" }}

  <div class="sticky">
    {{> @sub-navigation }}
  </div>

  <div class="container">
    {{> @introduction className="js-introduction" }}

    {{> @image-block block=sections.[0] }}

    <hr>

    {{> @testimonial testimonial=testimonials.[0] className="js-testimonial-1" }}

    <hr>

    {{> @image-block--alternate block=sections.[1] }}

    <hr>

    {{> @testimonial testimonial=testimonials.[1] className="js-testimonial-2" }}
  </div>

  {{> @feature className="js-feature" }}

  <div class="container">
    {{> @image-block--alternate block=sections.[2] }}

    <hr>

    {{> @testimonial testimonial=testimonials.[2] className="js-testimonial-3" }}

    <hr>

    {{> @image-block block=sections.[3] }}

    <hr>

    {{> @testimonial testimonial=testimonials.[3] className="js-testimonial-4" }}

    <hr class="dark">

    {{> @next-page }}
  </div>
</main>

{{ render "@contentinfo" }}
