{{> @skip-link }}
{{> @global-header }}

<main id="main" role="main" tabindex="0">
  {{> @masthead }}

  <div class="container">
    {{> @introduction }}
  </div>
</main>

{{ render "@global-footer" }}
