@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.ServiceCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: #{$max-width-content}px;

  @supports (display: grid) {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));

    @media (min-width: $mq-min-480) {
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
    }
  }
}
