@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.LocationMapLegend {
  color: $color-text-map-legend;
  font-size: #{$font-size-heading-6-min}px;
  line-height: $line-height-reset;

  @media (min-width: $mq-min-600) {
    font-size: #{$font-size-heading-6}px;
  }
}

.LocationMapLegend-item {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
  margin-top: 12px;
}

.LocationMapLegend-pin {
  background-color: currentColor;
  border-radius: 100%;
  display: block;
  height: 8px;
  width: 8px;

  @media (min-width: $mq-min-600) {
    height: 14px;
    width: 14px;
  }
}

.LocationMapLegend-name {
  margin-left: 8px;

  @media (min-width: $mq-min-600) {
    margin-left: 16px;
  }
}

// Implementation detail

.LocationMap .LocationMapLegend {
  margin-top: 24px;

  @media (min-width: $mq-min-600) {
    margin-top: 32px;
  }
}
