@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Breadcrumbs {
  font-size: #{$font-size-body-small}px;
  letter-spacing: 0.6px;
  line-height: $line-height-reset;

  .icon {
    font-size: #{($font-size-body-tiny / $font-size-body-small)}em;
    margin-right: 1px;
  }
}
