.ContactForm {
  max-width: 630;
}

.ContactForm label {
  display: inline-block;
  margin-bottom: 8px;
}

.ContactForm input {
  width: 100%;
}

@media (min-width: 45em) {
  .ContactForm input {
    width: 80%;
  }
}

.ContactForm textarea {
  width: 100%;
}
