<header class="GlobalHeader js-global-header" role="banner">
  <div class="GlobalHeader-container container">
    {{ render "@logo" }}
    {{ render "@hamburger" }}
    {{ render "@navigation" }}
  </div>
</header>
