<div class="Feature">
  <div class="container">
    <div class="Feature-content">
      {{#each feature.statistics}}
        {{> @statistic statistic=this }}
      {{/each}}
    </div>
  </div>

  {{> @cover-photo coverPhoto=feature.coverPhoto }}
</div>
