<div class="Feature Feature--tall{{#if className}} {{ className}}{{/if}}">
  <div class="container">
    <div class="Feature-content">
      {{#each feature.highlights}}
        {{> @highlight highlight=this }}
      {{/each}}
    </div>
  </div>

  {{> @cover-photo coverPhoto=feature.coverPhoto }}
</div>
