<div class="Feature{{#if className}} {{className}}{{/if}}">
  <div class="container">
    <div class="Feature-content">
      {{> @testimonial testimonial=feature.testimonial className="" }}
    </div>
  </div>

  {{> @cover-photo coverPhoto=feature.coverPhoto }}
</div>
