@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Logo
 * @type Atom
 */

.Logo {
  color: #717271;
  display: block;
  max-width: 256px;
  min-width: 148px;

  &:hover,
  &:active,
  &:focus {
    color: currentColor;
  }
}

.Logo-icon {
  display: block;
  fill: currentColor;
  height: auto;
  width: 100%;
}

.Logo-arrow--left {
  fill: #c0cdd5;
}

.Logo-arrow--right {
  fill: #6199af;
}

// Implementation detail

.Banner .Logo {
  @media (max-width: $mq-max-banner) {
    width: 148px;
  }

  @media (min-width: $mq-min-banner) {
    margin-right: 72px;
  }
}
