@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Help tip
 * @type Atom
 */

.HelpTip {
  align-items: center;
  border: #{(1 / 11) * 1em} solid currentColor;
  border-radius: 100%;
  color: $color-text-help-tip;
  display: inline-flex;
  font-size: 11px;
  height: #{(20 / 11) * 1em};
  justify-content: center;
  text-align: center;
  transform: color 200ms;
  width: #{(20 / 11) * 1em};

  &:hover,
  &:active,
  &:focus {
    color: $color-text-help-tip-hover;
  }
}
