<button class="Button js-modal-trigger" aria-owns="modal-with-trigger-example">
  Open modal
</button>

{{> @modal id="modal-with-trigger-example" content=content hidden=true }}
{{> @overlay hidden=true }}
