<div
  class="Modal js-modal hidden"
  {{#if id}}id="{{ id }}"{{/if}}
  {{#if id}}aria-labelledby="{{ id }}-title"{{/if}}
  {{#if id}}aria-describedby="{{ id }}-description"{{/if}}
  role="alertdialog" tabindex="-1" aria-hidden="true">
  <button class="Modal-close js-modal-close" title="Close" aria-label="Close">
    {{> @icon id="icon-close" hidden=true }}
  </button>

  <div class="Modal-content js-modal-content">
    {{{ content }}}
  </div>
</div>
