/**
 * Module: section
 * @type Layout module
 */

.section {
  padding-bottom: #{(120 / $max-width) * 100vw};
  padding-top: #{(120 / $max-width) * 100vw};

  @media (min-width: 1290px) {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

.section--gradient {
  background: linear-gradient(to bottom, #fcfaf7 0%, #fff 100%);
  // padding-bottom: 120px;
  // padding-top: 120px;
}
