<div class="StockChartFilter">
  {{> @stock-price }}

  <div class="StockChartFilter-controls">
    <label class="visuallyhidden" for="time-frame-select">Time frame</label>
    {{> @select select=timeFrame }}

    <label class="visuallyhidden" for="chart-type-select">Chart type</label>
    {{> @select select=chartType }}
  </div>
</div>
