@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Page: Home
 * @type page
 */

.Banner {
  @media (max-width: 619px) {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.Banner:not(.is-open) {
  @media (max-width: 619px) {
    background-color: transparent;
  }
}

.Hamburger:not(.is-open) {
  @media (max-width: 619px) {
    color: $color-text-hamburger-overlay;
  }
}


.Banner:not(.is-open) .Logo {
  @media (max-width: 619px) {
    color: $color-text-overlay;
  }
}

.Banner:not(.is-open) .Logo-arrow {
  @media (max-width: 619px) {
    fill: $color-text-overlay;
  }
}

.LocationFinder {
  z-index: $z-index-sticky;

  @media (max-width: 669px) {
    display: none;
  }

  @media (min-width: 670px) {
    margin-top: #{(-45 / $max-width) * 100vw};
  }

  @media (min-width: #{$max-width}px) {
    margin-top: -45px;
  }
}

.LocationFinderButton {
  z-index: $z-index-sticky;

  @media (max-width: 669px) {
    margin-top: -22px;
  }

  @media (min-width: 670px) {
    display: none;
  }
}

.Introduction {
  margin-bottom: 104px;
  margin-top: 104px;

  @media (min-width: 544px) {
    margin-bottom: #{(164 / $max-width) * 100vw};
    margin-top: #{(174 / $max-width) * 100vw};
  }

  @media (min-width: 1290px) {
    margin-bottom: 164px;
    margin-top: 174px;
  }
}

.ImageBlock {
  margin-top: 96px;

  @media (min-width: 544px) {
    margin-top: #{(184 / $max-width) * 100vw};
  }

  @media (min-width: 1290px) {
    margin-top: 184px;
  }
}

.Contentinfo {
  margin-top: 136px;

  @media (min-width: 544px) {
    margin-top: #{(456 / $max-width) * 100vw};
  }

  @media (min-width: 1290px) {
    margin-top: 456px;
  }
}
