{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @masthead--video }}

  {{ render "@location-finder" }}
  {{ render "@location-finder-button" }}

  <div class="container">
    {{> @introduction }}

    {{#each sections}}
      {{#unless this.block.alternate}}
        {{> @image-block block=this.block }}
      {{/unless}}

      {{#if this.block.alternate}}
        {{> @image-block--alternate block=this.block }}
      {{/if}}
    {{/each}}
  </div>
</main>

{{ render "@contentinfo" }}
