@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";
@import "../home/animate";

/**
 * Page: About
 * @type page
 */

.Introduction {
  margin-bottom: 130px;
  margin-top: 90px;

  @media (min-width: 468px) {
    margin-top: #{(248 / $max-width) * 100vw};
  }

  @media (min-width: 630px) {
    margin-bottom: #{(266 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 266px;
    margin-top: 248px;
  }
}

.background-gradient {
  padding-top: 92px;

  @media (min-width: 571px) {
    padding-top: #{(208 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    padding-top: 208px;
  }
}

.ServiceCards {
  margin-bottom: 136px;
  margin-top: 70px;

  @media (min-width: 731px) {
    margin-bottom: #{(240 / $max-width) * 100vw};
  }

  @media (min-width: 1004px) {
    margin-top: #{(90 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 240px;
    margin-top: 90px;
  }
}

.Feature {
  margin-bottom: 92px;
  margin-top: 92px;

  @media (min-width: 620px) {
    margin-bottom: #{(192 / $max-width) * 100vw};
    margin-top: #{(192 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 192px;
    margin-top: 192px;
  }
}

.Timeline {
  margin-bottom: 68px;

  @media (min-width: 976px) {
    margin-bottom: #{(90 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 90px;
  }
}

.LeadershipTeam {
  margin-bottom: 130px;
  margin-top: 40px;

  @media (min-width: 332px) {
    margin-top: #{(156 / $max-width) * 100vw};
  }

  @media (min-width: 656px) {
    margin-bottom: #{(256 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 256px;
    margin-top: 156px;
  }
}
