@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Banner
 * @type Organism
 */

.Banner {
  background-color: $color-background-default;
  height: 48px;
  // width: 100%;
  transition: background-color 200ms;
  z-index: $z-index-dropdown;

  @media (min-width: 768px) {
    height: 90px;
  }
}

.Banner .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.Banner--transparent:not(.is-open) {
  background-color: transparent;
}
