@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Location list
 * @type Molecule
 */

.LocationList h2:not(:first-of-type) {
  border-top: 1px solid rgba($color-border-default, .47);
  margin-top: 48px;
  padding-top: 40px;

  @media (min-width: 600px) {
    margin-top: 72px;
    padding-top: 64px;
  }
}

.LocationList-item h4 {
  margin-bottom: 0;
}

.LocationList-item p {
  margin-top: 0;
}
