@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Team list
 */

.TeamList-heading {
  margin-bottom: 0;
  margin-top: 0;

  // @media (min-width: 774px) {
  //   margin-bottom: #{(40 / $max-width) * 100vw};
  // }
  //
  // @media (min-width: $mq-min-container) {
  //   margin-bottom: 40px;
  // }
}

.TeamList-members {
  @media (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }

  .TeamMember {
    @media (min-width: 480px) {
      flex: 0 1 50%;
      padding-right: 8px;
    }
  }
}
