<div class="TeamList">
  <h2 class="TeamList-heading">
    {{ teamList.heading }}
  </h2>

  <div class="TeamList-members">
    {{#each teamList.team}}
      {{> @team-member--small teamMember=this }}
    {{/each}}
  </div>
</div>
