@import "../../../assets/design-tokens";

/**
 * Design tokens: Colors
 */

.Background {
  background-color: $background-white;
}

.Background--blue {
  background-color: $background-blue;
}

.Background--plum {
  background-color: $background-plum;
}

.Background--green {
  background-color: $background-green;
}

.Background--peach {
  background-color: $background-peach;
}

.Background--yellow {
  background-color: $background-yellow;
}
