@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Cover video
 * @type Atom
 */

.CoverVideo {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &::after {
    background: linear-gradient(to bottom, #b5955d 0%, #5e91a1 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.26;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img,
  video {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
