<div class="CoverVideo js-cover-video object-fit-cover"
  data-src="{{ path coverVideo.src }}"
  data-type="{{ coverVideo.type }}"
  data-autoplay="{{ coverVideo.autoplay }}">
  {{> @image image=coverVideo.poster }}
</div>
