<header class="Masthead{{#if className}} {{className}}{{/if}}">
  <div class="container">
    {{#if animate}}
      <h1 class="Masthead-title heading-super">
        <span>{{ masthead.title }}</span>
      </h1>
    {{/if}}

    {{#unless animate}}
      <h1 class="Masthead-title heading-super">
        {{ masthead.title }}
      </h1>
    {{/unless}}
  </div>

  {{> @cover-photo coverPhoto=masthead.coverPhoto }}
</header>
