<header class="Masthead Masthead--video{{#if className}} {{className}}{{/if}}">
  <div class="container">
    {{#if animate}}
      {{> @tagline--animate tagline=masthead.tagline }}
      {{> @more-link--animate link=masthead.link }}
    {{/if}}

    {{#unless animate}}
      {{> @tagline tagline=masthead.tagline }}
      {{> @more-link link=masthead.link }}
    {{/unless}}
  </div>

  {{> @cover-video coverVideo=masthead.coverVideo }}
</header>
