<div class="NextPage">
  <a href="{{ nextPage.url }}">
    <div class="NextPage-label">
      {{ nextPage.label }}
    </div>

    <div class="NextPage-title heading-2">
      {{ nextPage.title }}
      {{> @icon id="icon-arrow" class="NextPage-icon" }}
    </div>
  </a>
</div>
