@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Next page
 */

.NextPage {
  @media(min-width: 480px) {
    text-align: center;
  }
}

.NextPage a {
  color: $color-text-heading;
  display: inline-block;
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:active,
  &:focus {
    color: rgba($color-text-heading, .7);

    .NextPage-icon {
      transform: translateX(#{((66 + 16) / 66) * 1em});
    }
  }
}

.NextPage-label {
  @include fluid-type(
    $min-font-size: 10,
    $max-font-size: 14,
    $min-width: 480
  );

  color: #b5955d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.NextPage-title {
  @include fluid-type(
    $min-font-size: $font-size-heading-4,
    $max-font-size: $font-size-heading-1,
    $min-width: 480
  );

  color: currentColor;
  font-weight: $font-weight-bold;
  letter-spacing: -1px;
  line-height: $line-height-heading-1;
  margin-top: 8px;
  position: relative;
}

.NextPage-icon {
  color: #bfd0d8;
  font-size: #{(66 / $font-size-heading-1) * 1em};
  height: #{(22 / 66) * 1em};
  position: absolute;
  right: 0;
  top: #{(22 / 66) * 1em};
  transform: translateX(#{((66 + $font-size-heading-1) / 66) * 1em});
  transition: transform 200ms;
}
