@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Button
 * @type Atom
 */

.Button {
  align-items: center;
  appearance: none;
  backface-visibility: hidden;
  background-color: $color-background-button-default;
  border: 0;
  color: $color-text-overlay;
  cursor: pointer;
  // display: inline-block;
  // display: flex;
  display: inline-flex;
  font-size: 14px;
  font-weight: $font-weight-semibold;
  justify-content: center;
  letter-spacing: .7px;
  line-height: 1;
  // padding: 24px 40px;
  padding: #{(24 / 14) * 1em} #{(40 / 14) * 1em};
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 200ms, color 200ms;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: $color-text-overlay;
  }
}

.Button--dark {
  background-color: $color-background-button-dark;
  border: 1px solid $color-border-button-dark;
  color: $color-text-overlay; // rgba($color-text-overlay, 0.57);
}
