@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Filter {
  max-width: #{$max-width-filter}px;
  width: 100%;

  label {
    display: inline-block;
    font-size: #{$font-size-heading-6}px;
    margin-bottom: 8px;
  }

  input,
  select,
  .Button {
    height: 44px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .HelpTip {
    margin-left: 8px;
    vertical-align: text-top;
  }
}

.Filter-controls {
  align-items: flex-end;
  display: flex;
  width: 100%;

  @media (max-width: $mq-max-700) {
    flex-wrap: wrap;
  }
}

.Filter-fieldset:nth-child(1) {
  width: 100%;

  @media (max-width: $mq-max-700) {
    margin-bottom: 20px;
  }

  @media (min-width: $mq-min-700) {
    width: #{(300 / $max-width-filter) * 100%};
  }
}

.Filter-fieldset:nth-child(2),
.Filter-fieldset:nth-child(3) {
  width: calc(50% - 8px);

  @media (min-width: $mq-min-700) {
    width: #{(190 / $max-width-filter) * 100%};
  }
}

.Filter-fieldset:nth-child(3) {
  @media (max-width: $mq-max-700) {
    margin-left: 16px;
  }
}

.Filter-fieldset {
  input,
  select {
    display: block;
    width: 100%;

    @media (max-width: $mq-max-700) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.Filter-button,
.Filter-fieldset + .Filter-fieldset {
  @media (min-width: $mq-min-700) {
    margin-left: 8px;
  }

  @media (min-width: $mq-min-840) {
    margin-left: 32px;
  }
}

.Filter-button {
  border-radius: 22px;

  @media (max-width: $mq-max-700) {
    margin-top: 40px;
  }

  @media (min-width: $mq-min-700) {
    width: #{(184 / $max-width-filter) * 100%};
  }
}

.Filter-link {
  display: inline-block;
  font-size: #{$font-size-heading-6}px;
  margin-top: 24px;

  @media (min-width: $mq-min-700) {
    margin-top: 48px;
  }
}
