<div class="Highlight">
  <div class="Highlight-icon">
    {{> @icon id=highlight.icon }}
  </div>

  <div class="Highlight-data">
    <div class="Highlight-number">
      {{ highlight.number }}
    </div>

    <div class="Highlight-label">
      {{ highlight.label }}
    </div>
  </div>
</div>
