@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Location map legend
 * @type Organism
 */

.LocationMapLegend {
  color: #8993a3;
  font-size: 10px;
  line-height: 1;

  @media(min-width: 600px) {
    font-size: 12px;
  }
}

.LocationMapLegend-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

.LocationMapLegend-pin {
  background-color: currentColor;
  border-radius: 100%;
  display: block;
  height: 8px;
  width: 8px;

  @media(min-width: 600px) {
    height: 14px;
    width: 14px;
  }
}

.LocationMapLegend-name {
  margin-left: 8px;

  @media(min-width: 600px) {
    margin-left: 16px;
  }
}

// Implementation

.LocationMap .LocationMapLegend {
  // margin-top: #{(32 / 12) * 1em};
  margin-top: 24px;

  @media(min-width: 600px) {
    margin-top: 32px;
  }
}
