.page-content {
  margin-top: 64px;

  @media (min-width: $mq-min-645) {
    margin-top: #{(128 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-top: 128px;
  }

  h1 {
    margin-bottom: 1em;
  }

  &.padded {
    @media (min-width: $mq-min-container) {
      padding-left: #{$spacing-grid-padded}px;
      padding-right: #{$spacing-grid-padded}px;
    }
  }
}

.page-footer {
  margin-bottom: 92px;
  margin-top: 80px;

  @media (min-width: breakpoint(404)) {
    margin-top: #{(256 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-660) {
    margin-bottom: #{(180 / $max-width) * 100vw};
  }

  @media (min-width: $mq-min-container) {
    margin-bottom: 180px;
    margin-top: 256px;
  }

  hr {
    margin-bottom: 92px;

    @media (min-width: $mq-min-660) {
      margin-bottom: #{(180 / $max-width) * 100vw};
    }

    @media (min-width: $mq-min-container) {
      margin-bottom: 180px;
    }
  }
}
