@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.Highlight {
  align-items: flex-start;
  color: $color-text-overlay;
  display: flex;
}

.Highlight-icon {
  align-items: center;
  background-color: $color-background-default;
  border-radius: 100%;
  box-shadow: $shadow-highlight-icon;
  color: $color-text-heading;
  display: flex;
  flex: 0 0 auto;
  font-size: #{$font-size-heading-2-min}px;
  height: 60px;
  justify-content: center;
  margin-right: 24px;
  width: 60px;

  @media (min-width: $mq-min-420) {
    font-size: #{$font-size-heading-2}px;
    height: 80px;
    width: 80px;
  }
}

.Highlight-data {
  max-width: 180px;
  padding-top: 5px;
  width: 100%;

  @media (min-width: $mq-min-420) {
    max-width: 220px;
  }
}

.Highlight-number {
  font-size: 24px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.5px;
  line-height: $line-height-reset;
  text-shadow: $shadow-highlight-text;

  @media (min-width: $mq-min-420) {
    font-size: #{$font-size-heading-2}px;
  }
}

.Highlight-label {
  font-size: #{$font-size-heading-6}px;
  font-weight: $font-weight-semibold;
  line-height: (17 / #{$font-size-heading-6});
  margin-top: 7px;
  text-shadow: $shadow-highlight-text;

  @media (min-width: $mq-min-420) {
    font-size: #{$font-size-body-small}px;
    line-height: $line-height-body-small;
  }
}

// Implementation detail

.Feature .Highlight {
  flex: 1 0 100%;

  @media (min-width: $mq-min-660) {
    flex-basis: 298px;
    margin-bottom: 64px;
    margin-top: 64px;
  }

  &:not(:first-child) {
    @media (max-width: $mq-max-660) {
      margin-top: 60px;
    }
  }
}
