@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.table-responsive {
  @media (max-width: $mq-max-600) {
    border-top: 1px solid rgba($color-border-default, $opacity-27);
  }
}

thead {
  .table-responsive & {
    @media (max-width: $mq-max-600) {
      @include visuallyhidden;
    }
  }
}

tr {
  tbody & {
    border-top: 1px solid rgba($color-border-default, $opacity-27);
  }

  .table-responsive & {
    @media (max-width: $mq-max-600) {
      border-top: 0;
      box-shadow: $shadow-table-row;
      display: block;
      margin-bottom: #{$spacing-gutter}px;
      margin-top: #{$spacing-gutter}px;
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }
}

th,
td {
  padding-bottom: #{$spacing-gutter}px;
  padding-top: #{$spacing-gutter}px;
  vertical-align: top;

  &:not(:first-of-type) {
    padding-left: #{(72 / $max-width) * 100%};
  }

  .table-responsive & {
    @media (max-width: $mq-max-600) {
      padding: 12px #{$spacing-gutter}px;
    }
  }
}

th {
  @include fluid-type(
    $min-font-size: $font-size-default-min,
    $max-font-size: $font-size-default,
    $min-width: 600
  );

  color: $color-text-heading;
  font-weight: $font-weight-semibold;
  text-align: left;
}

td {
  @include fluid-type(
    $min-font-size: $font-size-body-small-min,
    $max-font-size: $font-size-default,
    $min-width: 600
  );

  > b {
    color: $color-text-table-cell-emphesis;
    font-weight: $font-weight-regular;
  }

  tr:hover & {
    background-color: rgba($color-border-default, $opacity-07);
  }

  .table-striped tr:hover & {
    background-color: inherit;
  }

  .table-striped tr:nth-child(odd) & {
    background-color: rgba($color-border-default, $opacity-07);
  }

  .table-responsive & {
    @media (max-width: $mq-max-600) {
      display: block;

      &::before {
        color: $color-text-heading;
        content: attr(data-label);
        display: block;
        font-weight: $font-weight-semibold;
        margin-bottom: 12px;
      }
    }
  }

  .table-responsive tr:hover & {
    @media (max-width: $mq-max-600) {
      background-color: inherit;
    }
  }
}
