@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

.ImageBlock {
  @media (min-width: $mq-min-544) {
    align-items: center;
    display: flex;
  }
}

.ImageBlock > a {
  display: block;
  overflow: hidden;
  position: relative;

  @media (max-width: $mq-max-544) {
    margin-left: -#{$spacing-gutter}px;
    width: calc(100% + #{($spacing-gutter * 2)}px);
  }

  @media (min-width: $mq-min-544) {
    min-width: 200px;
  }

  .PartnershipsPage & {
    @media (min-width: $mq-min-544) and (max-width: $mq-max-1024) {
      align-self: flex-start;
      margin-top: 3vw;
    }
  }
}

.ImageBlock--alternate {
  @media (min-width: $mq-min-544) {
    flex-direction: row-reverse;
  }
}

.ImageBlock-photo {
  display: block;
  height: auto;
  max-width: 100%;

  @media (min-width: $mq-min-544) {
    max-height: 720px;
  }
}

.ImageBlock--alternate .ImageBlock-photo {
  @media (min-width: $mq-min-544) {
    max-height: 668px;
  }
}

.ImageBlock-text {
  @media (min-width: $mq-min-544) {
    flex: 0 1 200%;
    margin-left: #{(136 / $max-width) * 100%};
    max-width: 400px;
  }

  h2 {
    @media (max-width: $mq-max-544) {
      margin-top: 32px;
    }
  }
}

.ImageBlock--alternate .ImageBlock-text {
  margin-left: 0;

  @media (min-width: $mq-min-544) {
    margin-right: #{(120 / $max-width) * 100%};
  }

  @media (min-width: $mq-min-1088) {
    margin-left: #{(104 / $max-width) * 100%};
  }
}
