<nav class="Navigation Navigation--mobile js-navigation" role="navigation">
  <ul>
    {{#each navigation.links}}
      <li>
        <a href="{{this.url}}">
          {{this.label}}
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
