@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Navigation
 * @type Molecule
 */

.Navigation {
  @include fluid-type(
    $min-font-size: 12,
    $max-font-size: $font-size-default,
    $min-width: $max-width-banner,
    $max-width: 954
  );

  background-color: $color-background-default;
  color: $color-text-heading;
  font-size: 24px;
  font-weight: $font-weight-semibold;
  line-height: (72 / 24);

  @media (max-width: $mq-max-banner) {
    text-align: center;
  }

  @media (min-width: $mq-min-banner) {
    line-height: $line-height-reset;
  }
}

.Navigation ul {
  font-size: inherit;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $mq-min-banner) {
    display: flex;
    justify-content: space-between;
  }
}

.Navigation a {
  color: inherit;
  text-decoration: none;
  transition: color 200ms;

  @media (max-width: $mq-max-banner) {
    display: block;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-text-default;
  }
}

// Implementation detail

.Banner .Navigation {
  max-width: 464px;
  width: 78%;

  @media (max-width: $mq-max-banner) {
    border-top: 1px solid rgba($color-border-default, .37);
    height: calc(100vh - 48px);
    max-width: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 48px - 1px;
    transition: opacity 400ms, visibility 400ms;
    visibility: hidden;
    width: 100vw;
    z-index: $z-index-modal;
  }

  @media (min-width: $mq-min-banner) {
    margin-left: auto;
  }
}

.Banner .Navigation.is-open {
  @media (max-width: $mq-max-banner) {
    opacity: 1;
    visibility: visible;
  }
}

.Banner .Navigation ul {
  @media (max-width: $mq-max-banner) {
    margin-top: 48px;
  }
}

.Banner .Navigation li {
  @media (max-width: $mq-max-banner) {
    opacity: 0;
    transform: translateY(-26px);
    transition: opacity 200ms cubic-bezier(.23, 1, .32, 1),
      transform 200ms cubic-bezier(.175, .885, .32, 1.275);

    &:nth-child(1) {
      transition-delay: 200ms;
    }

    &:nth-child(2) {
      transition-delay: 250ms;
    }

    &:nth-child(3) {
      transition-delay: 300ms;
    }

    &:nth-child(4) {
      transition-delay: 350ms;
    }
  }
}

.Banner .Navigation.is-open li {
  @media (max-width: $mq-max-banner) {
    opacity: 1;
    transform: translateY(0);
  }
}
