<nav class="Navigation js-navigation" role="navigation">
  <ul>
    {{#each navigation.links}}
      <li>
        <a href="{{ path this.url }}">
          {{ this.label }}
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
