@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Feature
 * @type Organism
 */

.Feature {
  height: #{(446 / 800) * 100vw};
  max-height: 508px;
  min-height: 446px;
  position: relative;
  width: 100%;
}

.Feature--tall {
  height: #{(660 / 800) * 100vw};
  max-height: 1000px;
  min-height: 660px;
}

.Feature .container {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: calc(100% - #{$spacing-gutter + $spacing-gutter}px);
  z-index: $z-index-default;
}

.Feature-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  z-index: $z-index-default;
}
