@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

@mixin marker() {
  background-color: $color-sub-navigation-marker;
  bottom: 0;
  height: 3px;
  position: absolute;
}

.SubNavigation {
  @include fluid-type(
    $min-font-size: $font-size-body-small-min,
    $max-font-size: $font-size-default,
    $min-width: 600
  );

  background-color: $color-background-default;
  color: $color-text-default;
  height: 60px;
  overflow: hidden;
  position: relative;

  @media (min-width: $mq-min-600) {
    height: 90px;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: #{$spacing-gutter}px;
    z-index: $z-index-default;
  }

  &::before {
    background: linear-gradient(to right, $color-background-default 20%, rgba($color-background-default, $opacity-0) 100%);
    left: 0;
  }

  &::after {
    background: linear-gradient(to left, $color-background-default 20%, rgba($color-background-default, $opacity-0) 100%);
    right: 0;
  }
}

.SubNavigation-list {
  height: 100%;
  line-height: $line-height-reset;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;

  @media (max-width: $mq-max-1007) {
    padding-left: #{($spacing-gutter - 14)}px;
    padding-right: #{($spacing-gutter - 14)}px;
  }

  @media (min-width: $mq-min-1007) {
    margin-left: auto;
    margin-right: auto;
    max-width: #{$max-width}px;
  }

  body:not(.InvestorsPage) & {
    border-bottom: 1px solid rgba($color-border-default, $opacity-27);
  }
}

.SubNavigation-item {
  display: inline-block;
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;

  @media (min-width: $mq-min-600) {
    margin-left: 14px;
    margin-right: 14px;
  }
}

.SubNavigation-item.is-active::after {
  .SubNavigation:not(.SubNavigation--scrollSpy) & {
    @include marker();

    content: "";
    left: 0;
    opacity: $opacity-100;
    width: 100%;
  }
}

.SubNavigation-link {
  color: currentColor;
  display: block;
  padding-bottom: 22px;
  padding-top: 26px;
  position: relative;
  text-decoration: none;
  transition: color $timing-fast;

  @media (min-width: $mq-min-600) {
    padding-bottom: 34px;
    padding-top: 39px;
  }

  &:hover,
  &:active {
    .SubNavigation-item:not(.is-active) & {
      color: rgba($color-text-sub-nav, $opacity-60);
    }
  }
}

.SubNavigation-marker {
  @include marker();

  opacity: $opacity-0;
  transition: opacity $timing-fast;
  width: 0;
}
