{{ render "@banner" }}

<main id="main" role="main" tabindex="0">
  {{> @masthead }}

  <div class="sticky">
    {{ render "@location-finder" }}
  </div>

  <div class="LocationsPage-grid container grid">
    <aside class="LocationsPage-aside">
      {{> @location-map }}
    </aside>

    <div class="LocationsPage-content">
      {{> @location-item }}
    </div>
  </div>
</main>

{{ render "@contentinfo" }}
