@import "../../../assets/scss/design-tokens";
@import "../../../assets/scss/functions";
@import "../../../assets/scss/mixins";

/**
 * Component: Stock chart filter
 */

.StockChartFilter {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.StockChartFilter-controls {
  display: flex;

  @media (max-width: 719px) {
    margin-top: 40px;
    width: 100%;
  }

  select {
    height: 44px;
    padding-bottom: 0;
    padding-top: 0;
    width: calc(50% - 4px);

    @media (min-width: 436px) {
      width: 190px;
    }
  }

  select:not(:first-of-type) {
    margin-left: 8px;

    @media (min-width: 720px) {
      margin-left: 24px;
    }
  }
}
